[2017-07-07 09:03] MollieCourtenay opened #898 "coping strategy: add Created: XX/XX/XXXX underneath each coping strategy"
+ [x] as a service user/ carer, looking at my coping strategies list view, I can see the date each of my coping strategies was created 'Created: 08/09/2016' should be on a line underneath all the coping strategy detail.

![screenshot 2018-03-21 09 19 11](https://user-images.githubusercontent.com/24604903/37703889-170b61c6-2cef-11e8-80df-ded011143568.png)

- Font should be same as main coping strat

[2017-07-07 09:07] MollieCourtenay commented on #758
this seems to have been done

[2017-07-07 09:07] #758 closed

[2017-07-07 09:10] MollieCourtenay opened #899 "Sleep and Problem tracker edit success flash message"
+ [x] As a user who has saved a sleep or problem entry, I see this yellow flash message 'Tracker saved successfully, view it in [Tracking Overview](http://healthlocker.uk/tracking-overview)'

[2017-07-07 09:13] MollieCourtenay opened #900 "Clinician view: steps to take for each goal"
+ [x] As a clinician, I see the steps a user has listed to achieve the goal, which ones they have ticked and which ones they have not.
+ [x]  Includes correct checkbox image

<img width="528" alt="screen shot 2017-08-07 at 16 21 08" src="https://user-images.githubusercontent.com/25012688/29033297-7e841c4a-7b8c-11e7-8ae5-2572268808ed.png">
PS - adding achieved date and separating important and achi

[2017-07-07 09:15] MollieCourtenay opened #901 "Tips and home page - remove line break"
These 5 actions are proven to improve personal wellbeing. Read the full document.

+ [x] Read the full document should sit on the same line as the sentence before.
+ [x] add full stop after document.
____
+ [x] Home page (logged in and out)
+ [x]  [healthlocker.uk/tips?tag=BeActive] and for all 5 tip tags pages
+ [x] Tips page

[2017-07-07 09:16] MollieCourtenay opened #902 "Get tips back in!"
+ [x] confirm mark up rules for @katyedwards

[2017-07-07 09:19] MollieCourtenay opened #903 "Add link to feedback page from the bottom of Tips"
+ [x] As a user I can see this link at the bottom of the tips page, it will direct me to feedback page.
 [Share your own tips, or suggest an addition or amendment to this page.](https://www.healthlocker.uk/feedback)

- tips page: healthlocker.uk/tips
- each tip tag page: healthlocker.uk/tips?tag=Connect

[2017-07-07 09:41] #850 closed

[2017-07-07 09:50] MollieCourtenay opened #904 "Messaging, input field"
+ [ ] as a user I see a bigger message text input field. (3 or 4 times deeper than it is now)

+ [ ] as a user typing in a message that is longer than one line length, the text fills the box, and does not run to push the rest of the text out of view. This means I will need a send button I think - as per this conversation from sprint 12.  #751

[2017-07-07 09:57] MollieCourtenay commented on #787
this may be covered in #904

[2017-07-07 10:00] #565 closed

[2017-07-07 10:00] #309 closed

[2017-07-10 09:03] markwilliamfirth commented on #902
We will need further details on this issue - to be confirmed on the call with Katy

[2017-07-10 09:21] markwilliamfirth commented on #807
Email has been verified. This issue is now linked to #894

[2017-07-10 09:51] #887 closed

[2017-07-10 09:52] #885 closed

[2017-07-10 09:53] #839 closed

[2017-07-10 09:55] #882 closed

[2017-07-10 09:58] katyedwards commented on #845
I'll get the pilot teams to test this for us

[2017-07-10 09:58] #845 closed

[2017-07-10 10:01] #838 closed

[2017-07-10 10:04] katyedwards commented on #835
I logged out and clicked back button and logged out again and got the following error screen:

![screenshot 2017-07-10 11 04 02](https://user-images.githubusercontent.com/24604903/28013024-92e8fde2-655f-11e7-845b-40ad184dc26f.png)

[2017-07-10 10:06] katyedwards commented on #835
And logged into 2 tabs, logged out of one and then logged out of the other and got the same error page:

![screenshot 2017-07-10 11 06 03](https://user-images.githubusercontent.com/24604903/28013110-d3721ee8-655f-11e7-9cc0-0bb3a800074d.png)

[2017-07-10 10:15] markwilliamfirth commented on #751
Closing, as this issue has been opened here: https://github.com/healthlocker/healthlocker/issues/904

[2017-07-10 10:15] #751 closed

[2017-07-10 10:21] markwilliamfirth commented on #670
Rob to update this issue

[2017-07-10 10:24] markwilliamfirth commented on #659
Rob to update this issue

[2017-07-10 10:28] markwilliamfirth commented on #42
@katbow would you be able to update us on the status of this issue and the next steps @RobStallion  needs to take here and if there is anything he should be aware of when implementing it?

[2017-07-10 10:30] markwilliamfirth commented on #776
@katyedwards to double check which phone number to display and whether to display address

[2017-07-10 10:33] markwilliamfirth commented on #90
@katyedwards to double check with @MollieCourtenay on priority for this issue

[2017-07-10 10:34] markwilliamfirth commented on #660
@RobStallion to double check status of this issue

[2017-07-10 10:36] markwilliamfirth commented on #59
@RobStallion to double check status of this issue with @katbow

[2017-07-10 10:37] markwilliamfirth commented on #804
@katbow can this issue be closed?

[2017-07-10 11:07] katyedwards commented on #902
Hi @RobStallion as mentioned, I just need to confirm the correct mark up so I can enter the tips and get them displaying correctly first time - as _we_ can't edit or delete the tips once they are in.

Is this the correct way to enter a tip:
![screenshot 2017-07-10 12 05 31](https://user-images.githubusercontent.com/24604903/28015490-1be4d578-6568-11e7-8bca-4e5d03bbb585.png)

To get a live tip hash

[2017-07-10 11:16] katbow commented on #42
The only thing that's been done for the care plan is the coming soon page for connected users.

He'll need to know what table it comes from in ePJS & what information to display from it. If I remember correctly, it contains a lot of information & need to know if it's all meant to be displayed to the user.

[2017-07-10 11:20] katbow commented on #59
All good now. When a service user goes to their care team section, then it checks if their current clinician in the chat matches their clinician in ePJS. If it does, they go to messaging as usual. If not, the previous clinician is removed from accessing the chat & the be clinician is added.

Previous messages are retained & visible.

[2017-07-10 11:24] RobStallion opened #905 "Problem sending the email through SMTP"
Currently getting the following issue when trying to send a feedback email...

`There was a problem sending the email through SMTP.`

![image](https://user-images.githubusercontent.com/15571853/28015988-697509b4-656a-11e7-8b7f-34cc27ef4966.png)

Links to #894

**Steps to replicate..**

- go to `http://staging.healthlocker.uk/feedback`
- enter some text into subject and feedback input areas
- press

[2017-07-10 11:24] RobStallion commented on #894
closing in favour of #905

[2017-07-10 11:24] #894 closed

[2017-07-10 11:26] katyedwards commented on #59
@MollieCourtenay can you check that makes sense to you and is ok to close the issue.  Thanks!

[2017-07-10 11:28] katyedwards commented on #776
Ref #513  This may have been implemented following the closure of 513?

@MollieCourtenay can you add any more detail to this issue...  Thanks!

[2017-07-10 11:28] markwilliamfirth commented on #42
Thanks @katbow

Assigning back to @RobStallion

Requires prioritisation by @katyedwards and @MollieCourtenay

[2017-07-10 11:31] katyedwards commented on #807
Just to clarify, as far as you are aware is this issue done and sorted, just pending the fixing of #894 so we can test it?

[2017-07-10 11:39] MollieCourtenay commented on #776
@katyedwards
 So as longs as for all user types , when a use connects the first and last name from the SUs ePJS record is displayed in stead of the option first and last name they entered on creating heir account then this issue can be closed.

[2017-07-10 11:41] markwilliamfirth commented on #807
@katyedwards yes exactly. This issue can now be tested and closed. It links to the new issue mentioned in your post here https://github.com/healthlocker/healthlocker/issues/894#issuecomment-313350943

As #894 is now solved (module is now available) this has now been closed in favour #905 (which is linked)

[2017-07-10 11:49] RobStallion opened #906 "Server error when clinicians trying to log in using button in ePJS"
Currently the version of HL deployed to Azure (which is the most up to date version of the app and can be found at this URL http://staging.healthlocker.uk/) is sometimes getting the following error when a clinician is attempting to log in using the button in ePJS.

`cannot convert nil to param`
![image](https://user-images.githubusercontent.com/15571853/28016558-d09a57d2-656c-11e7-8a0a-42359a18de0

[2017-07-10 11:56] reddog opened #907 "Staging site should be secure HTTPS only"
The staging site (all pages) can be accessed at http://staging.healthlocker.uk  It should only be accessible over HTTPS, with any access to HTTP redirected to HTTPS.

Access via HTTPS currently doesn't work at all (ie it's not the case that HTTP *and* HTTPS are currently set up, only HTTP is currently set up).

[2017-07-10 11:57] katyedwards commented on #776
@RobStallion @katbow can you update whether this was implemented - when an SU connects to care plan, to pull through and display first name/ last name from ePJS and replace the optional HL first name/ last name.

[2017-07-10 12:10] markwilliamfirth opened #908 "Summary of Healthlocker Azure Hosting Issues for Oxleas"
This issue has been created referencing a request in an email from @katyedwards

As a project lead for Healthlocker and Oxleas I would like an easy-to-understand, general summary of the issues encountered with hosting on Azure on the Healthlocker project in order to better understand and have a comprehensive view of them and whether it's possible to prevent the same issues from happening in future

[2017-07-10 13:38] RobStallion commented on #906
have turned off using edeliver for the staging server and will be running it manually by being `ssh-ed` into the VM. Am going to work this way in order to debug what is happening when the endpoint is hit.

[2017-07-10 14:05] RobStallion commented on #906
Currently have a copy of the server logs both for when the site goes to the correct endpoint and when the server errors. Comparing the two in order to see exactly which step in the code is causing the error

[2017-07-10 14:45] RobStallion commented on #906
Logging in using Gary's encrypted sting works consistently but when using James' we get the error consistently. It appears that a user for James in the database but it is throwing an error when trying to log in.

Currently looking into the `Auth.login` function

[2017-07-10 14:51] markwilliamfirth commented on #906
I can confirm testing on my side that Gary's encrypted string works and James' still throws the same error

![image](https://user-images.githubusercontent.com/5732209/28024075-99d5ecbe-6587-11e7-9f39-7579393e6e4e.png)

[2017-07-10 15:54] RobStallion commented on #906
Have not been able to spot anything wrong with `Auth.login`. The flow seems to work as expected which leads me to believe that the issue is with the actual user in the db.

Next step is to `ssh` into the VM and check the `psql db` users

[2017-07-10 15:59] RobStallion commented on #906
Going to delete James from the database as it appears that he may have been set up before all the migrations had been run.

[2017-07-10 16:08] RobStallion commented on #906
James' url appears to be working correctly now.

Next step

- Going to test with @markwilliamfirth
- if @markwilliamfirth has the same results
  - log in as James and create goals etc..
  - check for errors

[2017-07-10 16:10] markwilliamfirth commented on #906
@RobStallion testing on my side I can see that James' link is now working (in addition to Gary's)

![image](https://user-images.githubusercontent.com/5732209/28027893-a8bcf5f0-6592-11e7-871f-15ee699b1b8d.png)

Over to you @RobStallion to log in as James and conduct further testing 👍

[2017-07-10 16:43] RobStallion commented on #906
Have created test content under James user details and so far everything is working as expected. Have redeployed the staging.server.

@katyedwards could you please test [this link](http://staging.healthlocker.uk/caseload?userdata=AQAAAMykN9181XUji18Iw4aTo8Rdi0ImVbM%2B9mzBTZXCp2CPQgryfNeNE4gNVxmMASO3CS2484wJ/v3QalyeQlcBYSfFmj%2B7TD1wcmKJg0IUOW/nTUdDA3Vl1ptsRPtSHIiLwVF0EJiD2N2n%2BYdytN%2B5B1fdHBLvAL

[2017-07-10 16:47] RobStallion commented on #905
Currently googling possible causes for this error.

@nelsonic just wondered if you might have any idea off the top of your head what it might be that is causing this?

If not, then google and stack overflow will be there 👍

[2017-07-10 16:56] markwilliamfirth commented on #807
Updating this issue as this is currently being blocked by #905

[2017-07-10 20:31] nelsonic commented on #905
@RobStallion best person to ask is @shouston3 👍

[2017-07-10 22:50] shouston3 commented on #905
@RobStallion Likely an aws issue.
When did it start happening? (Check if earlier versions of the code works)
Can you get this working locally?
Have you gotten any emails through from aws recently about your email limits.
Is this a sandbox account?
Have you changed any aws ses config lately?
Have you double checked your api keys on aws?

[2017-07-11 07:58] katyedwards commented on #906
Hi @RobStallion I emailed Garry on my way home yesterday and have asked for additional encoded URLs.  I'll let you know as soon as we have them.

I tried clicking the test link and it took me straight to a caseload view with some un-signed-up users.

So no error, but should I have been getting an authentication failed message?

![screenshot 2017-07-11 08 54 13](https://user-images.githubuserconten

[2017-07-11 08:52] katyedwards commented on #906
**Update from Garry:**

Please find further below 5 URLs generated for the HL staging environment.  My colleagues and I have tested each of these and continue to get mixed results.  We have noted as pattern to this.

If the device being used has the following external IP of 80.0.251.1, the connection fails.
![screenshot 2017-07-11 09 51 23](https://user-images.githubusercontent.com/24604903/280602

[2017-07-11 09:56] RobStallion commented on #905
Hey @shouston3

Thanks for getting back to us on this 👍.

- It works with the version that is currently on heroku.
- It works on localhost with current master.
- Have not received any emails (as far as I am aware, about email limits)
- Not sure about sandbox
- Have not changed any of the aws ses config
- Have double and triple checked the keys in all the locations I can possibly think to check.

I

[2017-07-11 10:14] RobStallion commented on #905
Have emailed Garry and James at SLaM informing them of the issue and asking if they could take a look into it.

Will update the issue with any response received from them

[2017-07-11 10:15] nelsonic commented on #905
@RobStallion if we are attempting to send email via SMTP we need to have that TCP Port open ...
please see: https://mediatemple.net/community/products/dv/204404564/checking-your-outgoing-mail-server-(is-port-25-blocked)

[2017-07-11 10:42] RobStallion commented on #906
have emailed Garry and Stuart (and a few other) regarding this issue. Below is a copy of what was sent...

[code]

[2017-07-11 11:20] katyedwards opened #909 "Error when SU connecting to care team"
**From Garry:**

Description:
Connect with my care team and health record.  Error triggered (screenshot further below).

Steps:
Ensure ePJS patient record is assigned an active Team Member and included in the mhl2 extraction tables
(Patient Record: 152 Tkest)
(Clinician Caseload: Garry Moriarty)

Ensure patient is signed up to Health Locker
(tkest152tkest@outlook.com; 1Clinical1)

Login => Account

[2017-07-11 11:27] RobStallion commented on #906
response from Garry

** Issue uncovered during pre testing **

Descriptions:
Access through to ‘Health Locker’ errors from devices with using an external IP of 80.0.251.1.  The issue appears to be independent of user AD account and/or ePJS user account.

Steps:
To test for error condition, go to device using external IP of 80.0.251.1
http://staging.healthlocker.uk/caseload?userdata=**encrypted_str

[2017-07-11 11:27] RobStallion commented on #906
my reply to that...

[code]

[2017-07-11 11:28] RobStallion commented on #905
Stuarts response to email...

[code]

[2017-07-11 11:29] RobStallion commented on #905
my reply to Stuart

[code]

[2017-07-11 11:36] RobStallion opened #910 "email from Garry."
Description:
Connect with my care team and health record.  Error triggered (screenshot further below).

Steps:
Ensure ePJS patient record is assigned an active Team Member and included in the mhl2 extraction tables
(Patient Record: 152 Tkest)
(Clinician Caseload: Garry Moriarty)

Ensure patient is signed up to Health Locker
(tkest152tkest@outlook.com; 1Clinical1)

Login => Account => Connect with

[2017-07-11 11:38] RobStallion commented on #910
closed in favour of #909

[2017-07-11 11:38] #910 closed

[2017-07-11 11:43] markwilliamfirth commented on #907
Mark and @RobStallion to ask @nelsonic advice on how to resolve this quickly

[2017-07-11 11:51] markwilliamfirth commented on #902
@katbow could you give @RobStallion an example of how a tip should be entered by an admin?

[2017-07-11 12:00] MollieCourtenay commented on #909
Could this be because Garry is signed  in as a clinician ?

[2017-07-11 12:00] MollieCourtenay commented on #909
@robstallion

[2017-07-11 12:03] MollieCourtenay commented on #909
@katyedwards

[2017-07-11 12:24] markwilliamfirth commented on #861
**Key things to update:**
Footer
Coping strategies alignment

**Rob to Research:**
- 10m Spike into creating clinicians / users on postgres side (Staging Site)
- Whether he is able to find most recent Heroku version of app to make quick updates (Heroku Site)

[2017-07-11 12:43] markwilliamfirth opened #911 "Token Expiry"
**Summary**
- [x]  Create functionality to expire clinician link tokens after 10 minutes

As a project lead for the healthlocker project, I want to ensure that the application has sufficient security. This involves ensuring that URL tokens expire after a certain time period from being generated. This reduces the chance of a clinician being able to access healthlocker outside of their workplace.

[2017-07-11 12:52] markwilliamfirth opened #912 "Changing Forgotten Password Flow for Clinicians"
If a clinician tries to change their password in the application instead of it sending the link to their email, it should instead follow the normal could not reset password flow.

[2017-07-11 15:01] nelsonic commented on #912
@markwilliamfirth / @RobStallion  was this story requested/validated by the product owner?
(_not saying it's not a good idea to "enforce" Clinician Login via ePJS, just that we need confirmation of issues `before` working on them ..._)

[2017-07-11 15:07] MollieCourtenay opened #914 "Get support amends"
+ [x] disclaimer in italics at the bottom of the page:
_Any links provided within Healthlocker are done so as a convenience and for informational purposes only; they do not constitute an endorsement or an approval by South London and Maudsley NHS Foundation Trust of any of the products, services or opinions of the third party. South London and Maudsley NHS Foundation Trust take no responsibility f

[2017-07-11 15:08] markwilliamfirth commented on #912
@nelsonic yes I can confirm this feature was requested by @reddog and @katyedwards for security reasons

[2017-07-11 15:11] katyedwards opened #915 "ERROR: Messages not submitting"
Description:
Messages posted do not display.  Neither the signed up service user or linked member of the care team:

Steps:
Ensure ePJS patient record is assigned an active Team Member and included in the mhl2 extraction tables
(Patient Record: EDT 3 Tkest)
(Clinician Caseload: Garry Moriarty)

Ensure patient is signed up to Health Locker
(tkestedt3tkest@outlook.com; 1Clinical1)

Ensure ‘Connect w

[2017-07-11 15:12] katyedwards commented on #915
Have checked with Garry and this was the case for messages from 1 character up to a paragraph - so **not** related to issue #880

[2017-07-11 20:44] RobStallion commented on #909
Looks like this is an issue to do with duplicate clinicians in the `mhlteammembers` table. Will use `Enum uniq/uniq_by` to filter clinicians list for duplicates (in `healthlocker.slam.connect_slam.ex`. Could also be an issue in `healthlocker.slam.connect_carer.ex`).

[2017-07-11 22:40] iteles commented on #833
Done for June payments onwards.

[2017-07-11 22:40] #833 closed

[2017-07-11 23:14] katbow commented on #776
Yes, it updates to the name from ePJS & displays in account profile, but it's not editable.

[2017-07-12 02:46] nelsonic commented on #912
@markwilliamfirth no, the Product Owner should reply in the issue, as far as I'm aware that's still @MollieCourtenay

[2017-07-12 06:11] MollieCourtenay commented on #912
@katyedwards requested after we spoke about it the other day.
Please continue

But note it may be a requirement in the future to open HL up in some way to be accessed by clinicians not only via ePJS. So if there is anyway to do it which makes it easier to undo. That may be useful..

[2017-07-12 07:13] katyedwards commented on #912
@MollieCourtenay as I understand it, it should be easily undo-able.  @RobStallion can confirm that.

[2017-07-12 07:15] katyedwards commented on #909
@RobStallion do you need anything from the SLaM side to fix this or are you able to get it sorted?

[2017-07-12 08:54] #776 closed

[2017-07-12 09:03] RobStallion commented on #902
@katyedwards the image you posted on how the tips should be formatted is almost exactly right.

![image](https://user-images.githubusercontent.com/15571853/28109972-cce509e8-66e8-11e7-9650-c0220ccddb79.png)

The only thing that needs to be different is that there should be no spaces between the `#` and the words `Tip` or `TakeNotice`

[2017-07-12 09:06] katyedwards commented on #906
@RobStallion Response from Garry yesterday, not sure if this was picked up:

Hi Rob,

I can confirm we see the (110) Connection Timeout Error for http://staging.healthlocker.uk/ from a device assigned the external IP of 80.0.251.1.

Kind regards,

Garry

[2017-07-12 09:09] katyedwards commented on #902
Great thanks.  I'll close this and will get adding this afternoon or tomorrow.

[2017-07-12 09:09] #902 closed

[2017-07-12 09:11] reddog commented on #911
Can I just check that the server time is set correctly and being kept correct (NTP?), otherwise token expiry times won't match.

[2017-07-12 09:15] reddog commented on #909
@RobStallion is the `mhlteammembers` table in MSSQL (SLaM ePJS extract) or PostgreSQL (HL) database?

Is it expected that there would be multiple entries for clinicians in this table?  Selecting with a `uniq` query may well fix this issue (and be an example of robust code), but it isn't covering for another issue (possibly not yet fully understood) elsewhere is it?

[2017-07-12 09:31] RobStallion commented on #911
@reddog We need to check with the SLaM team on how the time in the string is generated. For example is it always `UTC +0` or does it change with the for BST and got to `UTC +1`

[2017-07-12 09:43] reddog commented on #911
@RobStallion Would you like us to check - happy to do so?  Is this a block?

[2017-07-12 09:47] RobStallion commented on #911
That would be great @reddog

[2017-07-12 10:06] markwilliamfirth opened #916 "Documentation for Database and User Flows"
We need to create/document/write up (in the best & quickest initial form):

1.  HL database structure, data stored (for ePJS extract, self-generated user password, etc), format of stored data (encrypted, clear text, etc), etc

2.  all user (client, clinician, etc) login / password reset / other access (API?) flows (eg ePJS userdata URL, login button, etc) and what authentication and authorisation

[2017-07-12 10:16] markwilliamfirth commented on #911
@reddog this isn't a block - Rob is currently writing the code to solve the issue, the timezone is a necessity to compare the times properly, but it doesn't change the functionality of the code

[2017-07-12 10:19] markwilliamfirth commented on #907
To update this issue:

Nelson is currently debugging

- temporarily shutting down app on staging.healthlocker.uk to update configuration
- adding SSL via NGINX proxy on `staging`

[2017-07-12 10:21] markwilliamfirth commented on #906
Thanks for the update @katyedwards

[2017-07-12 10:23] RobStallion commented on #906
@katyedwards this is still waiting on a fix from SLaM. The response from Garry was just to confirm that is wasn't a problem with the endpoint in HL but that it was an issue with some IP addresses being blocked on the staging server.

I believe that Stuart was looking into getting this resolved as he stated it was being looked into in the email chain

![image](https://user-images.githubusercontent.

[2017-07-12 10:37] katyedwards commented on #906
Thanks @RobStallion I'll chase Stuart on that too and will try to get a time estimate from him.

[2017-07-12 12:00] RobStallion commented on #911
email @reddog sent to SLaM earlier today...

[code]

[2017-07-12 12:02] RobStallion commented on #911
will test functionality of this on the branch ooh in order to keep disruptions to a minimum for anyone who may be using the site as it will need to be taken down temporarily.

[2017-07-12 12:43] reddog commented on #911
@RobStallion Feedback from Garry at SLaM as follows:

[2017-07-12 13:23] RobStallion commented on #911
The tests are all passing now and everything appears to be working as expected but as stated above, would like to test with the real data before merging opening the pr to be merged into master. This will require the site being down for a short amount of time so will do ooh

[2017-07-12 16:40] RobStallion commented on #911
The following encrypted string with a `tokenexpiry` that is 2 years from now goes to the correct HL endpoint...
[code]

Screen shot of HL endpoint with encoded URL
![image](https://user-images.githubusercontent.com/15571853/28128723-94a5bfba-6728-11e7-9bd7-c3c4b7d93cb2.png)

When we pass in the following URL with a `tokenexpiry` that has already passed the site redirects to the HL home with a flas

[2017-07-12 17:09] katyedwards commented on #912
@RobStallion

Garry has tried testing and got an error page - looks like the same problem as #905 but I would assume this shouldn't be happening here because the system shouldn't be trying to send an email.

Can you advise.

FYI - I asked him to try to use the forgot password link to access a clinician password.  He got the following error:

![image004](https://user-images.githubusercontent.com/24

[2017-07-12 17:11] katyedwards opened #918 "ERROR - Care Team View for Service User"
Description:  Care Team view

Steps:
Service User email address: Tkestedt3tkest@outlook.com
Password: 1Clinical1

Login => Navigation Pane  => Care Team

Error:

Immediate error

![image003](https://user-images.githubusercontent.com/24604903/28130025-7e0500d6-672d-11e7-82f3-95c030680f78.png)

[2017-07-12 17:29] reddog commented on #912
@RobStallion Do you have the email address of a clinician with which you can test against (there are examples in some of the unencrypted userdata strings we have - are any of these in the database, or could you pull a user out of the database who is a clinician for testing, or alternatively create a service user account and change the role to clinician in the database for testing - don't know if a

[2017-07-13 07:04] katyedwards commented on #906
Morning @RobStallion Stuart has emailed to say this one has been fixed.  Can you check/ test and let me know when it can go over to Garry to test.  Thanks!

[2017-07-13 07:13] nelsonic commented on #907
visiting staging.healthlocker.uk gets _automatically_ re-directed to:  https://staging.healthlocker.uk
![image](https://user-images.githubusercontent.com/194400/28154628-b7cb3cfc-67a2-11e7-9d7f-a34ee0225741.png)

_However_ there is a "_content warning_" because an image is still being served over HTTP (_unencrypted_).
And that image is:
![image](https://user-images.githubusercontent.com/194400/281

[2017-07-13 07:21] nelsonic commented on #907
Google Chrome ***Canary*** is _smart_ enough to realise that the only image that is being served _insecurely_ is on a different domain and informs the user that the Healthlocker app is "Secure":
![image](https://user-images.githubusercontent.com/194400/28154906-0c665cf0-67a4-11e7-8d32-08d216b0e998.png)

Safari just shows the 🔒  icon in the URL Bar:
![image](https://user-images.githubusercontent.co

[2017-07-13 07:59] katyedwards commented on #907
All the SLaM recovery stories and images are on an http site - is there a reason that particular image seems to be causing problems when the others are ok?

[2017-07-13 08:01] katyedwards commented on #906
Handed over to Garry to test.

[2017-07-13 08:04] RobStallion commented on #909
Below is a screen shot showing that SU can now connect to care team if that care team has the same member multiple times.

![image](https://user-images.githubusercontent.com/15571853/28156222-c2507a6e-67a9-11e7-9311-09f5a9424e3e.png)

[2017-07-13 08:04] nelsonic commented on #907
@katyedwards that is the only image that is being requested by HL over **http** (_unencrypted_)

[2017-07-13 08:07] katyedwards commented on #906
Morning Katy,

I’ve had the team here testing through the morning.  No repetition of the error so far.

Kind regards,

Garry

[2017-07-13 08:07] #906 closed

[2017-07-13 08:47] katyedwards opened #920 "Clinician with no Caseload gets Authentication Failed"
Reported by Garry:
If the clinician clicking the ‘Healthlocker’ button on ePJS has no caseload, then they are displayed an ‘authentication failed’ message.  The link below will provide an example..

Grant Steele (Clinician - no patients on ePJS caseload)
http://staging.healthlocker.uk/caseload?userdata=AQAAAP14c7MWE5Z0TUhoWVUKny1bYPu1bCsgtPWBP8fN5wdLitPSGcmVyKUVYDLYbCwGvqsG70AZe%2BczZxXrJLFY4VncqO

[2017-07-13 09:18] reddog commented on #907
@katyedwards Each story has an image and this is always retrieved from SLaM over regular HTTP (see https://staging.healthlocker.uk/posts ).  We need to take that up separately (maybe host the images -
 doesn't sound best, ask SLaM to move to HTTPS - sounds like a big request, something else?).

We've tested access to the site from a number of locations and it always go to HTTPS.  HTTP access has a

[2017-07-13 09:25] katyedwards commented on #907
Yes thanks.  Will create an issue for the backlog around this retrieval of slam images over HTTP so we don't forget about it and can revisit in a future phase.

[2017-07-13 09:25] #907 closed

[2017-07-13 09:27] katyedwards opened #921 "Story Images retrieved over HTTP"
Opening this to follow on from #907 - for us to revisit in a future phase.

From @reddog
Each story has an image and this is always retrieved from SLaM over regular HTTP (see https://staging.healthlocker.uk/posts).

We need to take that up separately:
- maybe host the images - doesn't sound best
- ask SLaM to move to HTTPS - sounds like a big request
- something else?

[2017-07-13 09:54] RobStallion opened #922 "staging server not up to date with master"
@nelsonic The staging server seems to be linked to https://github.com/nelsonic/healthlocker which is currently behind HL's version of master. Just wanted to check and see if you were aware of this and if this or if this is meant to be the case?

[2017-07-13 10:29] katyedwards commented on #807
@RobStallion Stuart asked me to test and the forgot password link worked and I received an email with the reset link.

So I think you can work on this issue again.

FYI - the reset link directed me to Healthlocker.uk not staging.healthlocker.uk so I got an HL error and was not able to reset my password.

![screenshot 2017-07-13 11 28 57](https://user-images.githubusercontent.com/24604903/28162308-

[2017-07-13 10:30] katyedwards commented on #905
@RobStallion

Stuart asked me to test and I got an error on the feedback link in the pink banner (forgot password email worked though)

![screenshot 2017-07-13 11 21 01](https://user-images.githubusercontent.com/24604903/28162365-a8d35f4c-67be-11e7-86b8-f1bcaf6fb27a.png)

I sent this to him and he has says:
_SMTP is enabled outbound to the internet from this server. Can you test at a lower level t

[2017-07-13 10:41] RobStallion commented on #905
@katyedwards

![image](https://user-images.githubusercontent.com/15571853/28162726-04f26560-67c0-11e7-898c-f209e203472c.png)

Could you ask @MollieCourtenay to check and see if she has received an email saying `staging not edeliver` (I think it's @MollieCourtenay that receives these emails, sorry if it's not)

[2017-07-13 10:50] RobStallion commented on #807
Copy of email that is sent for password reset.

![image](https://user-images.githubusercontent.com/15571853/28163029-4c43162a-67c1-11e7-88a2-29228ec3a011.png)

[2017-07-13 11:16] katyedwards commented on #905
@RobStallion Mollie did receive the email - at 11.39

[2017-07-13 11:20] nelsonic commented on #922
@RobStallion the stating server is deployed via `edeliver` from HL's master.
this is _built_ in: `/home/hladmin/healthlocker`
please _limit_ your editing of `/home/hladmin/hl-app` to a _minimum_.
I changed the `git remote` in `/home/hladmin/hl-app` to `https://github.com/nelsonic/healthlocker.git` to _test_ the `prod.exs` (_configuration file_)
this _can_ be changed back to `git@github.com:healthl

[2017-07-13 12:51] RobStallion commented on #922
Thanks for the update @nelsonic. I haven't changed any of the files permanently on hl-app. I only used it as a place to test code before submitting it to be merged into master as I didn't want it being merged in blind.

[2017-07-13 13:15] nelsonic commented on #841
running:
[code]
we see:
![image](https://user-images.githubusercontent.com/194400/28167700-64e959ec-67d4-11e7-9821-e51bed0cead9.png)

adding `STAGING_HOSTS` config now. ⌛️

[2017-07-13 13:16] katyedwards opened #924 "Help Buttons open in same window and you lose any filled in content"
This occurs on:

- [x] Account Page - 2 help buttons on the two links to connect to slam account
https://staging.healthlocker.uk/account
![screenshot 2017-07-13 14 09 29](https://user-images.githubusercontent.com/24604903/28167919-3ea24572-67d5-11e7-9e84-d369b9d68216.png)

- [x] Connect with my care team page
https://staging.healthlocker.uk/account/slam
![screenshot 2017-07-13 14 12 38](https://us

[2017-07-13 13:16] RobStallion commented on #880
![image](https://user-images.githubusercontent.com/15571853/28168079-ce113f2e-67d5-11e7-93fd-42c69c50a542.png)

Can now send very long messages as shown above

[2017-07-13 13:18] katyedwards opened #925 "ERROR: Bad Gateway when returning to Account"
Logged in as SU.

Clicked on Account in Menu, clicked on the connect to care team of someone I care for link.

Then clicked on Account in the menu again to return to the main account page and got a bad gateway screen:

![screenshot 2017-07-13 14 14 32](https://user-images.githubusercontent.com/24604903/28168126-fe03c364-67d5-11e7-8fce-7577531b9c75.png)

[2017-07-13 13:19] katyedwards commented on #915
@RobStallion any chance this will have been fixed by any of the other fixes you have been doing?

[2017-07-13 13:20] katyedwards commented on #880
Amazing!

[2017-07-13 13:28] katyedwards commented on #925
Not been able to recreate the problem, so believed to be due to the site being temporarily down during development.

[2017-07-13 13:28] #925 closed

[2017-07-13 13:49] RobStallion commented on #912
@reddog if you try to reset the password of any clinicians you should get the following flash message...

![image](https://user-images.githubusercontent.com/15571853/28169492-639e84ee-67da-11e7-965a-5b244579ef0d.png)

Test it out with Garry or James' emails.

[2017-07-13 14:04] RobStallion opened #926 "updating variables when site is deployed with edeliver"
Currently getting the following issue when trying to send a feedback email

![image](https://user-images.githubusercontent.com/15571853/28169967-ceb0a4d2-67db-11e7-8956-ac5b63ba2d71.png)

I know that the error is on this line
[code]

and it is that the HL email should have no capital letters.

To update the variables when the site is deployed do we just have to update them in the ssh?

[2017-07-13 14:12] katyedwards commented on #880
@RobStallion have you tested this?  I will have to pass to Garry to test as I don't have access to any connected users on the staging environment.

[2017-07-13 14:14] #926 closed

[2017-07-13 14:15] RobStallion commented on #926
Nelson gave update in slack

each time the app is built/deployed using `edeliver` the `.profile` is reloaded https://github.com/healthlocker/healthlocker/blob/310e02ee57c59f7893fd9f104aaefbaff62a7a09/.deliver/config#L14

[2017-07-13 14:21] nelsonic commented on #926
@RobStallion only place I can see with email in that case (`HealthLocker@slam.nhs.uk`) is: https://github.com/healthlocker/healthlocker/blob/b23bea1d055b370484ecfdad9698b23be9667c7f/web/templates/page/privacy.html.eex#L112

On the _staging_ server: ```cat /home/hladmin/.profile```
should show you:
[code]
in lowercase.

[2017-07-13 14:22] nelsonic commented on #926
FYI: I prefer _not_ to reply in "Slack" (_or any other chat_) as it means other people are out-of-the-loop.

[2017-07-13 14:23] nelsonic commented on #922
@RobStallion developers _really_ should not be making _any_ changes on the `staging` server,
all code should be written on `localhost`, pushed to GitHub, reviewed, merged & auto-deployed.

the _only_ reason we modified code on `staging` during the MS SQL debugging
was because it would take _weeks_ to do it "blind".
we need to "phase out" manually modifying _any_ code on the `staging` server ASAP
a

[2017-07-13 14:42] markwilliamfirth commented on #918
This is still an issue following deployment

[2017-07-13 14:44] katyedwards commented on #807
Yes, all working.

[2017-07-13 14:44] #807 closed

[2017-07-13 14:47] RobStallion commented on #922
Ok I get that. No problem, will keep that in mind going forward.

[2017-07-13 14:51] katyedwards commented on #905
Both password reset and feedback email now working.

[2017-07-13 14:51] #905 closed

[2017-07-13 14:53] katyedwards opened #927 "Change from staging.healthlocker to Reflect Correct URL (healthlocker.uk)"
When healthlocker.uk has been redirected to the staging site - the password reset link will need to be updated...

Current example:
https://staging.healthlocker.uk/password........

Will need to take them to
https://healthlocker.uk/password/......

[2017-07-13 14:56] RobStallion commented on #926
I had updated the variable on the staging server to make it all lowercase which is why it showed as above. I just wasn't sure how the deployed version would see that change which is what you helped me understand.

Sorry for starting the convo in slack btw as I know that it excludes people.

Thanks

[2017-07-13 14:57] #922 closed

[2017-07-13 15:00] katyedwards commented on #880
Blocked by #915

[2017-07-13 15:01] katyedwards commented on #912
Yep working!

[2017-07-13 15:01] #912 closed

[2017-07-13 15:05] katyedwards commented on #911
Yes working thanks!

[2017-07-13 15:05] #911 closed

[2017-07-13 15:11] katyedwards opened #928 "Error when disconnecting from SLaM Account"
Logged in as
tkest152tkest@outlook.com

Went to account - and disconnect SLaM account - 'yes disconnect'

Error:
![screenshot 2017-07-13 16 08 54](https://user-images.githubusercontent.com/24604903/28173259-cce2dba2-67e5-11e7-8fc4-3bc71ae5b7ba.png)

[2017-07-13 15:14] katyedwards commented on #909
Passed to Garry to test

[2017-07-13 17:02] katyedwards opened #929 "One Tip has the wrong icon"
No idea why this one GiveToOthers tip has a connect icon?!

It was the same on the old heroku though too I just checked.

![screenshot 2017-07-13 17 57 44](https://user-images.githubusercontent.com/24604903/28178094-0a45ebd8-67f5-11e7-8f1d-616e24071c3d.png)

[2017-07-13 23:01] nelsonic commented on #841
Attempting to do Auto-Versioning for release precision:
https://github.com/edeliver/edeliver/wiki/Auto-Versioning

for some reason the release is not on the build (`staging`) server:
![image](https://user-images.githubusercontent.com/194400/28191282-3e7f9cd2-6827-11e7-9c15-ad6c69331dc4.png)

[2017-07-14 07:51] nelsonic commented on #841
build initial release:
[code]
that worked fine.

then I attempt to run an "upgrade" command:
[code]
but still get error:
[code]

Continuing to investigate ...

[2017-07-14 08:19] RobStallion commented on #915
This appears to be an error with how `edeliver` deploys the site to the staging server. Will look into why this might be happening starting with the build.

[2017-07-14 08:25] RobStallion commented on #918
Currently this functionality only works for when a clinician has left the care team and another clinician joins the team.

Will add clauses to allow of other possibilities

- A clinician being added to the care team
- A clinician leaving the care team
- One clinician being added and another being removed.
- The care team remaining unchanged

[2017-07-14 08:28] RobStallion commented on #928
when this function was first made it was designed thinking a SU would only have one clinician assigned to their care team.

Will update function to allow for multiple rooms to be deleted at one time.

[2017-07-14 08:41] katyedwards commented on #909
Garry has confirmed all ok.  Thanks!

[2017-07-14 08:41] #909 closed

[2017-07-14 09:36] reddog commented on #915
@RobStallion When you get to working on this issue, it would be really interesting to understand a little more about why this feature was working and now isn't, and how it being broken relates to the depolyment method and if anything can be done to get to a (different?) solution faster.

[2017-07-14 09:44] reddog commented on #918
@RobStallion Thanks for the details of the extra cases to be covered.  Is that all use cases for this action?

The initial issue report, https://github.com/healthlocker/healthlocker/issues/918#issue-242452513 shows an error on first view (ie without further action).  Will that be covered?

[2017-07-14 09:50] reddog commented on #909
@RobStallion Were you able to consider my comment at https://github.com/healthlocker/healthlocker/issues/909#issuecomment-314704443 ?  Do we fully understand how/why there were multiple rows in the database and if that should / shouldn't be the case?  Just want to ensure we've fully understood the underlying issue to help ensure that we've fully addressed it and it doesn't recur in a different for

[2017-07-14 10:00] reddog commented on #926
@RobStallion @nelsonic What does this mean for the deployment plan (possibly particularly for when a different developer performs a deployment)?  Is there a requirement for the `.profile` of the deploying user to be correct with Health Locker staging / production environment settings?  Deployment is from a developer's local machine?

If this means that a deploying developer's local `.profile` has

[2017-07-14 10:04] RobStallion commented on #909
@reddog `mhlteammembers` is a MSSQL table and can/does have multiple entries for clinicians in the table. This happens because the clinician can have multiple roles in one care_team and each role gets entered as a new row in the db table.

Hope this answers your question. Sorry I missed it first time round

[2017-07-14 10:12] reddog commented on #909
@RobStallion Thanks for that.  So to confirm, your new code now anticipates that there may be/will be multiple entries per clinician per room?  Thanks.

[2017-07-14 12:26] RobStallion commented on #915
![image](https://user-images.githubusercontent.com/15571853/28212091-bdfd3314-6897-11e7-8f1b-5d07fe3b5982.png)

[code]

Above is the error message that is coming up in the console when on a messaging page.

[2017-07-14 12:37] RobStallion commented on #841
We are currently having an [issue with sending messages](https://github.com/healthlocker/healthlocker/issues/915). It appears to be an issue with when the side is deployed using edeliver.

@nelsonic do you have any leads on what could be causing this. If not I would like to look at the logs created during the edeliver build to see if they might have any clues on what could be going wrong. Would th

[2017-07-14 13:36] reddog commented on #880
@RobStallion Out of interest, was your test above at https://github.com/healthlocker/healthlocker/issues/880#issuecomment-315074516 on your local machine, staging or the Heroku site?

[2017-07-14 13:38] reddog commented on #841
@nelsonic @RobStallion Is this due to a mis-configuration with nginx for websockets?

See:
http://www.phoenixframework.org/docs/advanced-deployment#section-setting-up-our-web-server
https://stackoverflow.com/questions/38229629/how-to-set-up-websockets-with-phoenix-behind-nginx

[2017-07-14 13:42] reddog commented on #915
Blocked by #841

[2017-07-14 14:59] markwilliamfirth commented on #915
@reddog it doesn't appear that this is a blocker - #841 has a lot of issues that link to it, (due to the fact it has a wide scope) but the completion of #915 does not appear to rely on #841 being finished. Would you be able to explain more about why it might be a blocker?

[2017-07-14 15:00] reddog commented on #915
@markwilliamfirth See @RobStallion's comment here:  https://github.com/healthlocker/healthlocker/issues/841#issuecomment-315349219

[2017-07-14 15:18] RobStallion commented on #895
Hey @MollieCourtenay @katyedwards

I'm not going to deploy these changes just yet so thought I would post the screen shots so you could say if this is what you had in mind for these issues.

**HL email**

![image](https://user-images.githubusercontent.com/15571853/28218211-bdff9d8a-68af-11e7-832a-ffa28b9e9025.png)

**Trust service desk**

![image](https://user-images.githubusercontent.com/15571853

[2017-07-14 15:23] katyedwards commented on #895
Hi @RobStallion yep - that looks good, thanks

[2017-07-14 17:54] RobStallion commented on #928
Getting a new error now that the code has been updated...

[code]
![image](https://user-images.githubusercontent.com/15571853/28224133-df01ee3c-68c5-11e7-99ab-0e925f3c4f61.png)

Believe that the key should be `Staff_ID` not `id` as we currently have

[2017-07-14 17:55] RobStallion commented on #918
Getting a new error now that the code has been updated...

[code]
![image](https://user-images.githubusercontent.com/15571853/28224133-df01ee3c-68c5-11e7-99ab-0e925f3c4f61.png)

Believe that the key should be `Staff_ID` not `id` as we currently have

[2017-07-17 07:36] katyedwards commented on #928
Yep, working great now!

[2017-07-17 07:36] #928 closed

[2017-07-17 14:56] katyedwards commented on #924
First 2 on Account Page work great.
'Connect to Care Team of someone I care for' works great.

'Connect to my Care Team' Page - still opens in same tab and the 'close' button doesn't do anything:
![screenshot 2017-07-17 15 54 01](https://user-images.githubusercontent.com/24604903/28274229-3eed3c4a-6b08-11e7-9e20-37a7e0a4a7f7.png)

Sorry @RobStallion!

[2017-07-17 14:57] katyedwards commented on #895
Lovely thanks!

[2017-07-17 14:57] #895 closed

[2017-07-17 15:02] katyedwards commented on #918
Have passed to Garry to test

[2017-07-18 08:21] katyedwards commented on #915
Hi @nelsonic can you have a look at this issue for us. I appreciate HL should have been completed by now and you are on other projects, but if it is the problem it seems to be - I understand that is more within your remit than Rob's and we need to get over this final hurdle ASAP so we can handover to SLaM.

Can you confirm your availability to look at this today please.  Thanks!

[2017-07-18 08:21] katyedwards commented on #918
Garry has confirmed all good - thanks!

[2017-07-18 08:21] #918 closed

[2017-07-18 12:14] katyedwards opened #934 "ERROR: Function Clause Error on Care Team View (for SU)"
Logged in as tkestedt3tkest@outlook.com going to ‘Care Team’ on the menu gives an error screen:

![screenshot 2017-07-18 12 48 44](https://user-images.githubusercontent.com/24604903/28316439-cf8bd47a-6bba-11e7-8daf-2d3ff9c3da41.png)

Tried a different user and got the same problem:
user: tkest152tkest@outlook.com
![screenshot 2017-07-18 13 13 15](https://user-images.githubusercontent.com/24604903/

[2017-07-18 12:15] katyedwards commented on #934
? relates to the issue I closed this morning #918?

[2017-07-19 16:41] katyedwards commented on #915
HI @nelsonic Ines said you were going to look at this via #841 today - can you update us on how you got on - there doesn't seem to be anything new on either issue.  Thanks!

[2017-07-20 10:05] nelsonic commented on #841
@reddog yes, the NGINX proxy pass for WebSockets needs to be configured.

[2017-07-20 10:06] nelsonic commented on #915
@katyedwards yes, looking at it now. 👍

[2017-07-20 11:22] reddog commented on #841
@nelsonic Thanks for the update.  I have tried with a test service user but it still failed:

![image](https://user-images.githubusercontent.com/151362/28415046-fe0c04a0-6d45-11e7-92bc-65057576b0c9.png)

`app.js:1 WebSocket connection to 'wss://staging.healthlocker.uk/socket/websocket?token=SFMyNTY.g3QAAAACZAAEZG…c2lnbmVkbgYAxxK6X10B.bHoL6JSDGf58SX4D9_sp8VLWtmHNaY15s4qDStZgjTQ&vsn=1.0.0' failed: E

[2017-07-20 11:32] nelsonic commented on #841
@reddog still debugging it. the configuration has been set to proxy-pass WebSockets since last week when it was deployed, and there are no errors in the NGINX logs so trying to figure out why ...

[2017-07-20 11:35] reddog commented on #841
@nelsonic what are the contents of the current nginx configuration file?

[2017-07-20 11:46] nelsonic commented on #841
@reddog _current_ NGINX config file: https://github.com/healthlocker/healthlocker/pull/936/files#diff-1ac1daaa31404162e1787cc7e6a31058

[2017-07-20 13:41] RobStallion opened #937 "Separate HL and ePJS into two different and independent applications"
We will be _splitting_ out the ePJS-related code into an "umbrella" and analysing the _difference_ between the `oxleas` and (SLaM) `healthlocker` instances of the app to figure out if there are any _other_ "Umbrella" apps we can isolate.

Our _plan_ is to _minimise_ the amount of code "duplication" and use configuration files for deployment as much as possible rather than customising the code dire

[2017-07-20 13:48] RobStallion commented on #937
@nelsonic I am slightly unsure the best approach to take once I start splitting out the `ePJS` functionality from the `HL` app as it errors once it has been removed.

I am thinking that I could require the `ePJS` app back into HL and call the functions where needed. Then have an `Oxleas` app and do the same thing for when the app is run for Oxleas and just have a config file that tells `HL` which

[2017-07-20 14:57] RobStallion commented on #937
Have created a spike umbrella application which has the full `HL` application under the `apps` directory.

The first step is to run `mix deps.get` to install all the dependencies.
During this step I got the following error...

![image](https://user-images.githubusercontent.com/15571853/28423620-6d566144-6d63-11e7-9859-4ebd23a7a37b.png)

Following the instructions on screen I added that to the `mix

[2017-07-20 15:11] RobStallion commented on #937
Once I had run `npm i` I got the following error...
![image](https://user-images.githubusercontent.com/15571853/28424526-c0a3d014-6d65-11e7-8c07-270a312f35d7.png)

Looking into possible causes now. Think that this may have something to do with file paths not pointing back to the route so going to compare it against a simple umbrella app that can be found [here](https://github.com/RobStallion/phoen

[2017-07-20 15:27] nelsonic commented on #387
Open question on StackOverflow: https://stackoverflow.com/questions/33542555/nodejs-error-during-websocket-handshake-unexpected-response-code-400-on-nginx no answer ... 😞

[2017-07-20 15:27] RobStallion commented on #937
have fixed the issue by updating the file paths in the package.json to the following...

[code]

![image](https://user-images.githubusercontent.com/15571853/28425485-5d75154a-6d68-11e7-8ad5-3c0357b20029.png)

[2017-07-20 15:33] RobStallion commented on #937
next step it to check that the app works as expected. If so then begin the process of splitting out ePJS into it's own application.

[2017-07-20 15:35] nelsonic commented on #937
@RobStallion looks like you are making good progress, do you need my help?

[2017-07-20 15:37] RobStallion commented on #937
I am alright for the time being. I just wanted to check if this was the approach the you would recommend when it came to the umbrella app

[2017-07-20 15:51] RobStallion commented on #937
getting the following error...

[code]

![image](https://user-images.githubusercontent.com/15571853/28426502-31ea9140-6d6b-11e7-8f2b-0ec83de931a6.png)

had an issue that looked a lot like this in the past when trying to deploy the `HL` app to Azure so going to look at the old issue for clues. See #885

[2017-07-20 16:01] reddog commented on #841
@nelsonic Thanks for the nginx config file link.

Saw your comment in #387.  Does that mean that websockets have been a long-standing issue?  Possibly the nginx config needing fixing anyhow, but maybe there was/is still an underlying websockets issue?

Has this ever worked from a non-nginx install?  Heroku?

[2017-07-20 16:03] RobStallion commented on #937
this was another file path issue. fixed with the following ...
[code]

[2017-07-20 16:11] RobStallion commented on #937
At this point everything seems to be behaving as expected. This includes the parts of the code that do not work as they rely on `ePJS` which we cannot connect to locally.

Next step is to begin separating all the functions relating to `ePJS` into another app and requiring them into the `HL` app.

[2017-07-20 16:25] nelsonic commented on #915
@katyedwards please try again. I've updated the server configuration and am now able to send messages:
![image](https://user-images.githubusercontent.com/194400/28428145-4dd43ce4-6d70-11e7-8a76-79102b32906b.png)

CC: @reddog
PR: https://github.com/healthlocker/healthlocker/pull/936

[2017-07-20 16:32] nelsonic commented on #841
@reddog messaging worked flawlessly on Heroku.
I've updated the nginx config.
the line that fixed it was:
[code]
this was not documented _anywhere_ (on NGINX, WebSocket spec or Phoenix Docs)
it was pure "_forensic googling_"

[2017-07-20 16:49] #387 closed

[2017-07-20 17:00] katyedwards commented on #915
Hooray!  Have tested it on both users and that 1 clinician account.  Will ask Garry to test from his end too before I close the comment.

[2017-07-20 17:08] reddog commented on #841
@nelsonic Thanks very much for that.

I don't know if this is root cause, but there are some (very few) comments on this on the Phoenix GitHub issues - the socket can be configured to turn off origin checking and/or the origin can be set (which I guess should then also be set in nginx config, not empty).  See https://github.com/dwyl/learn-phoenix-framework/issues/99#issuecomment-316768858

[2017-07-20 17:12] nelsonic commented on #841
NGINX is now proxying the Phoenix app _including_ WebSockets #915  👍

[2017-07-20 17:13] nelsonic commented on #915
@katyedwards: Garry is able to send messages:
![image](https://user-images.githubusercontent.com/194400/28430101-293e677c-6d77-11e7-8005-a8f12ef6a03c.png)

[2017-07-20 17:15] nelsonic commented on #915
@katyedwards: Garry is able to send messages:
![image](https://user-images.githubusercontent.com/194400/28430145-5072185c-6d77-11e7-9827-96975c559f2e.png)

[2017-07-20 17:40] katyedwards commented on #915
@nelsonic That was me logged in as him - Garry will have other users he can test with just to be sure.

[2017-07-20 19:26] nelsonic commented on #915
@katyedwards ah, ok. 😄

[2017-07-21 08:11] katyedwards commented on #924
All working now, thanks.

[2017-07-21 08:11] #924 closed

[2017-07-21 08:39] reddog commented on #915
@katyedwards Any update from Garry on testing?

[2017-07-21 08:44] reddog commented on #880
@katyedwards Are you able to re-test this issue now that messaging is working?

[2017-07-21 08:46] katyedwards commented on #915
@reddog not yet, but I emailed him after office hours yesterday so he's not had long.

[2017-07-21 08:47] katyedwards commented on #880
@reddog Works great for me, but have asked Garry to double check too.

[2017-07-21 09:38] RobStallion commented on #937
Separating ePJS

My thoughts on approach

- `Oxleas` should have it's own `DB` which is subbed in for the `ePJS DB`
  **This would mean...**
    **Pros**
      - We don't have to edit the `"main DB"` depending on which app is running
      - Would not have to alter the models/schemas depending on build
      - Could swap out which endpoints are called for `Oxleas` and `SLaM` versions of `HL`

[2017-07-21 09:48] reddog commented on #937
@RobStallion Is this similar to the suggestion I made at the planning session to replace or make a *fake* (or *stub*) ePJS database with whatever information the Health Locker code is expecting?

The result would be that any code that uses the *ePJS* database would not be changed *at all* (including tests, etc).

What would be required is new code to insert data in to the *ePJS* database that the

[2017-07-21 09:58] RobStallion commented on #937
Have created a second Phoenix application, which will become `ePJS`, under the umbrella app. Currently trying to set up a separate database for this app to connect to.

[2017-07-21 10:08] RobStallion commented on #937
@reddog this is going to be completely separate to the `ePJS` database. It will be a database that will work in a very similar way to the one that is currently in `HL`.

The original plan was to update the `HL DB` with the new information that will be needed for the`Oxleas instance of HL`, such as a DOB field, but as we are now planning to have `Oxleas` independent of `HL` it makes sense to create

[2017-07-21 10:28] RobStallion commented on #937
Both databases are now set up and both apps are running simultaneously. Had to update the port that the `epjs_app` was running on as it was the same port as the `HL`. Updated the `config/dev.exs` file to say the following ...

[code]

[2017-07-21 10:33] reddog commented on #937
@RobStallion Could you maybe give a short description/picture/diagram of database set up?

Are there now two, three or more databases?

1.  Health Locker postgres database
2.  ePJS database (SLaM extract)
3.  Oxleas postgres database (is this a ePJS replacement)?

[2017-07-21 11:35] RobStallion commented on #937
have been able to take one of the ePJS functions from HL and move it into the new ePJS app. Can
call it from HL. However, I am currently getting the following Postgres error...

[code]

![image](https://user-images.githubusercontent.com/15571853/28461955-eb937134-6e10-11e7-8d86-d697ca6f80df.png)

Could be to do with the database set up. Looking at possible causes now

[2017-07-21 11:52] RobStallion commented on #937
above was an issue to do with me using the old fake epjs DB that we created ourselves and it not being up to date ti the current model in the project.

Have resolved the issue by reverting the model (only for initial test, will be changing it back to the most recent version which works with live ePJS data).

Can now read read from a database with one application, the `epjs_app`, and use that data

[2017-07-21 15:35] RobStallion commented on #937
Have been able to redirect from one app to the other.

Currently I am able to send the data in the URL but do not know if this is the best or safest approach to take.

Looking into using `HTTPoison`. Should be able to send a request to the desired endpoint (the new `epjs_app`) and use the response we get back in a near identical way to how we already do in the current `HL` app.

[2017-07-21 16:05] RobStallion commented on #937
`HTTPoison` works as expected returning a tuple that can be pattern matched against in `HL`. Need to update that `epjs_app` to allow it to send back `JSON` so that `HL` can use the data.

[2017-07-22 18:22] nelsonic commented on #841
@reddog the Azure deployment is working as expected.
The only thing that I want _add_ before considering this issue "_complete_"
is to "***automate***" the deployment to `staging` from CI
(_i.e. to have Continuous Delivery to a Staging ("test") environment_)

[2017-07-24 07:24] katyedwards commented on #934
Garry has identified _another_ error, but I think it is the same as this issue and not something _new_...

Description:
The error below is generated by HealthLocker when there is a change to the team member caseload i.e. the clinician involvement is ended.
Team Members dropping out of the care team would be a common procedure.

Steps:

ð  Ensure ‘Connect with my care team and health record’ is pla

[2017-07-24 08:14] RobStallion commented on #937
`epjs_app` has been updated and will now return `JSON`. `HL` receives response, decodes it using `Poison` and then uses it as needed.

Example code for `HL`...

[code]

Next steps...

- [ ] Connect `epjs_app` to real database

- [ ] Make sure everything works as expected with real data

- [ ] Move all functions related to `ReadOnlyRepo` from the `lib` folder in `HL` to `epjs_app`

- [ ] Set up end

[2017-07-24 08:59] katyedwards commented on #340
@nelsonic can you confirm ASAP if this is still the correct, current deployment documentation which I can pass to SLaM.  They require this before they can sign off and get the platform in the hands of users.

If updating is required, please can you advise how soon you will be able to do this.

Thanks!

[2017-07-24 09:13] MollieCourtenay opened #939 "Send banner feedback email to mollie's and healthlocker email addresses"
+ [x] also send feedback to healthlocker@slam.nhs.co.uk

[2017-07-24 09:25] nelsonic commented on #937
@RobStallion great work! (_keep going_!)

[2017-07-24 09:43] nelsonic commented on #340
@katyedwards no change to the diagram for "Production" deployment on Azure.
The only "unresolved" / "open" question is regarding the Production Database.
I sent an email asking about the Database.
search your email for: "***Database-as-a-Service***" we will need confirmation from the SLaM either to use the Azure Database-as-a-Service or a Database instance that is "self-managed".

[2017-07-24 11:15] katyedwards commented on #340
Thanks @nelsonic For now HL will be staying in the staging environment so can you update the documentation and diagram to reflect the current deployment to staging, rather than the planned production deployment.

For your info, SLaM weren't keen on Database as a service as it is still in beta and they have had bad experiences using services in beta.

[2017-07-24 13:57] RobStallion commented on #937
After speaking with @nelsonic this morning and with @reddog in the afternoon, this is the plan moving forward.

We are going to build this as an umbrella app. This means that there will be one **"supervising"** app which calls in other applications and configures how they will work together, but each of the apps that it calls in will be a stand alone application that is capable of running on it's

[2017-07-24 14:54] MollieCourtenay opened #940 "Cookies warning"
As a user landing on Healthlocker, I see a Cookie warning.

@reddog please can you add to this issue?

[2017-07-24 17:41] reddog commented on #841
@nelsonic Thanks for the update.

Will you be competing the Continuous Deployment piece as part of the original Heorku -> Azure migration work?  And if so, when?

[2017-07-24 17:47] reddog commented on #937
@RobStallion Thanks very much for your update call earlier and sorry I had to cut it short to get back to another meeting.

Thanks also for updating this issue with further information.

One other area we discussed (albeit it briefly) was a rough idea of how much extra time would be required to split out the *Oxleas* functionality in to smaller *pieces* (ie more granular, Medications as a single p

[2017-07-25 09:37] RobStallion commented on #937
As mentioned in the standup this morning, I will begin splitting this issue into smaller, more concise, issues that can be found [here](https://github.com/healthlocker/epjs_app/issues) and will be time estimating them.

[2017-07-25 10:01] katyedwards commented on #340
@nelsonic Can you confirm when you will be able to do this - SLaM can't move forward and sign off until they have the updated documentation so HL cannot get any closer to users until we have provided it.  Thanks.

[2017-07-25 10:20] RobStallion opened #941 "Replace calls to ePJS DB with calls to endpoints in epjs_app"
Remove all calls to ePJS and replace with calls to endpoints that will exist in the `epjs_app`.

Will be using HTTPoison to make the calls to the endpoint.

This links heavily to the issue found [here in `epjs_app`](https://github.com/healthlocker/epjs_app/issues/6)

Also relates to #937

[2017-07-25 13:08] RobStallion commented on #941
Will make the calls to the `epjs_app` using `HTTPoison`

To send the params across to the `epjs_app` first the data, (struct, map), will be need to encoded with `Poison`...
[code]

this will return a tuple which you can pattern match against to grab the stringified data. Next step is to attach the data to the URL being used in the `HTTPoison.get` function.

Example
[code]

[2017-07-25 14:31] MollieCourtenay opened #942 "edit RE anonymous data tick box."
clarity around what data this is

[2017-07-25 17:59] reddog commented on #915
@katyedwards Has testing of this been finished now by Garry?

[2017-07-26 09:14] katbow opened #944 "Edit feedback banner"
Test editing content in the feedback banner

[2017-07-26 09:16] katbow opened #945 "Edit content for Feedback page"
Work in progress!

Please send us your feedback and ideas to improve Headscape Focus.

If you would like us to follow up to discuss, please leave your contact details.

Test for updating feedback page

[2017-07-26 10:13] katyedwards commented on #934
Note: Apparently same problem exists for both SUs and Carers if a chance is made to the care team assigned.

Oddly, the disconnecting/ reconnecting from SLaM account apparently works to 'fix' this for SUs but not for carers.

[2017-07-26 14:23] katyedwards commented on #915
Yes sorry!

[2017-07-26 14:23] #915 closed

[2017-07-26 14:23] #880 closed

[2017-07-26 14:25] katyedwards commented on #934
Any chance #853 has anything to do with this?

[2017-07-26 14:37] reddog commented on #841
@nelsonic Thanks for the *reaction* reply.  Could you confirm:

1.  this remaining task will be completed as part of the Azure migration?
2.  will it will be completed?

[2017-07-26 15:39] MollieCourtenay commented on #670
Garry tested and signed off from his POV.

[2017-07-26 15:39] #670 closed

[2017-07-26 15:42] MollieCourtenay commented on #774
signed off by Garry. tested by Katy.

[2017-07-26 15:42] #774 closed

[2017-07-26 15:42] MollieCourtenay commented on #775
signed off by Garry. tested by Katy.

[2017-07-26 15:42] #775 closed

[2017-07-26 15:47] MollieCourtenay commented on #708
@katyedwards  will shared details with you @reddog

[2017-07-26 16:04] katyedwards commented on #708
Done! @MollieCourtenay @reddog - on your email...

[2017-07-27 14:12] MollieCourtenay opened #950 "IG issues???"
+  [ ] CAMHS under 16 worries.
For Clinicians we could edit the messaging disclaimer and put a note on for CAMHS - something like:
_'You will need to have permission from the young person's family before you can communicate with them.'_

+ [ ] More drastically, we could remove messaging for under 16.

+ [ ] Get support content may need to be adjusted??

[2017-07-27 14:14] MollieCourtenay opened #951 "Service users must be 16 or over to connect with SLaM."
+ [x] As a user, if I try to connect and I am under 16, I cannot connect.
+ [x] Edit flash message to say 16.

#83 - here is the issue for when we set it for 12.

[2017-07-28 16:49] reddog commented on #841
@nelsonic Are you able to provide an update on previous queries about if and when the remaining tasks in this issue will be resolved?

[2017-07-28 22:45] iteles commented on #841
@reddog Apologies I didn't see this earlier, as you know, we have been out of the office.

To be clear, this isn't part of the original scope of the azure migration and will not have an impact for SLaM or the project. However, Nelson would like to ensure this is done for completion as an open source contribution and to facilitate the process for future developers.

[2017-07-29 13:43] nelsonic commented on #122
ePJS data has been available in Healthlocker for a `while` now.
The ePJS-related (_micro_) "Service" is now in: https://github.com/healthlocker/epjs_app
Closing issue as we consider it to be complete per the original story description. 👍

[2017-07-29 13:43] #122 closed

[2017-07-29 14:19] nelsonic commented on #937
@RobStallion this is looking good so far: https://github.com/healthlocker/epjs_app
If you have any _specific_ questions, please mention or assign to me. 👍

[2017-07-31 09:13] reddog commented on #841
@iteles Thanks for your reply.  I appreciate that you've been working remotely hence asking for when this would (ie maybe not right now) be completed.

I'm not 100% on your clarification of *isn't part of the original scope* and *Nelson would like to ensure this is done*.  Can you confirm if that means @nelsonic will be doing this (as if it were part of the original scope) and when, or if it would

[2017-07-31 14:39] MollieCourtenay commented on #59
don't want to close until this is sorted #934

[2017-08-01 08:40] katbow opened #954 "Dynamically load layout & view for Healthlocker/Oxleas"
In order to load the same different UI/content for Oxleas on pages with the same functionality, we need to load separate views & templates for the 2 apps.

To do this we need to programmatically define:
- [x] the LayoutView + app.html template
- [x] Each view with the associated template

[2017-08-01 08:45] katbow commented on #954
Where I am with this now:
The layout view loads automatically depending on the app url. This means that the nav bar/footer can be adapted for each application.

Each view can be loaded if the view is passed in before rendering. I am currently checking if I can have this done automatically where I get the current controller, define what the view is, then load the view for Oxleas.

I am time boxing

[2017-08-01 10:19] RobStallion commented on #941
All calls to the ePJS database have been removed from the app and replaced with API calls to the epjs_app. Tests that call the ePJS database in HL still need to be updated/removed but going to work on building the Oxleas app functionality at this point as there is no great way for us to check that the api calls are working as expected while the epjs_app is not deployed.

[2017-08-01 12:01] reddog commented on #340
@nelsonic Can you please let us know when you will be able to provide the required updated documentation as this is blocking SLaM's sign off.

[2017-08-01 13:15] iteles commented on #941
Above comment related to https://github.com/healthlocker/epjs_app/issues/9

[2017-08-01 14:12] #944 closed

[2017-08-01 14:13] #945 closed

[2017-08-01 14:19] katbow opened #956 "Change setting view to Plug"
From #954 the view/template is set by calling a function to set the view (which loads the associated template) before rendering the page. While this is only one line, this is still quite a bit of repetition to have for each controller action.

Instead, this should be refactored into a plug which set the view for each action. This was a plug I had attempted to set up for this, however I was getting

[2017-08-01 17:52] katbow commented on #954
This has been merged in now 👍 . Refactor noted in #956

[2017-08-01 17:52] #954 closed

[2017-08-02 16:15] iteles commented on #340
More specific questions here: https://github.com/healthlocker/oxleas-adhd/issues/50#issuecomment-319399879

[2017-08-04 15:14] MollieCourtenay opened #960 "Add 3x more problem trackers"
As a user I can set up and use 4 individual problem trackers.

Need to think about the UX a bit..

[2017-08-04 15:37] MollieCourtenay opened #961 "SSL certificate ownership"
Who owns it now - should it be passed over to SLaM / Mindwave?

What tool is used?  Let's Encrypt?

Nelson wrote ages ago:

STUART_ Question: What is the bit key length for the ssl? Who will provide the cert?
NELSON_Answer: 2048 bits key length. Currently provided by https://letsencrypt.org but we can use any certificate provider as required by NHS. (please provide preferred supplier help us set u

[2017-08-04 15:38] MollieCourtenay opened #962 "outgoing email provider"
AWS? ok?

Or should we work with an Azure supported tool?

[2017-08-07 13:32] MollieCourtenay opened #963 "Notify in caseload of new message"
+ [ ] As a clinician looking at my caseload, I can see a mini message icon on the service user or carers name box if they have send a message that has not yet been seen by a clinician.

THIS NEEDS DISCUSSING WITH DWYL.

[2017-08-07 14:24] MollieCourtenay opened #964 "check token expiry for clinicians access"
does HL validate the token expiry as desired?

[2017-08-07 15:32] MollieCourtenay opened #965 "Clinician: remove connect to SLaM in account"
- [x] Remove two links

If you are service user or family/friend or carer of someone with the South London and Maudsley NHS Foundation Trust, you can:

Connect with my care team and health record
Connect with the care team of someone I care for

<img width="1105" alt="screen shot 2017-08-14 at 13 14 11" src="https://user-images.githubusercontent.com/25012688/29271284-8e14ee1c-80f2-11e7-9882-f215f3

[2017-08-07 15:53] MollieCourtenay opened #966 "Can a carer connect to a care team of a SU that is under 12?"

[2017-08-07 16:10] MollieCourtenay opened #967 "Carer should not be offered C4C"
+ [ ]  Carer should not be offered C4C in Consent in Account

[2017-08-07 16:21] MollieCourtenay opened #968 "Clinicians: details and contacts. ADD list of who is in that SU's care team"
+ [x] As a clinician,
When i click on details and contacts,
underneath the yellow box,
I can see a list of who is in the service users care team.

<img width="707" alt="screen shot 2017-08-07 at 17 21 29" src="https://user-images.githubusercontent.com/25012688/29035810-e2f2dfe2-7b94-11e7-8ec0-d8092a01da53.png">

[2017-08-08 17:34] MollieCourtenay commented on #874
@nelsonic @RobStallion is this done? Can this issue be closed?

[2017-08-09 07:30] MollieCourtenay commented on #778
<img width="740" alt="screen shot 2017-08-09 at 08 29 21" src="https://user-images.githubusercontent.com/25012688/29109978-f54ee520-7cdc-11e7-9a43-27e220fc4f44.png">

[2017-08-09 07:31] #778 closed

[2017-08-09 07:34] MollieCourtenay commented on #418
<img width="740" alt="screen shot 2017-08-09 at 08 29 21" src="https://user-images.githubusercontent.com/25012688/29109978-f54ee520-7cdc-11e7-9a43-27e220fc4f44.png">

<img width="811" alt="screen shot 2017-08-09 at 08 31 28" src="https://user-images.githubusercontent.com/25012688/29110032-2e4dc92c-7cdd-11e7-883f-6c97ae1ec2ad.png">

the error message shows if there is no data in the sleep tracker /

[2017-08-09 07:34] #418 closed

[2017-08-09 08:52] MollieCourtenay opened #969 "DIAGRAM - is this right?"
<img width="356" alt="screen shot 2017-08-09 at 10 31 30" src="https://user-images.githubusercontent.com/25012688/29115023-fb05a36c-7ced-11e7-8595-731325e435ce.png">

[2017-08-09 09:58] MollieCourtenay commented on #766
@katbow what is this bug? Is it still causing problems?
Does it need to be in a milestone?

[2017-08-09 16:35] #696 closed

[2017-08-11 07:53] MollieCourtenay opened #970 "Carer can disconnect from SLaM"
+ [ ] As a carer, I have a disconnect from SLaM link at the bottom of Account (just like service users).
+ [ ] I can click to disconnect my account.
+ [ ] I am presented with the options to connect again.

#271 #571 #697 #706

[2017-08-11 07:58] MollieCourtenay opened #971 "Clinician view of disconnected users in Caseload"
+ [ ] As a clinician, IF a service user or carer disconnects, I see them in the list of **Users not signed up to Healthlocker** but they have a disconnected word or icon within their grey box.
+ [ ] As a clinician I am able to click on a grey box that has a disconnect icon or word and load the user.
+ [ ] I can see all messages that were sent up to the date of the Carer disconnecting. OR all the t

[2017-08-11 08:09] MollieCourtenay commented on #971
@indiamindwave24 could we have a little disconnected icon. in dark blue? So that it can sit on the line of a disconnected user within caseload?
We may use the word 'Disconnected' or a mini icon not sure yet.

[2017-08-11 08:22] MollieCourtenay opened #972 "copy change to consent point. in Sign up and Account."
I allow my anonymous **useage** data to be accessed by researchers to drive forward the future of mental health and care.

+ [x] sign up 3
+ [x] consent in account

[2017-08-11 08:24] MollieCourtenay opened #973 "Anonymous useage data consent - mapping to mix panel?"
Do we need to add this to a terms of service point over an opt in? I am unclear about how this maps back to the analytics if someone does opt out.

[2017-08-11 08:59] MollieCourtenay opened #974 "Re-name messages menu item 'Communications'"
+ [x] As a user service user
+ [x] carer
+ [x] clinician,
instead of 'Messages' I see 'Communications', on the top menu.
<img width="597" alt="screen shot 2017-08-11 at 10 06 14" src="https://user-images.githubusercontent.com/25012688/29207541-77765086-7e7e-11e7-93f6-1d1b1bc102cf.png">

[2017-08-11 09:50] MollieCourtenay commented on #897
@indiamindwave24 I think a mock up would be really helpful here.

[2017-08-11 09:51] #950 closed

[2017-08-11 10:19] MollieCourtenay commented on #940
SLaMs cookie warning

Cookies: How we use information on our website:
We use cookies on our website to make it clear, useful and reliable.In order to achieve this and to provide certain personalised features we store a small amount
of data about you. Click Here to learn more. By navigating from the front page to other sections of our website, you are consenting to information being stored.

[2017-08-11 10:24] MollieCourtenay opened #975 "Ensure all stories have hopeful titles"
please edit
- Nikki ten years of suffering
- Liz skin picking
- Depression is a very real illness
- A Carer’s Story, Jaya Kathrecha’s family

[2017-08-11 11:13] MollieCourtenay opened #976 "Look at sprint 14 first."

[2017-08-11 11:15] MollieCourtenay opened #977 "Coping Strategies: confirmation of deletion when deleting coping strategies"
+ [x] As a user, if i click delete coping strategy, I am prompted with 'Are you sure you want to delete this coping strategy?' I can click Delete coping strategy or cancel.

[2017-08-11 13:49] MollieCourtenay commented on #853
Is this done?

Suggested a small type change - but not a big deal.
No staff are associated with your account at this time.
If you are currently receiving support from SLaM _and would like to use Healthlocker with your care team, speak to your care coordinator_ or email: healthlocker@slam.nhs.uk

[2017-08-11 14:02] MollieCourtenay opened #978 "Add a line to the goals intro"
As a user creating a goal, I see some clearer instructions on what the steps to take bit is all about.

+ [x] What do you want to achieve? You may want to ensure your goal is SMART.

Specific, be very clear about what you want to achieve.
Measurable, how will you know when you have achieved your goal?
Achievable, avoid setting yourself a challenge that is too big.
Resourced, do you have everything

[2017-08-11 15:37] MollieCourtenay commented on #340
RE: backups @nelsonic are automatic backups provisioned by Azure if we are not using database as a service?
If not, what do we do?

[2017-08-14 09:22] MollieCourtenay opened #979 "sign up - edit consent about data access"

[2017-08-14 09:28] MollieCourtenay commented on #966
Not right now depends on new way for carers connecting without a SU connected already.

[2017-08-14 09:39] katbow commented on #42
Need to know: where to access care plan (which table) & which fields need to be accessed. Is it all the fields in the relevant table, or just some of them?

Information would be displayed on a page (not a document download).

[2017-08-14 09:42] katbow commented on #708
waiting for permissions from @tonydaly

[2017-08-14 10:03] MollieCourtenay opened #980 "Tracking Overview for 3x more problem trackers"
#960

[2017-08-14 10:49] katyedwards opened #981 "edit 2 Flash messages saying SLaM - connect and disconnect account"
replace current wording with the following
Connected:
+ [x] Account connected.

Disconnected:
+ [x] Account disconnected from your care team and health record.

[2017-08-14 10:53] #976 closed

[2017-08-14 10:54] katbow commented on #804
yes 🙂

[2017-08-14 10:54] #804 closed

[2017-08-14 10:54] markwilliamfirth commented on #908
No longer a requirement - can be closed

[2017-08-14 10:54] #908 closed

[2017-08-14 11:15] MollieCourtenay commented on #979
duplicated

[2017-08-14 11:15] #979 closed

[2017-08-14 11:34] tonydaly commented on #708
Hey @katbow, sorry what do you need?

[2017-08-14 11:36] katbow commented on #708
@tonydaly sorry I thought someone had messaged you! If you log in to your dwyl email, there should  be a message from someone at mix panel asking for permission to move what was previously done on healthlocker to the paid version.

[2017-08-14 11:41] katbow commented on #766
@MollieCourtenay this has been fixed. forgot to close, sorry.

[2017-08-14 11:41] #766 closed

[2017-08-14 11:51] #964 closed

[2017-08-14 12:09] #973 closed

[2017-08-14 12:09] #966 closed

[2017-08-14 12:15] katyedwards commented on #861
Waiting for new environment provision from SLaM - blocked!

[2017-08-14 12:17] MollieCourtenay commented on #927
This depends on deployment

[2017-08-14 12:17] #969 closed

[2017-08-14 12:35] MollieCourtenay opened #982 "Clinician view of achieved goals"
+ [ ] Important and Achieved icons are on two separate lines (currently on one line).

+ [ ] As a clinician, I can see the date the goal was achieved.(date can sit underneath the goal created date.

Like this:
<img width="528" alt="screen shot 2017-08-07 at 16 21 08" src="https://user-images.githubusercontent.com/25012688/29033297-7e841c4a-7b8c-11e7-8ae5-2572268808ed.png">

Order of goals issue -

[2017-08-14 12:42] MollieCourtenay opened #983 "Disconnect from SLaM"
In account for a connected user we need to remove "SLaM":

- [x] Change the Disconnect link text so it reads "Disconnect from your care team and health record"

![screenshot 2017-08-14 13 42 06](https://user-images.githubusercontent.com/24604903/29272124-b01f6754-80f6-11e7-8e2c-9e7be72ca714.png)

- [x] Change text on https://www.healthlocker.uk/pages/disconnect to read:

Are you sure you want to d

[2017-08-14 12:52] #967 closed

[2017-08-14 13:41] iteles commented on #708
@tonydaly Could you please log into  your mixpanel account and transfer ownership over to the email address I have just emailed over to you 😊

Tony can log into his account and go to Project Settings -> Management to make the transfer.
![transferproject](https://user-images.githubusercontent.com/4185328/29274061-6526bfba-80fe-11e7-9df4-efb4482e0fcb.png)

[2017-08-14 13:45] markwilliamfirth commented on #927
Heroku site URL needs changing so healthlocker.uk can be used

[2017-08-14 13:46] markwilliamfirth commented on #939
Blocked by #874

[2017-08-14 13:54] markwilliamfirth commented on #968
Linked to #659

[2017-08-14 13:54] markwilliamfirth commented on #982
Closed in favour of #878

[2017-08-14 13:54] #982 closed

[2017-08-14 14:30] MollieCourtenay commented on #981
@markwilliamfirth Why am I assigned? I thought we couldn't edit flash messages.

[2017-08-14 14:34] markwilliamfirth commented on #981
@MollieCourtenay - @katbow said this one was fine to do (but this one isn't https://github.com/healthlocker/healthlocker/issues/899)

@katbow could you clarify?

[2017-08-14 14:35] markwilliamfirth commented on #708
From Tony:

Heya,

I’ve already logged in and transferred the account to Cleo. The account is currently at the user limit, so probably best to delete my account and then add the new one.

Hope that helps!

[2017-08-14 16:21] MollieCourtenay commented on #920
@katyedwards has this been followed up on - just noticed it was in backlog?

[2017-08-14 16:23] MollieCourtenay commented on #874
@RobStallion is this done? Can this issue be closed? Missed it earlier as it doesn't have a milestone?

[2017-08-15 12:12] MollieCourtenay commented on #708
@Cleop can you let me know when you have managed to transfer the project to the SLaM account?
See email from me on Sunday for email to transfer to :)

[2017-08-15 12:52] katbow commented on #981
I thought this one would be okay because the copy change doesn't contain any links & could be found by searching for the current flash message. Links are slightly more tricky because a module needs to be including in for the links to work from there.

Maybe it's better for @RobStallion & I to do them all until there's a chance to show how the flash messages work. Keeps it simple for the time being

[2017-08-15 15:01] MollieCourtenay opened #984 "Add two dividing lines to add and edit goals page."
+ [x] After steps
+ [x] After important.

[2017-08-15 15:03] MollieCourtenay opened #985 "Jazz up goals page. Make tick boxes blue ?"

[2017-08-16 16:13] markwilliamfirth commented on #42
@cleop to take a look into this one

[2017-08-16 16:45] katyedwards commented on #853
@Cleop I think this has been done, but can you review and push/pull/ commit it (still haven't got the hang of all the right terminology yet!)

[2017-08-16 16:54] katyedwards commented on #962
@markwilliamfirth can you give any info on this?

[2017-08-16 17:10] markwilliamfirth commented on #962
@katyedwards in terms of emailing what are the requirements? e.g. do you need to be able to **both** send and receive email? Or is outgoing the only requirement here?

[2017-08-16 17:17] markwilliamfirth commented on #962
From a quick Google it appears that Amazon SES does work with Azure: e.g. http://www.hanselman.com/blog/InstallingSendyAPHPAppOnWindowsAzureToSendInexpensiveNewsletterEmailViaAmazonSES.aspx

[2017-08-16 17:48] MollieCourtenay commented on #962
@markwilliamfirth thanks for this - yes we know it's works.
We've asked whether it is a good long term choice. Is amazons SES supported within azure.
As we'll be handing this over to SLaM to pilot we want the answer ready. Why are we using SES with Healthlocker.

And out going email only.

[2017-08-16 18:41] markwilliamfirth commented on #962
**Requirements:**

As a product owner
I want an outgoing email provider that I can use for the application long-term
So that I can send emails

- [ ] Is Amazon SES supported within Azure?
- [ ]  Is Amazon SES a good long-term choice for the project?
- [ ] Why are we using Amazon SES?

@MollieCourtenay can you confirm how many emails you'll be sending, how often they'll be sent and the length of te

[2017-08-17 08:14] katyedwards opened #986 "HL Staging Site is down"
![screenshot 2017-08-17 09 12 45](https://user-images.githubusercontent.com/24604903/29402282-4cbacd10-832c-11e7-98c0-39eb8c386f79.png)

Has been down since Tues last week (8th) - possibly before, but that was when it was noticed.

As far as we are aware, no one was working on it when it went down

[2017-08-17 16:39] #874 closed

[2017-08-21 11:42] MollieCourtenay commented on #708
I've transferred the Healthlocker project to SLaMs paid for account.

[2017-08-21 11:42] #708 closed

[2017-08-21 14:24] katyedwards commented on #981
It was when you connect to your slam account the flash message was coming up
![screenshot 2017-08-21 15 23 09](https://user-images.githubusercontent.com/24604903/29523369-b7a430de-8684-11e7-8974-6764e6e01d26.png)

BUT, this is on the old heroku site though because staging is still down so I can't check if it is on staging as well.  If you can't find it, maybe it has been sorted.

Sorry, that maybe

[2017-08-21 14:57] katyedwards commented on #986
Sorted thanks!

[2017-08-21 16:56] RobStallion opened #999 "errors that came up after healthlocker deployment"
https://github.com/healthlocker/healthlocker/issues/905
Was to do with sending emails from the site. Was initially an error with SLaM's setup of the virtual machine.

https://github.com/healthlocker/healthlocker/issues/894
Was also to do with sending emails from the site. This one was our side.

https://github.com/healthlocker/healthlocker/issues/887
This issue came up when you entered some tracki

[2017-08-22 08:03] katyedwards opened #1000 "Confirm position of HL in Azure"
Email from Adele asking:

"could you confirm that slam hl lies in azure at PIP 51.140.45.21"

Apparently the PEN testing company have asked for it to be confirmed.

[2017-08-22 08:21] katyedwards commented on #999
Hi @RobStallion is this the list of specific things we need to test for?

[2017-08-22 08:23] reddog commented on #986
@RobStallion Thanks for getting the staging site back up and running.  As mentioned elsewhere, it is anticipated that SLaM IT will be handling support going forward.  As such, we need to build details / notes on what has/can go wrong and how to fix it.

Are you able to provide some notes on:

1.  how you identified what (in particular) wasn't working?
2.  how you resolved the issue?
3.  what has b

[2017-08-22 08:57] Cleop commented on #927
I don't yet have access to heroku in order to be able to do this. So this may be done by @RobStallion  @katbow or me (if I am granted permissions).

[2017-08-22 09:16] markwilliamfirth commented on #986
@reddog I think @RobStallion hadn't had a chance to update before this one was closed. In the standup Rob mentioned that he does not know what caused this and that it appeared as if the server had just been 'turned off' and the fix was to switch it back on.

@RobStallion could you elaborate further as to any more detail as to the cause of this and how we can prevent this from happening again in fu

[2017-08-22 09:19] reddog commented on #986
@markwilliamfirth Sorry for missing yesterday's standup and thanks for the update.

In terms of others supporting the app, understanding what *turned off* means, how to fix it, and how to *help* prevent that particular issue from recurring would be a great devops step forwards.

[2017-08-22 09:24] markwilliamfirth commented on #986
@reddog I didn't realise before but it looks like @katbow has answered your questions with the linked PR above (https://github.com/healthlocker/healthlocker/pull/989)

[2017-08-22 09:25] markwilliamfirth commented on #986
@katbow @RobStallion can we add a summary comment to this issue addressing David's points before finally closing?

[2017-08-22 09:32] reddog commented on #986
@markwilliamfirth Thanks for that link - I hadn't spotted that.

Thanks for your notes @katbow.  I'm not quite sure what

means.  Could you expand a little?

The PR also mentions that

How did Oxleas templates get on to the SLaM staging site?  It seems like we should do some investigation in to that to ensure that doesn't happen in the future.

[2017-08-22 09:38] RobStallion commented on #999
Morning @katyedwards. Yeah this is the list of issues that came up when Healthlocker was initially deployed.

[2017-08-22 09:44] katbow commented on #986
@reddog there was a plug that was made to identify whether the app was running in oxleas or healthlocker environments. I missed a case in the plug, so it was going to the incorrect one. Because of this, the oxleas templates were trying to load. The templates aren't actually present, and I should have said **trying** to load, since the error was caused due to them not existing. This plug was done o

[2017-08-22 09:46] RobStallion commented on #999
closing this issue in favour of https://github.com/healthlocker/oxleas-adhd/issues/116

[2017-08-22 09:48] katyedwards commented on #999
Thanks @RobStallion.  Let us know when we can start testing

[2017-08-22 10:04] MollieCourtenay opened #1001 "feedback page copy move around"
+ [x] Or share your own tip or story that we could add to Healthlocker.
+ [x] feedback and suggestions
+ [x]  If you would like us to follow up to discuss, please leave your name and contact details. (move down

[2017-08-22 11:03] Cleop commented on #830
Currently uses String.to_float which errors when a decimal is not given. Currently 0 is the only no. of hours slept without a '.0', changing this to 0.0 would work or creating an if statement to not `to_float` if dealing with 0.

[2017-08-22 11:13] katyedwards commented on #830
@Cleop Not sure if that comment was meant for us?!  But preferably on the data below the tracking graph it would just display 0 not 0.0

[2017-08-22 11:16] MollieCourtenay commented on #768
@Cleop if you look at this. Could you also look into why the box that contains the messages for carers view is much shallower than for service users / clinicians.
If possible the message container box would be the same depth for all users (going with the shorter depth that carers currently have).

<img width="815" alt="screen shot 2017-08-22 at 12 16 04" src="https://user-images.githubusercontent.

[2017-08-22 11:43] reddog commented on #986
@katbow Thanks very much for expanding on that.

Does this mean that SLaM's Healthlocker has been re-deployed at some point?  Was that done knowingly or accidentally?  I don't think we aware of any planned-for deployments to SLaM's HL since the initial deployment and bug fixes around that time.

I have previously raised the potential risk of mis-deploying to an incorrect environment (or deploying

[2017-08-22 12:22] markwilliamfirth commented on #927
@katbow who are the people that currently have access?

[2017-08-22 12:55] Cleop commented on #659
- Need to add new column to table for clinician's role

[2017-08-22 13:19] RobStallion commented on #42
Is there an example of the information that the care plan should contain? There are quite a number of tables that have data that relates to a `CarePlan` in some way or another (see below) but we are not sure which tables we will need to access and what information we need to take from those tables.

![image](https://user-images.githubusercontent.com/15571853/29566893-63eda758-8743-11e7-97ea-f5772f

[2017-08-22 13:35] MollieCourtenay commented on #42
@RobStallion do the tables look like they match this? from myhealthlocker original?

![screencapture-adults-slam-nhs-uk-my-health-careplanandtreatment-aspx-1503408910519](https://user-images.githubusercontent.com/25012688/29568091-2b7c1e6e-8747-11e7-8626-4033415c131e.png)

[2017-08-22 13:48] MollieCourtenay commented on #42
That list you added looks pretty good.

[2017-08-22 14:51] katbow commented on #42
@MollieCourtenay each of those items in the list @RobStallion posted is a table. For the first 2 tables alone, there's a total of **69** fields. There is more information in the other 8 tables, some of which seems like duplication from the first 2 tables.

It would be extremely useful if we had information about which of these tables we need to access, and which fields in those tables we need to u

[2017-08-22 15:02] RobStallion commented on #1000
The IP address we have for HL is 51.140.86.5

[2017-08-22 15:16] katbow commented on #927
me, Ines, Tony, Nelson. Max is 4.

[2017-08-22 15:30] MollieCourtenay commented on #42
how does pulling in all the yello bits feel?

[mhl_Tables_Schema.xlsx](https://github.com/healthlocker/healthlocker/files/1242508/mhl_Tables_Schema.xlsx)

[2017-08-22 15:30] katyedwards commented on #1000
Thanks @RobStallion I'll pass that onto SLaM.

[2017-08-22 15:41] Cleop commented on #900
@MollieCourtenay the tickboxes issue #450 does not have all the assets I need. I need an image of the gold edged white box on its own and I need an image of the gold edge white box filled with the blue check. That issue has one image in the zip file of the blue tick on its own. For now, this issue will have the words 'tick' and 'unticked' to demonstrate where they will be.

[2017-08-22 15:45] MollieCourtenay commented on #900
India please help as soon as you have the chance

[2017-08-22 15:52] katbow commented on #934
Forgot to update this earlier - since the error always appears to be when *adding* clinicians to the room this was the first section we investigated. We believe the error is due to the fact that duplicate clinicians were being inserted into this table (since they were not removed before).

We need to ensure the clinicians are not added in duplicate, either by deleting all previous clinicians in th

[2017-08-22 16:12] markwilliamfirth commented on #927
@katbow let's take off Tony (who probs shouldn't be on there anymore anyway) and add @Cleop so she has permission to do this issue!

[2017-08-22 16:37] MollieCourtenay commented on #42
**bold the titles of each column**
list the content beneath

**bold the titles of each column**
list the content beneath

**bold the titles of each column**
list the content beneath

[2017-08-22 17:13] katbow commented on #986
To clarify the discussion in the call:

What I understood is a concern that someone deploying the app could type in to `deploy staging` when they mean to `deploy test`. However, the 2 configurations would **not** be included in the same repo. Each repo will have it's own [edeliver config](https://github.com/healthlocker/healthlocker/blob/master/.deliver/config#L3) which specifies the server to dep

[2017-08-22 17:38] reddog commented on #986
@katbow Thanks very much to you and @RobStallion for helping me through this issue on the call, and thanks for your notes here as well.

The `.deliver/config` file you linked to includes settings for build, staging and production.  In this example, they are all set to be the same IP address (quite possibly because there is only one environment at the moment).  However, it seems likely that the sug

[2017-08-22 18:50] RobStallion commented on #986
@reddog No problem. Sorry it took so long for me to understand what it was you meant during the call.

You are correct that the `.deliver/config` has multiple settings for different build types and you noticed that they all have the same address. The IP address in [this config](https://github.com/healthlocker/oxleas-adhd/blob/master/.deliver/config#L3) is the IP address belonging to the `oxleasadm

[2017-08-23 08:20] MollieCourtenay commented on #42
@Cleop
FYI the xlsx file above i have just re-uploaded so please download afresh this morning.
I have made a couple of changes to the yellow boxes selected.
Please do get in touch today to discuss.

[2017-08-23 09:25] markwilliamfirth commented on #986
@reddog in reponse to the above and our call earlier, we can almost close this issue, we just need to work out when the error in the redeployment process occurred

@nelsonic - @katbow and @RobStallion didn't do this redeploy (on or before the 8th august) - can we check with you that it was you who did this redeployment? Once we know where the error occurred we can work out how to prevent it happen

[2017-08-23 09:36] katyedwards opened #1007 "Architecture Documentation for SLaM"
Moving this into a new issue as it has been requested several times in previous issues, but we don't have what we need.

In time for handover to SLaM (Tues 29th) we need confirmation of the following:

- [x] SLaM will be backing up the server, but won't have a backup of the data.  Please confirm if there is a file that scripts to pick up the data when required (ie during disaster recovery) - and p

[2017-08-23 09:40] katyedwards commented on #1007
@reddog I've put in what I know of/ have pulled out of various emails from SLaM.

Can you update the checklist above so we have points for everything we need in order to handover to SLaM... and please do add to my points to give them more clarity!

[2017-08-23 09:47] katyedwards commented on #1000
Hi @markwilliamfirth

Another email from SLaM:

_Please could you check again?
The slam it team identified this number

"The public address within Azure for HLStaging is 51.140.45.21"

Please it is important to have the right position._

I don't want to interrupt Rob & Katherine while they are working on more important things, but are you able to see what is at 51.140.45.21...

If we can tell SLaM

[2017-08-23 10:15] katbow opened #1008 "Review current flow for connecting carers"
#762
Review in detail the current state of how carers are connected with a service user.

In particular, need to know:
1. how the service user is grabbed from epjs when the carer attempts to connect using the form in HL
1. how carers are identified as carers
1. how carers are connected to service users (see carers table)
1. how to get each carer for a service user. Do we need to keep the current s

[2017-08-23 11:00] markwilliamfirth commented on #1000
@katyedwards

When I go to 51.140.86.5 (Rob's link) it goes to https://staging.healthlocker.uk/

When I go to 51.140.45.21 (SLaM's link) I get "Error determining IP Addresses for 51.140.45.21"

When I go to:
http://get-site-ip.com/

For Healthlocker.uk it gives me the result:
62.116.130.8
Germany

When I visit 62.116.130.8 directly, it says:
Sorry, no Host found

Not sure if this answers your ques

[2017-08-23 11:21] katyedwards commented on #1000
Hi Mark, I _hope_ that'll do!  Thank you

[2017-08-23 11:41] markwilliamfirth commented on #602
@katbow found this old priority 1 in the backlog, can this be closed now?

[2017-08-23 11:45] katbow commented on #1008
1. All of the information is checked in the `Slam.CarerConnection` module. If the information is correct, then it is checked if the service user exists in HL by looking for the `slam_id` in the `users` table. If they do not exist, there is an error that "something went wrong". If there is a match, then the `id` for the carer is added to the carers table as the `carer_id`, and the `id` for the serv

[2017-08-23 14:10] #1000 closed

[2017-08-23 14:29] markwilliamfirth commented on #1000
@katyedwards did SLaM confirm on their side?

[2017-08-23 14:33] katyedwards commented on #1000
@markwilliamfirth  They haven't come back to me since my last email to them this morning which I'm taking as: they have accepted the answer now.

I would expect them to come back quickly if they are unhappy and not respond if they are ok!

[2017-08-23 14:53] katbow commented on #1008
Making 4 a separate comment since it's a bigger issue.

There are a couple options for how this can be changed.

Option 1: **Changing carers table to include `slam_id`**
* the fields that are currently in the carers table would remain (`carer_id` and `caring_id`), however the `caring_id` would no longer be a required field. Instead, we would include `slam_id` as well, which is always required, and

[2017-08-23 16:06] reddog commented on #1007
@katyedwards Will review your items but generally looks good.

Assigned @nelsonic, @RobStallion and @katbow for their input.

[2017-08-23 16:09] reddog commented on #841
@markwilliamfirth This is down under Sprint 15 . Will it be completed during this sprint?

[2017-08-23 16:17] markwilliamfirth commented on #841
@reddog sadly Nelson doesn't have availability to do this during this sprint - are the remaining checkboxes on the top issue things you would like @RobStallion and @katbow to do? I should note that the remaining checkboxes are not part of the original scope for sprint 14 and they are not currently part of sprint 15

[2017-08-23 16:41] katbow commented on #1008
Going with option 1, which work has been started on. Setting up separate issues for steps to take.

[2017-08-23 16:41] #1008 closed

[2017-08-23 16:48] katbow opened #1009 "Change how carer connects in HL"
for #762

From option 1 in #1008

The `connect_carer` module needs to be updated to reflect the change to the schema.
In slam_controller, we still get the service user, if it exists in HL, however we no longer through an error if it doesn't exist.

Instead the carer, params, and HL service user, and epjs service user will be passed into `ConnectCarer.connect_carer_and_create_rooms`, and depending

[2017-08-23 16:51] katbow opened #1010 "Update how carers are identified/checked in HL"
#762
The function currently checks if there is anyone with a `caring_id` for a carer. This will fail with the update since caring_id can be `null` now. Instead, the function will check the role of the user as "carer".

[2017-08-23 16:54] katbow opened #1011 "Update how service users are grabbed for carers"
#762
We will now need to check that if the `caring_id` does not exist for a carer, then to use the `slam_id` in the carers table to grab the service user from epjs.

Currently we just preload caring for a carer, which will still be done, but will need an additional check that if this is an empty list, to then use the slam_id.

[2017-08-23 17:20] katbow opened #1012 "Update caseload to get carers for non-hl service users"
#762
For non-hl users in the caseload, there are currently no queries to get carers for these users, since carers could not previously connect to a clinician if the service user wasn't on healthlocker.

This will need some consideration since the queries done here are quite slow already, and adding in another query for *each* unconnected user will slow the load time even more.

@katyedwards I'm no

[2017-08-23 17:32] katyedwards commented on #1012
@katbow the debate briefly had been from SLaM in terms of data protection and whether we can display people's details if they haven't consented, i.e. haven't signed up to HL voluntarily, but they are covering that by adding HL to their general SLaM consent.

In terms of load times etc, I would think it seems reasonable to only display non-connected users if there is a carer signed up (although mig

[2017-08-23 17:34] MollieCourtenay commented on #1012
@katbow could we turn the 'not signed up to Healthlocker' title into a clickable link/ button. Where a clinician would have to click to reveal them and the loading would only be done at that point?

[2017-08-23 17:35] MollieCourtenay commented on #1012
good point about disconnect. Maybe a similar behaviour to what we decide to do here could be borrowed for disconnected user when it comes to that.

[2017-08-24 09:14] katyedwards opened #1013 "SLaM unable to access HL to test bug fix"
Initially when he clicked on the HL button in epJS he got a blank screen.

I looked and HL seemed to be up and working so send him the link to staging: https://staging.healthlocker.uk/

When he tried going here directly, after around 40 seconds he gets the following screen:

![image001](https://user-images.githubusercontent.com/24604903/29659071-f6ee1ad4-88b4-11e7-9dbc-cbb69cdf0a08.jpg)

Can someo

[2017-08-24 09:22] reddog commented on #1013
@katyedwards Is the staging site working for you?  It's working from here in the Mindwave office.

If it works for you and me, could this be a SLaM internal firewall issue and not a dev issue at all?

[2017-08-24 09:24] reddog commented on #1013
It works on a (newer version of) Internet Explorer from the Mindwave office.

[2017-08-24 09:32] katyedwards commented on #1013
@reddog  works fine for me, but I can't access the clinician interface

[2017-08-24 09:33] katyedwards commented on #1013
I'll push it back to SLaM and will ask them to check the firewall

[2017-08-24 09:33] reddog commented on #1013
The error shown in this issue is slightly different from the previous internal SLaM firewall issues, see:

![image](https://user-images.githubusercontent.com/151362/29659930-b0103338-88b7-11e7-8bfd-485c668d193b.png)

So *maybe* it's actually not an internal SLaM firewall issue?

[2017-08-24 09:35] RobStallion commented on #1013
Who are you logged in as when you are getting that error?

Can you list all the steps to replicate please?

[2017-08-24 09:43] katyedwards commented on #1013
@RobStallion
He logged into ePJS as himself - James Roberts
Clicked the HL icon in ePJS to load caseload and got a blank screen

Then tried just going directly to https://staging.healthlocker.uk/ in his browser and after 40 seconds got the page can't be displayed message

Does that give enough info?

[2017-08-24 09:47] reddog commented on #1013
@katyedwards Could there be an application issue with regard to some sort of information stored on his computer (some cookie that's used by the app maybe)?

Can you ask James to access https://staging.healthlocker.uk/ from another computer within his office that hasn't previously been used for Healthlocker access?

[2017-08-24 10:04] RobStallion commented on #1013
@katyedwards Thanks for that. Unfortunately I cannot access the site the same was as James. He could also try using the site in a private browser session to check if he has the same issue.

@reddog could you list the steps that you took to get the error you posted above? Also did the error occur on other browsers as well or just while you were on IE?

[2017-08-24 10:09] katbow commented on #1013
Are other sites loading okay for him on the same browser?

[2017-08-24 10:10] reddog commented on #1013
@RobStallion The error posted at https://github.com/healthlocker/healthlocker/issues/1013#issuecomment-324585007 was previously raised and related entirely to internal SLaM firewall issues.  The error there is different to that shown now.

[2017-08-24 10:33] Cleop commented on #42
mhlSLAMRecoveryCarePlan
--
Important_To_Me_Detail
Staying_Well_Detail
Like_To_Be_Different_Detail
Staying_In_Control_Detail
Support_To_Communicate_Detail
Others_Might_Do_Detail
Supporters_Action_To_Take_Detail
Previous_Support_Type_Detail
Preferred_Medication_Detail
Unacceptable_Medication_detail
Prefer_Not_To_Share_With

[2017-08-24 11:02] reddog commented on #1013
Further feedback from James:

Tested on a computer that he thinks hasn't used used to access HL from previously.  When accessing https://staging.healthlocker.uk/ directly he gets the following error:

![image003](https://user-images.githubusercontent.com/151362/29663544-8a594e8e-88c3-11e7-9ba3-cd8e513500fb.jpg)

When accessing HL from within ePJS on that same computer he gets the following error:

[2017-08-24 13:26] RobStallion commented on #1013
I have not been able to replicate any of the errors posted here so far. I have used chrome and IE but have had no problems.

@reddog, just to be clear, is issue you posted [here](https://github.com/healthlocker/healthlocker/issues/1013#issuecomment-324585007) still a problem or was it something on slam's end?

With regards to your question [here](https://github.com/healthlocker/healthlocker/issues

[2017-08-24 13:59] katbow commented on #1009
Completed the section for updating carers. There is no longer a check before adding a carer for is the service user exists. Instead, the service user id is passed in as either `nil` if there is not a service user in Healthlocker.

Now working on this part:

which will update the carers table if it exists for that `slam_id`

[2017-08-24 14:24] reddog commented on #1013
@RobStallion The screenshot https://github.com/healthlocker/healthlocker/issues/1013#issuecomment-324585007 was from an internal SLaM firewall issue.

The difference I was highlighting was that although that issue was indeed a SLaM firewall issue, the external IP address of the staging site was correctly shown.

In the second of the two new failure screenshots, it is not the external IP address th

[2017-08-24 14:31] katyedwards commented on #927
SLaM have confirmed they do want to move into a production environment after they pen test so I think this issue is now redundant - no point updating to update again in a few weeks.

[2017-08-24 15:45] katbow commented on #1010
Finished #1009. This is the next step

[2017-08-24 16:47] katbow commented on #878
@Cleop This is a possibility for something small to work on/finish up after the demo. For the last step of ordering the goals.

[2017-08-25 07:13] MollieCourtenay commented on #975
@katyedwards
Please can you edit so that this part of the carers story is not part of the title. (Life as a carer - seeing services steadily improving)

+ [ ] Make this body copy
Jaya Kathrecha’s family life was knocked off course when her two sons were diagnosed with depressive illnesses in quick succession some ten years ago.

[2017-08-25 07:15] #740 closed

[2017-08-25 07:15] #781 closed

[2017-08-25 07:21] MollieCourtenay opened #1017 "Burger - bold current page"
+ [x] Current page on the burger menu should be bolder text than the others, so that the user is reminded what page they are on.

[2017-08-25 07:40] katyedwards commented on #975
Done!

[2017-08-25 08:22] MollieCourtenay commented on #770
incorrect copy

[2017-08-25 08:23] MollieCourtenay commented on #901
incorrect copy

[2017-08-25 08:23] MollieCourtenay commented on #772
incorrect copy

[2017-08-25 08:24] MollieCourtenay commented on #896
incorrect copy

[2017-08-25 08:25] MollieCourtenay commented on #914
incorrect copy

[2017-08-25 08:25] MollieCourtenay commented on #972
incorrect copy

[2017-08-25 08:26] MollieCourtenay commented on #1001
incorrect copy

[2017-08-25 08:27] MollieCourtenay commented on #978
incorrect copy

[2017-08-25 08:27] MollieCourtenay commented on #984
not showing

[2017-08-25 08:36] MollieCourtenay commented on #777
not showing
still this;
<img width="774" alt="screen shot 2017-08-25 at 09 36 06" src="https://user-images.githubusercontent.com/25012688/29706211-d90cf1c4-8978-11e7-85d3-5bd2d5f52eae.png">

[2017-08-25 08:36] MollieCourtenay commented on #764
Not doing it.

[2017-08-25 08:37] #975 closed

[2017-08-25 08:39] MollieCourtenay commented on #899
still old flash message.

[2017-08-25 08:39] MollieCourtenay commented on #830
<img width="581" alt="screen shot 2017-08-25 at 09 39 40" src="https://user-images.githubusercontent.com/25012688/29706304-5647e004-8979-11e7-981a-e83b4f457dac.png">
Half way there...

[2017-08-25 08:41] MollieCourtenay commented on #767
@Cleop what did you do here, delete st/ th or fix the bug so they display correctly?

[2017-08-25 08:48] katbow commented on #1011
Function change & tests are done. Will need to check that when `ServiceUser.for` is used, it accounts for the returned user to have `user."Forename"` and `user."Surname"` instead of `user.first_name` and `user.last_name` as in users stored in Healthlocker.

[2017-08-25 08:53] MollieCourtenay opened #1018 "Add links to youtube videos in about"
Add links to youtube videos in about.
+  [x] SU paragraph
+ [x] Staff paragraph

If you are a service user at the South London and Maudsley NHS Foundation Trust, you can choose to connect your Healthlocker account with your health record and care team. This will enable you to send and receive messages with your care team, share tracking, goals and coping strategies with them. [Watch a YouTube vide

[2017-08-25 09:45] indiamindwave24 commented on #900
![tickbox_complete](https://user-images.githubusercontent.com/25007700/29708971-90cab036-8982-11e7-947a-845345b2a3f7.png)
![tickbox](https://user-images.githubusercontent.com/25007700/29708972-90d01ba2-8982-11e7-8ee0-78416e43958f.png)

[2017-08-25 10:30] MollieCourtenay opened #1020 "Coping Strategy, list in order of most recently updated"
- [x] As a service user, when I view my coping strategies, I see them with the most recently updated at the top

- [x] As a clinician, when I view a SU's coping strategies I see them with the most recently updated at the top

[2017-08-25 10:48] MollieCourtenay commented on #900
@indiamindwave24 these are a different style to the ones here #450

[2017-08-25 10:58] katbow commented on #899
@MollieCourtenay since we saw this in the demo, do you want to close? or wait until the deploy is fixed?

[2017-08-25 10:58] katbow commented on #972
@MollieCourtenay was this for the data data part?

[2017-08-25 11:02] MollieCourtenay commented on #972
there was one round of changes.  adding the word 'useage', and making the consent point consistent across sign up and account.

the second round i did this morning was to take out data data.

[2017-08-25 11:03] MollieCourtenay commented on #899
@katbow there are loads of issues like this and I think I would rather close all these once I see them deployed. So will wait to hear from Rob.

[2017-08-25 11:03] MollieCourtenay opened #1022 "if no care team; can still see text box to input messages..."
this is a bit weird. There is a message in contacts bit.

[2017-08-25 11:06] MollieCourtenay opened #1023 "Support with Analytics"

[2017-08-25 11:11] MollieCourtenay opened #1024 "Page titles should be pink"
Colour is: #EC4067 (as per style guide)

- [x] 'My Goals' on https://www.healthlocker.uk/goal
- [x] @RobStallion can you also change the text to "My **g**oals" so the capitalisation is consistent with the other pages, thanks!
- [x] 'Coping strategies' on https://www.healthlocker.uk/coping-strategy
- [x] 'Sleep tracker' on https://www.healthlocker.uk/sleep-tracker/new
- [x] 'Problem tracker: Proble

[2017-08-25 11:28] RobStallion opened #1027 "Deployed site is behind current master"
The deployed site is not up to date with current master.

When we want to deploy the application to production with the following command...
` mix edeliver deploy release to production`
we get the following message...
![image](https://user-images.githubusercontent.com/15571853/29711252-d7e283dc-898b-11e7-9fb7-2f134b5dece7.png)

If version 1.0.2 is deployed then the site works as expected but it is

[2017-08-25 11:30] MollieCourtenay opened #1028 "'Not an existing user?' & 'Sign up' button should be next to eachother"
- [x] On the login page, I see the text 'Not an existing user?' with the link you need to click, next to it

<img width="305" alt="screen shot 2017-08-25 at 12 30 21" src="https://user-images.githubusercontent.com/25012688/29712329-2faa36dc-8991-11e7-8ab8-af99ad43acc4.png">

[2017-08-25 11:32] MollieCourtenay opened #1029 "randomise the full list of stories"
Each time you click on the Stories page https://staging.healthlocker.uk/posts the stories appear in a random order.

[2017-08-25 11:35] MollieCourtenay opened #1030 "Tracker overview layout, diary, move text below icon"
diary overview layout is not the same as trackers. If kept consistent, the diary title should be in line with the bottom of the diary icon and the entry left aligned beneath the icon.

<img width="202" alt="screen shot 2017-08-25 at 12 34 15" src="https://user-images.githubusercontent.com/25012688/29712437-ba90f196-8991-11e7-9f10-0e42cc3e00e4.png">

[2017-08-25 11:35] MollieCourtenay opened #1031 "Account, make un-editable fields look different"
- [x] As a service user I can see clearly what fields I can edit in my account: no text box on non-editable fields

Mock up:
But ignore the wonky font on the email address!

![screenshot 2018-03-13 16 40 09](https://user-images.githubusercontent.com/24604903/37356926-ffa0a7b4-26de-11e8-8036-776e37b0f6c0.png)

Fields listed below...

[2017-08-25 11:37] MollieCourtenay opened #1032 "caseload - make button more obvious"
Style as the login button which appears in the same place on the SU view:

![screenshot 2018-03-21 09 24 48](https://user-images.githubusercontent.com/24604903/37702280-f46e8044-2ce9-11e8-9c53-30987818cecb.png)

Like this, but with the standard amount of padding around the text - apologies for the wonky mockup!

[2017-08-25 11:42] MollieCourtenay opened #1033 "Make toolkit buttons all the same size on mobile"
<img width="220" alt="screen shot 2017-08-25 at 12 42 04" src="https://user-images.githubusercontent.com/25012688/29712674-e2c624f0-8992-11e7-9aca-8509cf214b77.png">
<img width="205" alt="screen shot 2017-08-25 at 12 41 56" src="https://user-images.githubusercontent.com/25012688/29712675-e2e56784-8992-11e7-965d-f5175d24df34.png">

[2017-08-25 11:43] RobStallion commented on #1027
after doing a little bit of looking into this issue I have seen that both the `version number` of healthlocker and the `.deliver/config` were updated in this PR.

I'm not sure if this is what caused the error as this PR actually fixed an issue with messaging but looking into it.

[2017-08-25 11:47] MollieCourtenay commented on #942
done in another issue

[2017-08-25 11:47] #942 closed

[2017-08-25 12:18] indiamindwave24 commented on #900
![tickbox_complete](https://user-images.githubusercontent.com/25007700/29713700-c8dd5b6c-8997-11e7-897c-541b2ce3e2ae.png)
![tickbox](https://user-images.githubusercontent.com/25007700/29713701-c8ea0862-8997-11e7-847d-0524a6c68a28.png)

[2017-08-25 15:05] RobStallion commented on #1027
I have tried `ssh`ing into the server and moving the healthlocker folder found in `/home/hladmin/healthlocker` to a different location, then exiting out of the VM and rebuilding the site from scratch with `mix edeliver build release`.

Once this had build I ran `mix edeliver deploy release to production` but got the same message as above asking to select the release.

I tried with both and had the

[2017-08-25 15:10] reddog commented on #1027
@RobStallion Thanks for your work on this.

There was recently a redeploy to effect the fix for #986. Were there any issues with the regular deploy process at that point? Was anything done differently there to how you've actioned the deploy today?

[2017-08-25 15:19] RobStallion commented on #1027
@reddog There have been no changes in the way that the deployment has been handled.

I think that it may not have been noticed right away as there were no obvious content changes. Also when we redeployed to fix issue #934 it appears to have worked.

[2017-08-25 15:40] katyedwards commented on #1027
Thanks @RobStallion just to say, please focus all time on this right now - we **have** to handover HL on Tuesday so have to get these things sorted.  We'll have to delay Oxleas slightly.

[2017-08-25 15:42] katbow commented on #1012
This is taking slightly longer than anticipated since it's min 3 extra queries which would slow this down quite a lot.

Have talked with @MollieCourtenay and have decided to move section for non-connected users to a separate page (button at the bottom which clinicians can click to get to).

The carers styling will be slightly different in that there will now be a section instead of the 'User not s

[2017-08-25 15:43] RobStallion commented on #1027
I have just managed to get the forked repository to update all the content by following the steps I put [here](https://github.com/healthlocker/healthlocker/issues/1027#issuecomment-324947883).

Next step is to repeat the steps I just took but on the real repo

[2017-08-25 15:48] katbow commented on #1012
For styling: Colouring of carers (Mary Johnson section) will reflect the colours of carers as above in the Healthlocker Users section. The unconnected user they are caring for will be greyed out, as done currently in the Users not signed up to Healthlocker section.

Confirmed with @MollieCourtenay

[2017-08-25 16:07] MollieCourtenay opened #1036 "Add 'Back to top' link to bottom of stories and tips pages"
+ [x] Back to top link for Tips https://www.healthlocker.uk/tips
+ [x] Back to top link for Connect Tips https://www.healthlocker.uk/tips?tag=Connect
+ [x] Back to top link for BeActive Tips https://www.healthlocker.uk/tips?tag=BeActive
+ [x] Back to top link for KeepLearning Tips https://www.healthlocker.uk/tips?tag=KeepLearning
+ [x] Back to top link for TakeNotice Tips https://www.healthlocker.

[2017-08-25 16:18] RobStallion commented on #1027
![image](https://user-images.githubusercontent.com/15571853/29722566-4a11ff8c-89b9-11e7-9b93-e116083386ea.png)

master has been merged in, deployed and appears to be working as expected.

[2017-08-25 16:20] MollieCourtenay opened #1037 "Add way to filter stories, expand tags"
needs thinking through

user feedback:
Added to the stories the search ability to locate specific tips/stories to their area of concern was felt appropriate.  Know you said that this was so that people couldn’t focus on their problem but the feeling I got was that people would want a quick access to stories that were of interest to them not having to read snippets of every story to find the one ap

[2017-08-25 16:27] katyedwards commented on #42
Message if no care plan data is found works great!

Unable to test the care plan summary as no access to a connected user with a care plan!

[2017-08-25 16:29] MollieCourtenay commented on #901
This works on the home page but not the Tips category pages or the Tips page.

[2017-08-25 16:30] #903 closed

[2017-08-25 16:31] #896 closed

[2017-08-25 16:32] katyedwards commented on #830
Sorry @Cleop  - on current deployment we've lost the Woke up: 0 times
And have microseconds back!

![screenshot 2017-08-25 17 31 19](https://user-images.githubusercontent.com/24604903/29723088-3e172a7a-89bb-11e7-8674-938e4a48c9bb.png)

[2017-08-25 16:32] #1027 closed

[2017-08-25 16:33] #972 closed

[2017-08-25 16:34] #777 closed

[2017-08-25 16:34] katyedwards commented on #951
Yes working great!

[2017-08-25 16:34] #951 closed

[2017-08-25 16:36] #914 closed

[2017-08-25 16:36] MollieCourtenay commented on #978
@RobStallion still not seeing this one.

[2017-08-25 16:37] #770 closed

[2017-08-25 16:54] #974 closed

[2017-08-25 16:55] #983 closed

[2017-08-25 16:55] #1001 closed

[2017-08-25 16:57] katyedwards commented on #878
@Cleop
Ordering Goals works great!

- [ ] Display on Important and Achieved is still off

- [ ] Achieved is spelt wrong with the date

- [ ] Any new step added (to an existing or new goal) is not aligning the text to the box

![screenshot 2017-08-25 17 56 56](https://user-images.githubusercontent.com/24604903/29724015-cb49efa6-89be-11e7-8a93-975f47f51b0f.png)

[2017-08-25 16:58] #899 closed

[2017-08-25 16:59] MollieCourtenay commented on #984
@RobStallion this is still not showing

[2017-08-25 16:59] #772 closed

[2017-08-25 17:00] #764 closed

[2017-08-25 17:01] #765 closed

[2017-08-25 17:03] katyedwards opened #1038 "Remove Security Section from Clinician Account"
Clinicians don't have a password or security question, so...

- [x]  Remove the whole security tab from their account view.
![screenshot 2017-08-25 18 01 40](https://user-images.githubusercontent.com/24604903/29724223-95f33f3c-89bf-11e7-98ff-d343147bdb58.png)

[2017-08-25 17:03] katyedwards commented on #965
Yes done thanks!

[2017-08-25 17:03] #965 closed

[2017-08-25 17:04] MollieCourtenay commented on #968
This works well. There is just a big gap between these two bits.
<img width="864" alt="screen shot 2017-08-25 at 18 02 38" src="https://user-images.githubusercontent.com/25012688/29724255-bd37f754-89bf-11e7-91da-79e9e54c4ef0.png">

<img width="810" alt="screen shot 2017-08-25 at 18 03 55" src="https://user-images.githubusercontent.com/25012688/29724261-ca397658-89bf-11e7-9b57-0bd754cfaab5.png">

[2017-08-25 17:05] katyedwards opened #1039 "Extra Boxes showing on SU edit goal page"
- [ ] Remove additional 2 'Describe a personal goal' boxes on edit goal page

The top one should remain

![screenshot 2017-08-25 18 04 54](https://user-images.githubusercontent.com/24604903/29724324-f811e240-89bf-11e7-8d51-5c92013b95e9.png)

[2017-08-25 17:10] #981 closed

[2017-08-25 17:10] katyedwards commented on #767
Yep - looking good!

[2017-08-25 17:10] #767 closed

[2017-08-25 17:11] #659 closed

[2017-08-25 17:11] katyedwards commented on #1018
Done!

[2017-08-25 17:11] #1018 closed

[2017-08-25 17:33] katbow commented on #1012
Right now I have cares displaying in a different section
![image](https://user-images.githubusercontent.com/1287388/29725360-b88b2312-89c3-11e7-8c06-e8b4abae0c51.png)

Last bits to do are:
* Load in service user the carer is caring for & display underneath carer
* Finish loading in non-hl users on new `unconnected` page, as it is currently blank

[2017-08-29 00:06] RobStallion commented on #939
@MollieCourtenay should the email be healthlocker@slam.nhs.uk?

[2017-08-29 07:11] MollieCourtenay commented on #939
Yes please.

[2017-08-29 07:12] MollieCourtenay commented on #939
Ah sorry about the co.uk above !!

[2017-08-29 08:15] MollieCourtenay opened #1041 "Add role to clinician view of care team list"
- [x] As a clinician, when I view a SU and see their care team listed, I see each clinician's role next to the name - as currently displayed in the SU View:

![screenshot 2018-01-31 11 28 53](https://user-images.githubusercontent.com/24604903/35620741-f12e6fca-0679-11e8-9135-6c7eecab521c.png)

See #968 for the initial work displaying the clinician names only.

![image](https://user-images.githubus

[2017-08-29 08:16] #968 closed

[2017-08-29 08:42] MollieCourtenay commented on #900
<img width="363" alt="screen shot 2017-08-29 at 09 37 49" src="https://user-images.githubusercontent.com/25012688/29812198-baa23d16-8c9d-11e7-9462-4e03acd3abf5.png">

Styling wise,
+ [ ] the goal tick boxes are still much bigger than the mock up above. Could they be made to the same height of the star icon?
+ [ ] the step to take text should be aligned to the centre of the tick box.

[2017-08-29 09:11] MollieCourtenay commented on #984
@RobStallion @katbow this was only showing in Edit Goal, I have added to the Add new goal form template in a PR this AM.
(I also removed the extra text boxes that I had accidentally copied in! #1043  )

[2017-08-29 09:13] MollieCourtenay commented on #865
@katbow I think you had fixed this - and this will be in your PR?

[2017-08-29 09:44] katyedwards commented on #830
Today's View:

![screenshot 2017-08-29 10 44 25](https://user-images.githubusercontent.com/24604903/29814982-110f30f6-8ca7-11e7-98ac-0ede92fa2a27.png)

[2017-08-29 10:41] katbow commented on #865
in #1045 now

[2017-08-29 11:03] #939 closed

[2017-08-29 12:00] MollieCourtenay commented on #939
Have send an email and hoping to hear back from Adele that is has been received?

[2017-08-29 12:03] #1039 closed

[2017-08-29 12:18] katyedwards commented on #1007
@nelsonic @iteles one quick question to get this finished off... is there a load balancer in the current build in staging?

[2017-08-29 12:19] MollieCourtenay commented on #42
+ [ ] the if no care plan message  -  needs formatting differently - as per AC above.

Healthlocker is unable to pull your care plan from your record, this may be because:

- your care team use a different care plan template
- your care team have uploaded your care plan as a document rather than completing the fields in clinical record system.

Soon there will be a new care plan which all teams ca

[2017-08-29 12:22] #865 closed

[2017-08-29 12:23] #984 closed

[2017-08-29 12:24] katyedwards opened #1048 "ERROR - Tracker Overview"
Argument Error page when trying to access Tracker overview:

1. Logged in as SU
2. Access tracker overview with no problem
3. Enter sleep tracking
4. Try to access tracker overview again and get error screen:

![screenshot 2017-08-29 13 15 58](https://user-images.githubusercontent.com/24604903/29820572-d94359d4-8cbc-11e7-8e0a-31d581b7382a.png)

1. Logged in as Clinician
2. Access SU tracker page w

[2017-08-29 12:24] katyedwards commented on #1048
1. Logged in as Carer
2. Tracking overview fine
3. Go to toolkit, did hard refresh
4. Tracked sleep
5. Went to tracking overview and got argument error as above

[2017-08-29 12:25] MollieCourtenay commented on #1048
ArgumentError at GET /tracking-overview
argument error
web/views/tracker_view.ex
15  defp last_week(end_date) do
16    Timex.shift(end_date, days: -6)
17  end
18
19  def get_week_average(data) do
20    total_slept = Enum.map(data, fn struct -> String.to_float(struct.hours_slept) end)
21      |> Enum.sum
22    if Kernel.length(data) == 0 do
23      0
24    else
25      format_average_sleep(total_sl

[2017-08-29 12:26] katyedwards commented on #1048
Both slam connected and non-connected users

[2017-08-29 12:27] MollieCourtenay commented on #830
blocked by #1048

[2017-08-30 10:34] katyedwards commented on #1048
Thanks @katbow seems to be working great now

[2017-08-30 10:34] #1048 closed

[2017-08-30 10:40] katyedwards commented on #830
Blocker solved.

Sleep 0 hours and Times work up 0 times works fine, but we still have microseconds on the average sleep.

![screenshot 2017-08-30 11 40 13](https://user-images.githubusercontent.com/24604903/29868723-01ca1ada-8d78-11e7-98ad-b72c1bd4ccfb.png)

[2017-08-30 10:43] katyedwards commented on #878
Check boxes need to be made smaller

[2017-08-30 11:10] katyedwards opened #1049 "ERROR: cannot convert to nil param"
Description:
Error - cannot convert to nil param

Steps:
ePJS user 'gmor...@....uk' (obfuscated) has three patient records extracted to his health locker caseload from ePJS.  When clicking Healthlocker caseload button within ePJS, immediately his by 'cannot convert to nil param' error.

URL from ePJS:  (see Slack for URL)

Error:

![image001](https://user-images.githubusercontent.com/24604903/2986

[2017-08-30 11:23] reddog commented on #1049
Tested locally and gives the same error.

[2017-08-30 13:36] #1012 closed

[2017-08-30 13:36] #1011 closed

[2017-08-30 13:36] #1010 closed

[2017-08-30 13:36] #1009 closed

[2017-08-30 14:37] katyedwards commented on #1013
Closing this as we have heard no more from SLaM and they seem to be progressing with their testing.

[2017-08-30 14:37] #1013 closed

[2017-08-30 14:40] katyedwards commented on #901
@MollieCourtenay can you check this one - I'm not totally sure what I'm looking for to see if it can be closed!

[2017-08-30 14:52] katbow commented on #1049
This was fixed alongside the deploy. Checked & it is accessible now

[2017-08-30 14:54] katyedwards commented on #1049
Thanks @katbow is that everything deployed now?  What was it that caused the error?

[2017-08-30 14:57] katbow commented on #1049
It seems that account was used for testing carer functionality, then was switched to a clinician account, so it was removing the carer room that they were in previously. Care Team was showing in the menu with no room for the account as a carer (room was the nil part). Seems like something to keep in mind, but probably also an edge case during testing phase.

[2017-08-30 15:40] katyedwards commented on #1049
Ah ok thanks.  I'm just waiting for them to confirm they can access ok and then I'll close the issue.

[2017-08-30 16:50] katyedwards commented on #1049
SLaM have confirmed access is working again, thanks!

[2017-08-30 16:52] katyedwards opened #1050 "Error: Care Plan Summary - function Healthlocker.EPJSRecoveryCarePlan.fetch/2"
Description:
Error - Care Plan Summary: function Healthlocker.EPJSRecoveryCarePlan.fetch/2

Steps:
Ensure the ePJS patient record holds an R&S plan and is present on the MHL extract

=> Go to https:staging.healtlocker.uk/login

=> Login as
Tkestedt3Tkest@outlook.com

=> Navigate to 'Goals and Tracking'

=> Navigate to 'Care Plan Summary'

![image001 1](https://user-images.githubusercontent.com/246

[2017-08-30 16:56] katyedwards commented on #42
Blocked by #1050

[2017-08-30 16:58] katyedwards opened #1051 "ERROR: Care Plan Summary - expected at most one result but got 3 in query"
Description:
Care Plan Summary - expected at most one result but got 3 in query:

The primary R&S plan table ‘mhlSLAMRecoveryCarePlan’ can have a 1 to many relationship with ‘mhlSLAMRecoveryFocusedCarePlanDailyActivity’ (and other related child tables).

Steps:
Ensure the ePJS patient record holds an R&S plan and is present on the MHL extract

=> Go to https:staging.healtlocker.uk/login

=> Login

[2017-08-31 07:09] #978 closed

[2017-08-31 14:01] katbow commented on #1051
@katyedwards if possible, could you confirm how all these table relate to one another?

Right now we have assumed that we can access `mhlSummaryOfNeed` and `mhlSLAMRecoveryCarePlan` using the `Patient_ID`, then use the `SLAM_Recovery_Focused_Care_Plan_ID` from the `mhlSLAMRecoveryCarePlan` table to access all the other relevant tables. List of tables we're accessing using this includes `mhlSLAMRec

[2017-08-31 14:03] katyedwards commented on #1051
@katbow  Sorry - I just don't know enough about the care plan - have sent @MollieCourtenay  a message to ask if she can jump in here though asap

Or would it be better to see if there is someone from the ePJS team you can talk to?

[2017-08-31 14:05] katbow commented on #1050
I think this *should* be a fairly quick fix. My initial thought is that the field is being accessed with `recoveryCarePlan[:Field_Name]` syntax, which should be fixable by changing to `recoveryCarePlan."Field_Name"` syntax.

Adding 2 hours however, in case that is not it & to include investigation time in that case.

[2017-08-31 14:07] katyedwards commented on #1050
Thanks @katbow fingers crossed!!

[2017-08-31 14:13] katbow commented on #1051
yes, if there's someone who knows the table structure that would be best. I don't need a call or an answer urgently, as this comment

would indicate that what I outlined above is correct. I was looking for the confirmation to avoid back & forth with fixing/testing if that's not the case for *some* of the tables. I can start work now on this.

This part you or @MollieCourtenay can answer though, as

[2017-08-31 14:28] katbow commented on #1051
Oh one more thing with that sorry. What is the relationship between a patient and the `mhlSummaryOfNeed` and `mhlSLAMRecoveryCarePlan` tables? Can a patient only have one of each of these (one to one) or multiple of these (one to many)?

[2017-08-31 14:29] katyedwards commented on #1051
Thanks @katbow I've asked if/when someone there will be available to confirm the tables.

I'm not sure if @MollieCourtenay is available this afternoon as she's at her other job, so I will risk making an executive decision:

Yes, if there are 3 entries in one table it should list them all - ideally with a linespace between them and the same date/person stamp.

[2017-08-31 14:30] katyedwards commented on #1051
Re: your question on the Summary of need & mhlslamrecoverycareplan tables - I don't know.  If you need to know this more urgently to get working, I'll see who at SLaM can help.

[2017-08-31 14:31] katyedwards commented on #1051
@katbow would it work for you to start on the quicker one so there is hopefully something we can tell SLaM is fixed fairly early tomorrow morning which'll buy us a bit of goodwill for fixing the other by the end of day (hopefully!)

[2017-08-31 14:54] katbow commented on #1051
Good thinking! I checked it out and it is being accessed in the way I thought, so I will change it around and see if that fixes the problem 👍

[2017-08-31 14:55] katyedwards commented on #1051
Thanks!

[2017-08-31 15:39] MollieCourtenay commented on #1051
@katbow do you still have questions for me?
- Should all of the results from one table be displayed on the screen then? - yes.
- What is the relationship between a patient and the mhlSummaryOfNeed and mhlSLAMRecoveryCarePlan tables? Can a patient only have one of each of these (one to one) or multiple of these (one to many)? - I assume they will have only one of each. Are you seeing more than one?

[2017-08-31 15:47] katbow commented on #1051
@MollieCourtenay there appears to be only one in this case (it wouldn't have gotten to the part where the error occurred if there was more than one). However I wasn't sure if that was the case for all users, or just for the user they were testing. I am keeping it for now as a one to one (as that does make the most sense to me), but still need that confirmation. If a one to many relationship is pos

[2017-08-31 15:59] MollieCourtenay commented on #1051
@katbow it makes sense to me too, so as long this is fixed and doesn't throw an error, we can ask Garry when he is back, just to be certain, if he thinks there could be a different case than one to one. As he was the one to pull these tables together for the subset.

[2017-08-31 16:00] katyedwards commented on #1051
@MollieCourtenay @katbow  If it helps I can ask James,  but he has gone for the day now and will be back first thing tomorrow.

[2017-08-31 16:02] katyedwards commented on #1050
@katbow I don't know if you saw my slack message - is there any chance this can be reviewed and deployed tonight so there is something for SLaM to test first thing - as they will be starting work earlier than you tomorrow and it'll keep them busy!

[2017-08-31 16:03] katbow commented on #1051
Yeah @katyedwards that would be good to ask him! Tomorrow morning is fine.

[2017-08-31 16:04] katyedwards commented on #1051
I'll email now and we may have an answer by the time we start work tomorrow...

[2017-08-31 16:13] katbow commented on #1050
yep, I replied there but didn't @ you. Just been merged now so about to deploy

[2017-08-31 16:16] katyedwards commented on #1050
Lovely, thank you @katbow

[2017-08-31 16:28] katbow commented on #1050
Redeployed and ready to test. They will need to make sure they test this particular part on a user with only one of each child relationship or they will run into error on #1051.

[2017-08-31 16:30] katyedwards commented on #1050
Noted, thanks @katbow

[2017-08-31 17:14] MollieCourtenay commented on #42
@katbow

A couple of cosmetic things I'd like to note - having just been able to see this for the first time.
- remove underscores - looks like you have done that @katbow
- remove 'mhl' wherever it appears
- remove timestamp - keep date only
-  and add spaces between words of titles (maybe have a tidy of all of them if something we can do)
- add grey dividing lines between the main sections to bre

[2017-08-31 21:35] katbow commented on #42
@MollieCourtenay for timestamps - I switched that over already on the other branch 🙂

For removing mhl & add spaces between words of titles - do you want them all to just be what they are title now minus 'mhl'?

Right now it would be the title with no content underneath. If it ends up being a lot of empty sections, it may be better to consider taking the titles out.

[2017-08-31 21:40] katbow commented on #59
this goes along with #934

[2017-09-01 08:10] katyedwards commented on #1051
@katbow Feedback from SLaM:
A patient can have multiple of each document (one to many), but only one of each document (the most recent)is active.

Does that answer your question sufficiently?

[2017-09-01 08:14] katyedwards commented on #1049
@katbow   This has occured again for James who is testing while Garry is off...

Assuming it's the same problem - it definitely seems like an edge case during testing so we don't wanna to spend too long on fixing it to the detriment of other bugs, but if possible we want to avoid this happening again with another test user and it looking like we're just not fixing it properly.

I'm not meant to be

[2017-09-01 08:15] MollieCourtenay commented on #42
@katbow ideally I would edit all the titles so its a bit more friendly and clear.
If I did it would it conflict with your PR?

[2017-09-01 08:16] katyedwards commented on #1049
Description:
Error - cannot convert to nil param

Steps:
ePJS user 'jroberts2@slam.nhs.uk' has a patient records extracted to his health locker caseload from ePJS.  When clicking Healthlocker caseload button within ePJS, immediately his by 'cannot convert to nil param' error.

URL from ePJS:  on slack

![image008](https://user-images.githubusercontent.com/24604903/29961107-3f65ed22-8ef6-11e7-8d14-

[2017-09-01 08:50] MollieCourtenay commented on #1049
@katbow how was this one fixed? Did you fix something in the DB for the user that was having problems or fix in a different way.
Would you expect to the the error reoccurring like this for a different user.
It does appear to be the same as I can see this user has Care Team in his menu where he shouldn't have as a clinician.

[2017-09-01 08:58] katbow commented on #1049
Yeah it's a DB fix. In Garry's case it's because he previous connected as a carer in testing, then as a clinician. For James it was connected as a service user, then later as a clinician (which I'm about to fix).

I'll ensure the links are removed for clinicians, but it would still be a problem if they did either of those things first (signed up as service user or carer) with their nhs email. To a

[2017-09-01 09:01] MollieCourtenay commented on #1049
@katbow that makes sense to me thanks, i'll pass that on so they know were on it.

[2017-09-01 09:08] katbow commented on #1049
it's updated now, so please test label applies again!

[2017-09-01 09:15] katbow commented on #1051
I'm not really sure what this means in terms of what I need to do. Are multiple items stored on the database we are using, or only the most recent? If it's the latter, does this mean I am safe to keep it as looking for *one* result for a care plan for each user? If it's multiple, how do I know which is the most recent to display? There is no timestamp for when it was updated (except the `mhlSummar

[2017-09-01 09:21] katbow commented on #42
It would but I can fix conflicts pretty easily. But I can also pretty easily just change those titles as I go along, so I can take care of it.

Is this how you would want them?
**mhlSummaryOfNeed** -> Summary of Need
**mhlSLAMRecoveryCarePlan** -> Recovery Care Plan
**mhlSLAMRecoveryCarePlanContingency** -> Contingency (not sure about this one, but not sure if Recovery Care Plan should be repeated

[2017-09-01 09:54] MollieCourtenay commented on #42
Titles:
**mhlSummaryOfNeed** -> Summary of need
<grey line divider>
**mhlSLAMRecoveryCarePlan** -> Recovery Care Plan
<grey line divider>
**mhlSLAMRecoveryCarePlanContingency** -> Contingency Plan
<grey line divider>
**mhlSLAMRecoveryFocusedCarePlanDailyActivity** -> Daily Activity Plan
<grey line divider>
**mhlSLAMRecoveryFocusedCarePlanGettingHelpFromOthersGeneral** -> Getting help from others
<

[2017-09-01 09:59] MollieCourtenay commented on #42
@katbow I would want to re-write all the headings (as above) and subheadings too.

Can I do it - shall I wait for your PR to be merged by Simon?

[2017-09-01 09:59] MollieCourtenay commented on #1049
@katbow James can enter thanks. will close this again.

[2017-09-01 10:12] MollieCourtenay commented on #1051
I have asked for confirmation RE: one to many / one to one within the subset. FYI @katbow

[2017-09-01 10:14] katbow commented on #42
Simon has merged in the PR so yeah you can do it. If you want you can do the text changes and I can add the link for messages so it goes to the correct spot as it will involve me updating the controller for it. There's something I need to refactor there anyway.

You can make your changes then let me know when you're done then I can carry on from the same branch.

[2017-09-01 10:18] katbow opened #1054 "Refactor care plan controller"
Separate out function for care plan queries
https://github.com/healthlocker/healthlocker/pull/1053#discussion_r136541045

Use && operator for changing datetime
https://github.com/healthlocker/healthlocker/pull/1053#discussion_r136541454

[2017-09-01 10:19] MollieCourtenay commented on #42
@katbow thank you, will get cracking.

[2017-09-01 10:25] katbow commented on #900
@MollieCourtenay These are the tick box icons the same size as the star icons which looks a bit big to me still (forgive my keyboard mashing goals and steps)

![image](https://user-images.githubusercontent.com/1287388/29966094-438170b8-8f08-11e7-91e8-b724c77da20a.png)

Here they are the next size down. Do you prefer like this or is it too small?
![image](https://user-images.githubusercontent.com/1

[2017-09-01 10:29] katbow commented on #878
@MollieCourtenay this seems to be open for the same reason #900 is open. Can this one be closed so we can take care of the resizing of tick boxes in just one issue?

[2017-09-01 10:31] MollieCourtenay commented on #900
@katbow I agree -  if prefer somewhere in the middle of those two sizes..
If not possible, then smaller option with a reduced gap between steps.

If the words for each step could align to the bottom of the tick box that would be great.

[2017-09-01 10:40] MollieCourtenay commented on #878
I'll trust here @katyedwards says the ordering works great.

[2017-09-01 10:40] #878 closed

[2017-09-01 11:00] MollieCourtenay commented on #42
@katbow   is it ok within this txt file to move the order about a bit? and to maybe delete a couple of bits? Will that mess with it in any way?

[2017-09-01 11:08] MollieCourtenay commented on #1051
@katbow from James at SLaM -  Recovery and Support Plan subset – You are correct, the subset only has the most recent / active data so it would be a one to one relationship.

[2017-09-01 11:11] katbow commented on #1051
Excellent 😄! Will deploy now.

[2017-09-01 11:17] katbow commented on #42
If there are bits that need deleting (e.g. title and the info is unnecessary) just need to ensure the whole section is deleted.

E.g. if you no longer want the subheading/info for Important to Me Detail in the Recovery plan section, then need to delete both these sections:

[code]

There are some that have a for loop around them. If you want to move the text somewhere else, the for loop needs to g

[2017-09-01 11:19] MollieCourtenay commented on #42
great thanks @katbow

[2017-09-01 11:19] MollieCourtenay commented on #830
When no data entered it shows as 0 in average bar.
When data entered as 0, it says microseconds in average bar.

<img width="603" alt="screen shot 2017-09-01 at 12 15 54" src="https://user-images.githubusercontent.com/25012688/29967621-6a43703c-8f0f-11e7-9131-40d1222a714e.png">
<img width="587" alt="screen shot 2017-09-01 at 12 15 36" src="https://user-images.githubusercontent.com/25012688/2996762

[2017-09-01 11:19] katyedwards commented on #934
SLaM have confirmed this is working!

[2017-09-01 11:19] #934 closed

[2017-09-01 11:19] katyedwards commented on #59
SLaM have confirmed this is working!

[2017-09-01 11:19] #59 closed

[2017-09-01 11:42] MollieCourtenay commented on #42
Note for me:
I have deleted this bit:  <div class="mv2">
    <h3 class="b">Daily Activity Plan</h3>
      <h4>What do I/or am I going to do each day to stay well and achieve my goals</h4>
      <%= for daily_activity <- @daily_activity do %>
        <p><%= daily_activity."Activity_Detail" %></p>
      <% end %>
      <h4>Times Detail</h4>
      <%= for daily_activity <- @daily_activity do %>

[2017-09-01 11:43] katbow commented on #1051
@MollieCourtenay the updated version has been deployed now.

[2017-09-01 11:53] katbow commented on #830
@MollieCourtenay what do you want it to say in each case?
no data entered -> Sleep: no entries ?
0 hours recorded -> 0 hours ?

[2017-09-01 11:56] MollieCourtenay commented on #830
Average bar> Sleep: 0 hours / or blank with just Sleep:... don't mind - just not microseconds :)

In detail in grey boxes:
Sleep: 0 hours
Woke up: 0 times

[2017-09-01 12:01] MollieCourtenay commented on #42
@katbow once you have looked at my PR.
only things it would be amazing to add:

+ [ ] for users with a care plan - at the bottom.
[Write a note](go to messages) to your care team about your Care Plan Summary.

+ [ ] for users without a care plan to add to their message:
[ask your care coordinator](go to messages) --- turn this into a link to messages.

[2017-09-01 12:22] katbow commented on #42
@MollieCourtenay Here's a screen shot of one section. I just used the title heading as the text for now.

![image](https://user-images.githubusercontent.com/1287388/29969548-8a96fdf0-8f18-11e7-9b9e-4fba5535b09c.png)

Adding those links to the bottom now 👍

[2017-09-01 12:56] katbow opened #1057 "Checklist before redeploy"
I want to be sure everything is included before a redeploy. @MollieCourtenay can you go through and check this is what's needed for right now, then I can get it merged then deployed & hopefully James can test before end of day

- [x] Resize tick boxes #900 I couldn't get rid of the extra space under the box right now 😢 . There's extra space underneath it which I haven't found where it's coming fro

[2017-09-01 13:07] MollieCourtenay commented on #1057
looks good to me! thanks @katbow

[2017-09-01 13:11] katbow commented on #1057
Awesome, Simon is checking over the PRs now, so as soon as they're good & merged I'll redeploy!

[2017-09-01 13:11] #1057 closed

[2017-09-01 13:29] katbow commented on #1054
Refactor complete & merged in

[2017-09-01 13:29] #1054 closed

[2017-09-01 13:30] katbow commented on #900
they've been resized to be in between the 2, although closer in size to the smaller. The padding has been halved between steps.

[2017-09-01 14:12] katyedwards commented on #762
Tested by SLaM and it works!

[2017-09-01 14:13] #762 closed

[2017-09-01 14:15] katyedwards opened #1058 "Connected Carer has no button to disconnect from the SLaM account"
From SLaM's testing

Carer should have a 'disconnect from slam account of person I care for' button/ link the same as an SU does

![image008 1](https://user-images.githubusercontent.com/24604903/29973656-38b5673c-8f28-11e7-8312-8769123b711a.jpg)

[2017-09-01 14:18] MollieCourtenay commented on #1058
#970  There is already an issue for this here.
its not a bug.
ill close this - and @katyedwards is going to let James know.

[2017-09-01 14:18] #1058 closed

[2017-09-01 15:00] katyedwards commented on #853
SLaM have tested and working correctly

![image004 1](https://user-images.githubusercontent.com/24604903/29975552-b4163be4-8f2e-11e7-9484-55fbd2b572c7.jpg)

[2017-09-01 15:01] #853 closed

[2017-09-01 15:23] MollieCourtenay commented on #900
<img width="428" alt="screen shot 2017-09-01 at 16 22 38" src="https://user-images.githubusercontent.com/25012688/29976404-d078f4cc-8f31-11e7-939e-dbaf25acfa15.png">

[2017-09-01 15:23] MollieCourtenay commented on #900
nice!

[2017-09-01 15:23] #900 closed

[2017-09-01 15:24] MollieCourtenay commented on #830
<img width="512" alt="screen shot 2017-09-01 at 16 23 50" src="https://user-images.githubusercontent.com/25012688/29976447-fb8fffc0-8f31-11e7-9fae-e89960e0740c.png">
YESSSSSSS

[2017-09-01 15:25] #830 closed

[2017-09-01 15:27] MollieCourtenay commented on #42
@katbow I just added a second 'm' to accommodation.  a new pull request.... sorry.
I blame SLaM for spelling the table heading wrong! haha

[2017-09-01 15:38] MollieCourtenay commented on #1050
So SLaM can access this now - so I think this is ok to close?
Them being able to access  - is that evidence of this being fixed?  @katbow

[2017-09-01 15:39] MollieCourtenay commented on #1051
Thanks @katbow I'm happy to close this as there has been nothing coming back from SLaM on this since deploying.

[2017-09-01 15:39] #1051 closed

[2017-09-01 15:43] MollieCourtenay commented on #901
@katbow this is stuck here as i cant work it out.
Not a big deal but Ideally I wanted the line break an full stop to also show on https://staging.healthlocker.uk/tips and on all tag pages e.g. https://staging.healthlocker.uk/tips?tag=BeActive

[2017-09-01 15:47] MollieCourtenay commented on #1049
@katbow James has experienced this again this afternoon I think.
but his screenshot is so blurry...
**Email:**
Not sure if things are being developed but getting the same error message again:

ArgumentError at GET /caseload

cannot convert nil to param

![image011](https://user-images.githubusercontent.com/25012688/29977408-235ebcc8-8f35-11e7-813f-63a868577e1f.jpg)

[2017-09-01 18:01] katbow commented on #1050
@MollieCourtenay yes that's right. They wouldn't be able to go to the care plan page if this wasn't fixed!

[2017-09-01 18:05] katbow commented on #901
Okay, yes this is done programmatically for each of the different tag pages, so it's not a matter of just editing the template.

[2017-09-01 18:06] katbow commented on #1049
it's because he has connected as a carer again on the same account. Clinicians can't connect as carers or service users as their role gets reset.

[2017-09-01 18:12] katbow commented on #1049
reset it back to clinician again.

[2017-09-01 18:13] katbow commented on #901
@MollieCourtenay yes, that's because it's set programmatically for each of the tip tags.

[2017-09-01 18:19] katbow commented on #901
![image](https://user-images.githubusercontent.com/1287388/29982528-f8156106-8f49-11e7-82a2-4dd01f6296d4.png)
Do mean the grey dividing line? Where would you like it on the main tips page? I'm not sure what you mean by the full stop. Do you mean the number that is done for each tag category on the home page? So connect will have **1.** in front of it and so on to match the home page?

Also where d

[2017-09-02 07:35] #1050 closed

[2017-09-02 07:38] MollieCourtenay commented on #901
@katbow not a grey divider but I would like to remove the line break so that Read the full document is on the same line. and add a full stop after document. It is been like this on the landing page but not the others.

https://staging.healthlocker.uk/

**Wellbeing Tips**
Small improvements in our wellbeing can help to decrease some mental health problems and also help us to get more out of life.

[2017-09-04 10:06] reddog commented on #986
@nelsonic As per @markwilliamfirth's previous comment, are you able to provide any input on helping us understand (and hence fix) how this issue occurred?

[2017-09-04 10:27] katyedwards commented on #1049
@katbow Have spoken to James and he said that he hasn't used his email address for anything other than clinician testing and has been creating other hotmail etc. accounts for SU/Carer testing.

Can you give more details on which accounts have needed resetting so he can look into it further on his side.

[2017-09-04 10:33] katyedwards opened #1060 "1 user with 2 roles"
Caused bugs in Testing... for SLaM to prioritise if they think it will be a valid case in real life...

Will a clinician also want to sign up as a carer or SU?

[2017-09-04 11:06] katbow commented on #1049
It was just his and Garry's. After I fixed James' the first time, his role was set to clinician. When I looked after the error occurred again, it was set to carer, and he had been added to a newly created carer room, and to the carers table. I went through all the carers previously when Garry was connected that way to ensure the users didn't have dual roles, and James definitely wasn't connected a

[2017-09-04 11:13] katyedwards commented on #1049
Thanks @katbow how could James' account have become set to carer?  would he have had to sign up for an HL account using his email address and then connected as a carer?  He said he definitely didn't do this, although depending how many windows he had open during testing I guess it's possible he thought logged into the wrong place.

Can you see/ remember which user he was set up as a carer for?  An

[2017-09-04 11:15] katyedwards opened #1061 "Estimate and plan for - Deploy HL to Production Environment"
- [ ] T6.5h - 7h for setting up the environment
  - [ ] Add necessary languages/packages (t2h)
  - [ ] Buffer because installing ODBC has been problematic in the past (t2h)
  - [ ] Create environment variables (t25m)
  - [ ] Write up documentation to ensure SLaM has the correct info for the server configuration (will be based off of [this documentation](https://github.com/healthlocker/oxleas-adhd/

[2017-09-04 13:10] katbow commented on #1049
@katyedwards yeah that's the one. I can't remember who he was set up to care for, and can't see that anymore.

The only way all those things would happen is if he was logged in to that account & went through the flow to connect as a carer. I'm not sure how he would get to that link besides actually typing in the url since the link is removed now for clinicians.

It's possible that he was logged in

[2017-09-04 13:12] katyedwards commented on #1049
@katbow Great thanks, I'll pass on so he can look into it/ have a think about it.

[2017-09-04 13:13] katyedwards commented on #1049
Closing this one again - continued discussion on this can go into #1060

[2017-09-04 13:13] #1049 closed

[2017-09-04 13:14] katyedwards commented on #1007
@katbow you mentioned you'd ask about the load balancer... did you get an answer? (in case we need to update the documentation we've sent to SLaM)

[2017-09-06 10:53] katyedwards commented on #1060
An additional brain spew of thoughts following a chat with David:

- When someone signs up to HL it checks whether that email address is already associated with an account and gives an error message if it is.  Does it check against any clinician email addresses in any way?

- So if a clinician signs up to HL using their trust email address - will it give them an error message or will it let them s

[2017-09-06 13:20] katyedwards opened #1062 "Prevent SUs & Carers from connecting via 2 email addresses"
From Garry...

At present there is nothing to stop an SU signing up to HL more than once with different email addresses and connecting to the care record via both HL accounts.

They then appear in the clinician caseload twice and the clinician has 2 separate rooms for messages/notes.

Off the top of my non-technical-head I don't think we can stop this for carers as we need to allow multiple carers

[2017-09-07 09:25] reddog opened #1063 "Configure Let's Encrypt to auto-renew SSL certificate"
Users need to be able to continue to access a secure site with valid SSL certificate at all times.

Is certbot (Let's Encrypt agent) configured to auto-renew SSL certificates?  The **current certificate is due to on 11/10/17.**

![image](https://user-images.githubusercontent.com/151362/30156181-e0ffe9b6-93b6-11e7-83f3-dc56f47e3b2b.png)

Let's Encrypt certificates expire after 90 days. Once a websi

[2017-09-07 09:32] reddog commented on #1061
@katbow Thanks very much for your list of setup items above - really helpful to see that in one place.

I've modified to include SSL auto-renew setup, see #1063

[2017-09-07 11:44] iteles commented on #42
@MollieCourtenay @katyedwards Can this now be closed with the merging of PR #1059?

[2017-09-07 11:52] katyedwards commented on #42
@iteles it doesn't seem to have been deployed when I look at the site so can't test.

[2017-09-07 13:45] iteles commented on #42
@katyedwards Thanks! Makes sense that this will follow from #1061 then 😊

[2017-09-08 09:33] MollieCourtenay opened #1064 "Change Error pages"
1. They look scary - need prettier ones

2. PEN Testing highlighted that they give a lot of information away about the site.

More detail to be added.

[2017-09-08 10:15] reddog commented on #1061
@iteles Thanks for your breakdown and time estimates.  Can you confirm if these have been given in view of yesterday's deployment of Oxleas to live.  Starting from a fresh server the process was complete within one developer day.

See https://github.com/healthlocker/oxleas-adhd/issues/168 and https://github.com/healthlocker/oxleas-adhd/issues/187

Can you please clarify what will be the output of

[2017-09-08 10:36] katyedwards opened #1065 "Does HL have a Load Balancer?"
Ref: #1007

One remaining question that wasn't answered.

It was in the original diagrams, @katbow wasn't sure if this was implemented.

[2017-09-08 10:36] katyedwards commented on #1007
Final question moved into a new issue #1065

[2017-09-08 10:36] #1007 closed

[2017-09-08 10:38] katyedwards opened #1066 "Check additional M has been added to care plan"
After deployment, check Mollie's final PR was been deployed

See #42

[2017-09-08 10:39] katyedwards commented on #42
Have moved this final test into a new issue #1066

[2017-09-08 10:39] #42 closed

[2017-09-11 10:18] iteles commented on #1061
@katbow Happy Monday! Assigning these questions to you as you analysed, broke down and estimated the original tasks ❤️

[2017-09-11 10:27] reddog commented on #1061
@iteles Thanks for passing this on.  Do we have an estimate on when revised timings will be able available?

[2017-09-11 10:30] reddog commented on #1061
In order to both test and refine the documentation for Oxleas (making it SLaM HealthLocker specific), can the documentation at https://github.com/healthlocker/oxleas-adhd/issues/191 be used as a guide for this installation?  Would there be any problems in this?

[2017-09-12 11:51] reddog commented on #1061
@iteles Although not yet complete, Is the documentation at https://github.com/healthlocker/oxleas-adhd/issues/191 at a point that could enable better time estimating of this issue?

Can you please confirm when the estimates on this issue will be reviewed.  That should happen before Thursday when work is currently expected to begin.

[2017-09-13 08:12] reddog commented on #1061
@RobStallion Thanks for further refining the list of tasks required for this issue and the time estimates.

Are you able to reply to my questions in https://github.com/healthlocker/healthlocker/issues/1061#issuecomment-328065421 ?  Some items have been removed altogether, are they no longer required or have new issues been opened?

The new time estimates put this release at about 2.5 days. Is that

[2017-09-13 19:22] iteles commented on #1061
@reddog Have just been reviewing this ahead of tomorrow.

Apologies that this issue wasn't made very clear! When the re-estimating was done, this was done as a single developer in light of the Oxleas work carried out, so this is in fact 2.5 days for one developer 👍  The complexities of the ePJS connection and requirement for ODBC make this  a more complex deployment than Oxleas.

With regards to y

[2017-09-13 22:00] reddog commented on #1061
@iteles Thanks very much for your reply and clarifying further the re-estimates.  Thanks also for clearing up that these are single developer estimates, not the usual paired developer estimates.

Deployment of Oxleas *and* documentation was complete in about 1.5 developer days - without deployment documentation existing in one place in advance of the task.  The documentation that @RobStallion has

[2017-09-14 08:06] iteles commented on #1061
@reddog Thanks for your questions on this.
Some thoughts on this which we can discuss on our kick off call this morning:
+ The oxleas deployment consisted of just over 2.5 days:
  + Configuration + deployment (1 day)
  + Documentation (around half a day, 2 initially plus additional details requested)
  + SSL nginx config (1 day) https://github.com/healthlocker/oxleas-adhd/issues/94
  + Configuring

[2017-09-14 08:30] reddog opened #1067 "Deploy HL to Production Environment"
Moved from #1061 to keep the flow of deployment information in a tidier place.

- [x] T6.5h - 7h for setting up the environment
  - [x] Add necessary languages/packages (t2h)
  - [x] Buffer because installing ODBC has been problematic in the past (t2h)
  - [x] Create environment variables (t25m) waiting on Adele for last 2 variables
  - [x] Write up documentation to ensure SLaM has the correct inf

[2017-09-14 08:31] reddog commented on #1061
Moved actual deployment tasks to #1067 in order to keep things a little tidier.  This issue has become a useful conversation on time estimating and planning, so now split out the doing part.

[2017-09-14 08:32] reddog commented on #1067
Production SLaM HL server is available at `51.140.71.199`

[2017-09-14 09:01] katbow commented on #1067
After call update: I will need to contact Adele or Stuart for log in details for the server. @reddog will be emailing these details to me and Rob this morning. I will also be opening an issue for the vagrantfile with details on why it's necessary to have for running the project.

[2017-09-14 09:42] katbow opened #1068 "Update Vagrant file"
Healthlocker can't run locally because there is an ODBC dependency, which is difficult to install on MacOS. The vagrant file ensures all developers can run the app in the same environment, with all necessary dependencies installed.

While the app can *run* with odbc installed, any pages that use the MSSQL database cannot be viewed because there will not be a local MSSQL database to access. There a

[2017-09-14 09:42] reddog commented on #1067
Outbound access for SMTP and connection to MS SQL ePJS extract database not yet available (blocked by Azure firewall rules).  This has been requested.

[2017-09-14 10:06] katbow commented on #1067
@reddog can you confirm what the preferred option was for the docs? Was it to have a document on here linking to the oxleas deployment guidelines, and include steps that are different?

[2017-09-14 10:10] katbow commented on #1067
Following along the steps from oxleas deployment docs. Have run through all command up to & including installing Elixir. The erlang command was changed to `sudo apt-get install erlang-odbc` to install odbc.

Have an error on running `mix local.hex`.
![image](https://user-images.githubusercontent.com/1287388/30424239-46144c8a-993d-11e7-99f7-065cb4cbd880.png)
Text copy:
[code]

[2017-09-14 10:13] katbow commented on #1067
Ahh I see. Typo in the docs which I will need to fix. Docs say `mix local hex` which I copied & pasted, but it should be `mix local.hex`.

[2017-09-14 10:17] katbow commented on #1067
For Certbot installation, will need to separate out the commands. If all of them are copied & pasted as once, it runs through the first 3 then stops. Needs to be:
[code]
then run
[code]

[2017-09-14 10:42] katbow commented on #1067
In addition to the environment variables that need to be added for oxleas, Healthlocker also need environment variables for:
[code]

Finding all of these now & adding.

[2017-09-14 11:02] katbow commented on #1067
Have all of the above added besides `READ_ONLY_PASSWORD` and `MPass`. Will be calling Adele shortly to get these.

[2017-09-14 11:37] reddog commented on #1067
@katbow In reply to:

@iteles suggested elsewhere that a single, *master*, document be created (ie the current Oxleas document) and then differences to that document be recorded in the deployment doc for this repo.

This wouldn't be a problem *now* but rather in the *future* it could become an issue.

We need to avoid a situation where the document for this repo says something like "follow the Oxl

[2017-09-14 11:51] katbow commented on #1067
@reddog great, thanks! I'll list that Healthlocker is dependent on those docs in https://github.com/healthlocker/oxleas-adhd/blob/master/deployment_and_ssl_doc.md and any updates to that need to be checked alongside the docs for this repo.

[2017-09-14 11:54] katbow commented on #1067
I am running through [creating an ssl certificate](https://github.com/healthlocker/oxleas-adhd/blob/master/deployment_and_ssl_doc.md) and have run into a couple of errors. I'll need to make some changes to this section for clarity (will be opening an issue on oxleas with the changes I need to make).

The current error is after generating the cert and adding the file to the repo and pushing up, I g

[2017-09-14 12:05] reddog commented on #1067
@katbow

Are there any references to `HEROKU_URL` other than https://github.com/healthlocker/healthlocker/blob/master/config/prod.exs#L22 ?  This line is commented out (maybe should be deleted even?).

[2017-09-14 12:10] katbow commented on #1067
you're correct, I didn't realise it was commented out when I was searching through the code for if the variables were used. Thanks!

[2017-09-14 12:21] reddog commented on #1067
@katbow The instructions at https://github.com/healthlocker/oxleas-adhd/blob/master/deployment_and_ssl_doc.md require (temporary) deployment of https://github.com/RobStallion/azure_deployment_test (which needs alteration before deploying, see `.deliver/config` for example.

The error you have might be due to

`cd '/home/oxleasadmin/azure_deployment_test/builds`

`~/oxleasadmin` won't exist on this

[2017-09-14 12:32] katbow commented on #1067
Got it fixed for building the release.

![image](https://user-images.githubusercontent.com/1287388/30429824-ce223afc-9950-11e7-81eb-e6d887634d14.png)

I went back to the original instructions on https://github.com/dwyl/learn-phoenix-framework/blob/master/production-deployment.md#161-install-build-tools-on-the-virtual-machine

I think there were some build tools that we may have installed earlier o

[2017-09-14 12:37] katbow commented on #1067
@reddog

cd '/home/oxleasadmin/azure_deployment_test/builds

It will create a directory for whatever it's named. So even though oxleasadmin didn't exist, it was still creating the directory for it when trying to build the release. All the same I changed this for clarity so that it's set to hladmin & will delete the previously made directory.

Thank you for those options! I will be continuing going

[2017-09-14 12:39] reddog commented on #1067
@katbow Thanks for that.

It seems that this interim release has flagged up missing dependencies which is good to add in the document.

The nginx plugin for certbot will remove a number of unnecessary steps - I'll add that as a suggested change to the document for future usage.

[2017-09-14 13:31] katbow commented on #1067
I called Adele but it went to voicemail. I left a message saying I was calling from dwyl for the database password & password to decrypt the user data and left my number & email for her.

[2017-09-14 13:34] katbow commented on #1067
I was carrying on work through [this section](https://github.com/healthlocker/oxleas-adhd/blob/master/deployment_and_ssl_doc.md#create-an-ssl-certificate) and realised it won't work until I move over the url so that the healthlocker.uk points to this IP! I have set that up & will carry on with that point once it's available.

[2017-09-14 13:59] reddog commented on #1067
@katbow I'll let you know if I hear anything from Adele.

Where have you made the IP address change?  Heroku and/or iwantmyname.net ?  I once came across an issue listing the original DNS configuration but I can't find that again right now.

And separately, are you having to wait for the IP address change to be available from your computer?  It can take a while for DNS changes to click over, but y

[2017-09-14 14:12] katbow commented on #1067
Thanks for chasing up on that, David. If you do hear anything from her, I do also need the password for decrypting the user data. I did say this on the voicemail but in the doc you shared only the database password is mentioned to get from Adele.

I removed the healthlocker.uk and www.healthlocker.uk from heroku, so the heroku app is now accessed with https://healthlocker.herokuapp.com/. I have up

[2017-09-14 14:44] reddog commented on #1067
Can I confirm that the live site will be accessible from both `healthlocker.uk` and `www.healthlocker.uk` ?

Thanks for confirming the iwantmyname change.  Their nameservers are showing the change to the www.healthlocker.uk version but not the root healthlocker.uk entry.

With regard to the data decryption key, Garry has previously said that the test and live ePJS extract databases are populated i

[2017-09-14 14:47] katbow commented on #1067
that's right yes. It will be accessible at both `healthlocker.uk` and `www.healthlocker.uk`.

I made a mistake when I first entered updated the settings for healthlocker.uk which I noticed and now changed so it will take a bit longer than www version.

Okay great thanks for that info. I'll add that for the decryption pass.

[2017-09-14 15:36] katbow commented on #1067
Attempted to deploy healthlocker with the server set up.

Had this error:
![image](https://user-images.githubusercontent.com/1287388/30439082-c1edd1a0-996a-11e7-952e-1700de5e8e67.png)

Error text:
[code]
Double checking odbc installation for vagrant.

[2017-09-14 15:38] katbow commented on #1067
Found that quickly, forgot to install the drivers for odbc. Will be installing these & retrying the deploy.

[2017-09-14 16:56] katbow commented on #1067
I was able to deploy the app on http but it looks really weird & won't load any images or any page besides home. I was looking at the server running, and it was not even picking up on requests to other pages and was going straight to 404.

I am not sure at this point if it is because I haven't completed the SSL or finished the nginx config, or if this is a firewall issue of some sort. Plan for che

[2017-09-15 08:12] reddog commented on #1067
@katbow Were you accessing the site by IP address or FQDN? Could it be that the DNS changes hadn't fully propagated?

[2017-09-15 08:21] katbow commented on #1067
@dbower I tried both.

[2017-09-15 09:02] reddog commented on #1067
Comparing the HealthLocker and Oxleas `nginx.config` files at https://github.com/healthlocker/healthlocker/blob/master/nginx.config and https://github.com/healthlocker/oxleas-adhd/blob/master/nginx.config respectively the only (meaningful) changes are the two `server_name` lines.  It isn't that?

[2017-09-15 09:44] katbow commented on #1067
The nginx config isn't set up like either of those yet while doing the ssl. I had the same error on the test site. Checked the nginx config and needed to remove `try_files $uri $uri/ =404;` in the location object, which loaded the other assets.

Now have a different error after I clicked to continue for ssl
![image](https://user-images.githubusercontent.com/1287388/30476743-d784564a-9a02-11e7-8e50

[2017-09-15 10:11] katbow commented on #1067
Looks like it was some kind of time out issue. Ran the exact some thing again and it worked fine.

[2017-09-15 10:23] reddog commented on #1067
@katbow Good job for spotting that.  Where is the `try_files $uri $uri/ =404;` line in the docs?  Trying to keep half an eye on the deployment process and I can't find that step.

Looks like the timeout error was against `letsencrypt.org` and glad that it worked second time around.  Could have just been *one of those things*, but we'll need to be aware if we keep getting external web access timeou

[2017-09-15 10:26] katbow commented on #1067
it's not in the docs yet. I will be adding a section for updates that need to be done to nginx specifically for getting ssl set up. I've been updating the docs as I go along. There's in-progress PRs both here & on oxleas which I have been pushing to. You'll so those updates there later today 👍 .

[2017-09-15 10:31] katbow commented on #1067
![image](https://user-images.githubusercontent.com/1287388/30478438-eecea46c-9a08-11e7-9981-fbc634f730c3.png)

Healthlocker deploy loads everything correctly now as well. Note that is still using http. Updating nginx config next to switch to https.

[2017-09-15 10:32] reddog commented on #1067
@katbow Thanks for that.  I had checked the docs and the suggest test repo at https://github.com/RobStallion/azure_deployment_test

Sounds like it would certainly be worthwhile at least trying the certbot nginx plugin next time around.  It would be a very quick check to see if that method worked.

[2017-09-15 10:54] katbow commented on #1067
https://www.healthlocker.uk/ 🎉
![image](https://user-images.githubusercontent.com/1287388/30479299-8ee72ed0-9a0c-11e7-9919-56589e04ec0b.png)

[2017-09-15 11:04] reddog commented on #1067
( @katbow nothing wrong with a bit of self-congratulations! ;-) )

[2017-09-15 12:21] katbow commented on #1067
One last thing to do on this is update the admin roles. @katyedwards @MollieCourtenay @reddog which email addresses need to be added for this? I will add them in after lunch.

[2017-09-15 12:22] reddog commented on #1067
@katbow What is the email address of the admin user on the staging site?  Can then be used initially unless we get confirmation of something different?

[2017-09-15 12:22] #1061 closed

[2017-09-15 12:40] reddog commented on #1068
@katbow Thanks for raising this issue.

Can you provide some time estimates for your suggested options?

Oxleas' initial work was to split out in to an umbrella app structure.  At some point (I'm not sure when yet), I expect that this app would be taken in to that structure.  At that point, changes/fixes to HealthLocker or Oxleas should be made available to the other with little (no?) extra work.

[2017-09-15 12:47] reddog commented on #986
In terms of understanding more about what has happened when an issue occurs, it would be great to see if there is any more information available within the team on this?

[2017-09-15 12:47] MollieCourtenay commented on #1067
I think It would be good to have a new account with Healthlocker@slam.nhs.uk set up for admin.
Could you create a new account and let us know the log details?
So that Katy's account is not admin on production.

[2017-09-15 12:49] reddog commented on #1067
@MollieCourtenay Tiny thing - could we have a lower case "H"?  Not sure if the login process does a case sensitive check against email address, but since email addresses are usually in lower case, entering with an initial capital letter might cause some frustration.

[2017-09-15 12:59] MollieCourtenay commented on #1067
Yep just auto corrects on my phone @reddog

[2017-09-15 13:02] reddog commented on #1067
(changed - thanks)

[2017-09-15 14:09] katbow commented on #1067
Emails are saved and checked as lowercase for that exact reason (auto capitalisation on phones). I'll add that email in. I'll message you the login details @MollieCourtenay  and you can pass along to anyone who needs them if that's ok.

[2017-09-15 15:46] katbow commented on #1067
The admin role has been added for that email and details have been sent to @MollieCourtenay

[2017-09-15 16:18] katbow commented on #1065
The load balancer was *not* added to the live server. There will be a check for the staging server.

[2017-09-15 16:33] katbow commented on #986
Note from call: I don't have any other comments on this myself.

[2017-09-18 09:11] reddog opened #1070 ""Unhandled exit" / "time out" when logging in to staging site from ePJS link"
Adele has emailed with the following error.  Both her and Garry have the same error when trying to log in from an ePJS link:

[code]

[code]

![image](https://user-images.githubusercontent.com/151362/30542909-04c6534c-9c79-11e7-91a7-82be388182af.png)

[2017-09-18 09:14] reddog commented on #1070
This *might* be an issue with the test ePJS extract database (since the error is a database read timeout).  I have raised it with Stuart at SLaM IT and asked if there are any issues with the test ePJS extract database server or any firewall changes that would impact us.

[2017-09-18 09:31] reddog commented on #1070
@katbow Just to check - were any changes (inadvertently or otherwise) made to the **staging** HealthLocker environment last week?

[2017-09-18 09:50] reddog commented on #1070
Still awaiting further support from SLaM IT.

In the meantime, what would happen if the MS SQL Server ePJS extract database were to *go away* for some reason (it was restarted, temporarily blocked and access reinstated, etc)?  Would HealthLocker auto-reconnect on such occasions or is it possible that it would have a stale database handler?

[2017-09-18 09:55] reddog commented on #1070
Looks like the test ePJS extract database is fine, so it's not that.  Emails from Garry:

[2017-09-18 10:29] katyedwards commented on #1070
FYI - seem to be getting a similar error when trying to view a care plan summary...

[2017-09-18 10:29] MollieCourtenay commented on #1070
<img width="1163" alt="screen shot 2017-09-18 at 11 28 54" src="https://user-images.githubusercontent.com/25012688/30538169-9e7b2022-9c64-11e7-9c79-60fb87ec2dee.png">

Logged in as SU: Tkestedt3tkest@outlook.com
clicked on care plan summary - given this error

[2017-09-18 10:34] MollieCourtenay commented on #1070
My feeling is this is an ePJS thing...

[2017-09-18 10:38] reddog commented on #1070
Garry is able to access the test ePJS database from his machine.

I have asked for support from Stuart.  Adele had separate internal SLaM firewall-like issues on Friday - I've asked if there have been any firewall type changes that could have caused this.  Awaiting a reply.

[2017-09-18 10:43] iteles commented on #1070
@reddog This has been assigned to @katbow and I but it looks like you're still checking things with SLaM. Shall I assign this to you until there is a response?

[2017-09-18 10:47] reddog commented on #1070
@iteles We've had some replies from SLaM (see above), but nothing on the firewall setup.

A response on any changes to the staging site would certainly be useful and should be a quick no, or possibly some detail?

Similarly with regard to a *possible* stale database handle.

Can you please restart the HealthLocker app?  This is not something we can do.  I think at that point we will have exhausted

[2017-09-18 12:36] reddog commented on #1070
@iteles @katbow Stuart has reported that there is SQL Server traffic from **staging** HealthLocker to the **live** ePJS extract database.

Has staging HealthLocker been restarted?  Is it possible that it was updated on Friday (or today?) with the connection details for the live ePJS extract database?

[2017-09-18 12:45] reddog commented on #1070
@RobStallion Are you about and able to restart the **staging** HealthLocker app?  We also need confirmation that the correct ePJS details are in use - it must be the **test** ePJS database.

[2017-09-18 13:01] reddog commented on #1070
Looks like **staging** HealthLocker is set to connect to **live** ePJS:

![image](https://user-images.githubusercontent.com/151362/30543150-e3ed38e2-9c79-11e7-9b0d-4bff63765a45.png)

[2017-09-18 13:13] iteles commented on #1070
@reddog I've just come out of my morning meetings - will get in touch with Rob and Katherine on this.

[2017-09-18 13:23] reddog commented on #1070
@iteles In case you don't have them immediately to hand, I have posted the *test* ePJS connection details in Slack.

[2017-09-18 13:24] katyedwards commented on #1070
@iteles  SLaM are trying to do a demo this afternoon, so can this be updated ASAP:

I don’t know when this was changed, but staging should be connecting to:

ePJS database server IP:  10.16.31.171
database name:  MHL2
database username:  MHL2_Reader
database password:  <it's not in the email - looks like it was sent over in April some time>

[2017-09-18 13:37] katbow commented on #1070
@katyedwards @reddog I double checked out the staging server settings - it is set to connect to ePJS using those details. There wasn't anything changed on the staging server last week.

[2017-09-18 13:59] katyedwards opened #1071 "Incorrect timestamp on diary entries"
The wrong timestamp is displaying on diary entries (it is an hour out).

- [ ] When I submit a diary entry the tracker overview displays the correct timestamp (and updates when the clocks go back or foward)

![picture1](https://user-images.githubusercontent.com/24604903/30545545-d55330ea-9c81-11e7-8d83-6dbc4e080bcf.png)
* The diary entry was posted at 12.23

[2017-09-18 15:22] reddog commented on #1070
Update:  still double checking firewall setup with SLaM IT team.

[2017-09-18 15:36] reddog opened #1072 "HealthLocker needs restarting on *live* server"
Live HealthLocker at https://www.healthlocker.uk/ was unreachable earlier (from two separate physical locations) and SSH was also unavailable.

During their testing of firewall rules, SLaM IT have restarted the server.  The server now shows the nginx `502 Bad Gateway` error which frequently suggests that the Phoenix app needs starting.

Can the HealthLocker app please be restarted.

At the same ti

[2017-09-19 09:12] MollieCourtenay commented on #1072
I still can't access live Healthlocker.
<img width="734" alt="screen shot 2017-09-19 at 10 12 22" src="https://user-images.githubusercontent.com/25012688/30584890-1383fdbc-9d23-11e7-975b-cdd79ac74597.png">

[2017-09-19 09:17] katbow commented on #1072
does this need to be restarted right now in lieu of the plan on slack? Pasting here.
![image](https://user-images.githubusercontent.com/1287388/30585045-7c4b4ca6-9d23-11e7-833e-77601fa4bb9d.png)

I double checked the epjs database details, and they are correct on the live server for the live epjs database.

[2017-09-19 10:07] MollieCourtenay commented on #260
note: Terms of Service paragraph:

Safety

Whilst Healthlocker sits on a secure platform, and the chance of a data breach is very unlikely, we cannot absolutely guarantee the safety of Healthlocker. As the user you will need to make sure your login in details are kept confidential and not shared with anyone. You will also need to be aware of your surroundings, and we advise you only login to your

[2017-09-19 12:14] katyedwards opened #1073 "Change forgot password flash message if email address is not in system"
From PEN testing:

If you enter your email address to get a reset password link, you currently get a different flash message depending on whether your email address exists in the DB or not.  We need them to be the same.

**If I enter my email address to get a reset password link and my email address is NOT in the HL DB, or I am a clinician:**
- [ ] redirect to login with yellow flash message that

[2017-09-19 12:15] katyedwards opened #1074 "From PEN Testing: The application was vulnerable to a persistent Cross-site Scripting (XSS) attack."
### **From PEN Testing:**

**Overview:**
The application was vulnerable to a persistent Cross-site Scripting (XSS) attack.
Stored or persistent XSS arises when user-provided JavaScript code is stored in the
backend database.
The application allowed users to update their database entries in multiple areas of the
application, such as the setting of goals or copying strategies. This information was
s

[2017-09-19 14:29] katbow commented on #1070
care plan for Tkestedt3tkest@outlook.com
![image](https://user-images.githubusercontent.com/1287388/30597588-51ff6f64-9d4f-11e7-944c-7275baf1b129.png)

[2017-09-19 14:32] katbow commented on #1070
It looks like it was a problem with sourcing the profile. I am not certain *why* this happened. I don't believe the server was rebooted as live was. The profile was never changed anyway, so even if it was rebooted & then started again, it should've still been accessing the same variables.

[2017-09-19 14:40] katbow commented on #1070
To add to my previous comment for clarity, we identified some reasons why this might occur. We just aren't certain of the exact reason this happened in this particular case. It can happen because of:
* Rebooting the server then starting the app with only step 4 below (without running through steps 1-3)
* Changing the environment variables, then not running through steps 1-3 below. The profile is s

[2017-09-19 14:54] katbow commented on #927
@reddog I am guessing that they will want to go to the respective URLS. As in, if someone clicks to reset password on staging, it should say staging.healthlocker.uk in the email, and if they do the same on live then it should direct to www.healthlocker.uk? Is that correct?

I will need to update [here](https://github.com/healthlocker/healthlocker/blob/master/lib/email.ex#L17) to grab the current b

[2017-09-19 14:56] reddog commented on #1066
Looks good:

![image](https://user-images.githubusercontent.com/151362/30598973-17a9cd6a-9d53-11e7-8761-6f222f59e34a.png)

[2017-09-19 14:56] #1066 closed

[2017-09-19 14:58] reddog commented on #927
@katbow Yes please, password reset emails from staging should direct users to staging, live to live.

Should the website domain name be a setting in the profile?  Then it could be just pulled in to `config/prod.exs` https://github.com/healthlocker/healthlocker/blob/master/config/prod.exs ?

[2017-09-19 15:00] reddog commented on #1072
Live is back up and running.  Thanks @katbow.

We should have some written notes on how to start the HealthLocker app, both from a developer's machine and from the server.

[2017-09-19 15:01] reddog commented on #1070
@katbow I think we made some **very** useful learnings earlier.

Can your notes be added to a document so that we don't loose them / have to go hunting for them.  Maybe in a *troubleshooting* section in the current deployment document?

[2017-09-19 15:04] katbow commented on #927
I should be able to pull it through from phoenix's `Plug.Conn`. If not I will set it as an environment variable.

[2017-09-19 15:08] reddog opened #1075 "Unable to use edeliver to stop HealthLocker app on production"
During investigation of production deployment issues, it was necessary to stop the HealthLocker app.

@katbow tried this with the regular `edeliver` method of:

[code]

This would show a message **similar** to (but for stop, not start)

![image](https://user-images.githubusercontent.com/151362/30599457-737dbd12-9d54-11e7-8a1f-9d8fe579da31.png)

but would hang at the `response:` line - the `ttyname

[2017-09-19 15:11] reddog opened #1076 "nginx failed to restart after Let's Encrypt SSL renewal on staging"
The staging server was restarted (as part of a process looking in to firewall rules) and the HealthLocker app was started.  Some time shortly thereafter the site stopped working.  This was because nginx had stopped.

nginx stopped because the SSL certificates had been renewed but there was a problem with them.

We need to investigate what the problem was so that it doesn't reoccur.

[2017-09-19 15:13] reddog opened #1077 "App start/stop/reload script to auto-start/stop app when server brought up/down"
At the moment, HealthLocker requires *manual* intervention in order to start it.

A script should be written to bring it up/down as the server is brought up/down.

[2017-09-19 15:20] katbow commented on #1076
When the ssl certificate renewed, it created a new certificate/priv key. The new file was named `priv_key2.pem`, however nginx was pointing to the old certificate, `priv_key1.pem`.

[2017-09-19 15:44] katbow commented on #1072
@reddog it would be part of the instructions as per the documentation I added to on Thursday/Friday. I added a note on #1070 for what was going on in this particular case with the environment variables.

If you mean also turning it on like how I did temporarily by ssh into the server, then going to the folder where healthlocker is stored & running `mix phoenix.server`, then we won't want to be doi

[2017-09-19 15:55] katbow commented on #1075
@reddog it works now.

![image](https://user-images.githubusercontent.com/1287388/30602033-4ebd0daa-9d5b-11e7-9168-730cdbae699c.png)

[2017-09-19 16:11] reddog commented on #1075
@katbow Excellent.  Do you know what it was?

[2017-09-19 16:13] reddog commented on #1076
@katbow Thanks for spotting that (probably didn't help with me renaming suggestions!)

We should re-run the Let's Encrypt renewal process and ensure it works as expected.

[2017-09-19 16:21] katyedwards opened #1078 "HL Live Stopped - degradation of performance on ePJS"
SLaM contacted us to say that they had identified a degradation in performance on ePJS and when they investigated ePJS seemed to be taking a lot of hits from HL.

Requested we stop our testing or whatever we're doing until tomorrow morning when the clinical systems team will be back in.

HL live has been stopped until we can investigate in the morning.

[2017-09-19 16:24] katbow commented on #1075
not 100% 🙁 . It started working again after I rebooted the server then ran through all the deploy steps to build, deploy and start the release.

[2017-09-19 16:28] katbow commented on #1078
Can verify this has been stopped for HL live

![image](https://user-images.githubusercontent.com/1287388/30603582-e2e98784-9d5f-11e7-8a9f-1bda3730288c.png)

[2017-09-19 16:29] katbow commented on #1076
Yeah the renewal process will need to be checked so that ideally the file names remain the same and the nginx configuration will not need to be updated.

[2017-09-19 16:37] katbow commented on #1073
@katyedwards what message do they want to see?

The current behaviour is...
* user doesn't exist or user is a clinician:
  * Re-render password reset form with message that says "Could not send reset email. Please try again later"
* user exists & is not a clinician
  * redirect to login with message that says "If your email address exists in our database, you will receive a password reset link at

[2017-09-19 16:39] katbow commented on #1071
@katyedwards removing is very quick - 5 mins.
For displaying the correct time, it probably has something to do with if it is BST or not at the time the diary is saved. I would need to look into what it saves as by default in the database, and best options for how to change it. T1h.

[2017-09-19 17:03] reddog commented on #1072
@katbow Thanks for updating the docs with a reboot restart where it was required.

I understand that running the server when directly connected is not a useful permanent anything, but maybe it's a useful troubleshooting technique?

We had the situation where the app wasn't reflecting the environment variable changes that had been made. Running the app whilst locally connected help us see where the

[2017-09-19 17:09] reddog commented on #1073
@katyedwards Strictly speaking should you not be able to make the change in a git pull request? Since it's a content change (change of message) seems like that's something that's best decided by you, and you can even go ahead and implement the change ;-)

If you wanted to change the colour of the message box however, that's a different matter!

[2017-09-19 17:24] reddog opened #1080 "Error logging"
There are no error logs for the HealthLocker app.  When run interactively from the console, error log information is displayed on-screen.

Error logging should be added in order to help locate and fix bugs.

[2017-09-19 17:27] reddog opened #1081 "Access logs - should there be any?"
There are no access logs to record date/time of access, IP address of accessing client, page viewed, maybe logged in user, etc?

Access logs can be used to audit a system and to aid identifying after-the-event malicious data access.

[2017-09-19 17:29] reddog opened #1082 "Log rotation"
If logs detailed in #1080 and #1081 are created then a log rotation in should be created that:

1. Rotates logs on a daily/weekly/monthly basis
2. Deletes logs after an agreed period
3. Performs rotation in a manner that does not hamper either the availability of the HealthLocker app and ensures that log messages are stored in the new log files

Log rotation helps ensure the server does not just f

[2017-09-19 17:38] reddog opened #1083 "Server monitoring - should there be any?"
There is currently no proactive monitoring of:

1. The server, uptime, response time, disk space, CPU load, etc
2. HealthLocker accessibility
3. ePJS accessibility (via a specific page maybe)

This makes early detection of issues possible and might help give pointers to issues such as where we have seen the server unreacheable by http or SSH.

[2017-09-19 17:41] reddog opened #1084 "Installed and run as root - should it be?"
The HealthLocker app is run as root. Should it be? Should a new user (and group?) be created with limited permissions under which this app runs?

[2017-09-19 17:49] reddog commented on #986
@iteles You said on the last call last week that you were going to get back to us on this?

[2017-09-19 17:53] reddog commented on #1078
@katbow Made a good point that, regardless of what HealthLocker night or might not be doing, we *only* access an ePJS **extract** database, and not the *regular* ePJS database.

If the two databases are on the same machine and if HealthLocker is producing excess load then maybe this is an issue.

@katbow When you started HL from the console (with incorrect ePJS extract database login details, duri

[2017-09-20 08:36] katyedwards commented on #1073
@katbow have updated the issue above - yep, it should be identical behaviour regardless of who enters an email address.

@reddog the colour will need changing, i'm afraid!

[2017-09-20 08:37] katyedwards commented on #1071
@katbow if it's likely just a T1h to do properly, that would be better.  I'll update the issue above.