[2017-03-20 16:58] MollieCourtenay opened #305 "For connected SLaM SUs: Make it clear that goals / CS / tracking are shared with care team."
+ [x] As a SLaM connected SU, I see a static line of red text at the bottom of the Goals list page that says     'Your Care team will also be able to see your Goals.' https://www.healthlocker.uk/goal

+ [x] As a SLaM connected SU, I see a static line of red text at the bottom of the Coping strategy list page that says   'Your Care team will also be able to see your Coping strategies.'
https://www.

[2017-03-20 17:01] MollieCourtenay commented on #236
insight.

Senior team bought up that goals needs more structure, support user to complete.

Met OT who thinks this is super important - edited the language slightly to be more in line with coaching principles.

SU wants to be able to make a plan for achieving a goal. and would value their clinician adding to their plan.

[2017-03-20 17:06] MollieCourtenay opened #306 "Crisis line - add more detail"
UPDATES TBC:

- free to call
- manned by 6 nurses
- "A range of supportive interventions, advice on mental health and medication, accessing services, crisis reviews and liaison with care teams will be offered."
- "Calls will be answered by a nurse and we will then explore with callers the reasons why they have contacted us and identify what can help at that time and for the future."

[2017-03-20 17:07] MollieCourtenay opened #307 "Care team suggest new goals or steps to take to achieve the goal"
to be discussed with nicola

[2017-03-20 17:08] MollieCourtenay opened #308 "Make tooltips easier to find and use"
+ [x] replace the '?' with an icon (NHS number)
+ [x] replace the '?' with an icon (Connect to SLaM)

[2017-03-20 17:10] MollieCourtenay opened #309 "About: add contact and support details"
Service support TBC...

Who to talk to if I need help using Healthlocker?

[2017-03-21 09:38] katbow commented on #262
@nogainbar can you close this if it's all set?

[2017-03-21 09:41] katbow commented on #257
@MollieCourtenay can you check if this is fixed for your iphone?

[2017-03-21 09:42] katbow commented on #251
Closing - implemented link back to toolkit

[2017-03-21 09:42] #251 closed

[2017-03-21 09:44] katbow commented on #158
@Cleop can you check this out now? Links should be functional now 👍

[2017-03-21 09:47] katbow commented on #159
@Cleop The fonts have been standardised now to be the same for read this story and the content. Can you take a look?

[2017-03-21 09:50] katbow commented on #107
@nelsonic can this be closed now?

[2017-03-21 09:56] tonydaly commented on #201
@nelsonic what's the workflow you imagine from starting with an issue, developing the feature, to a "non-technical" person writing these integration tests? Are they part of the feature? Can things be merged in without integration tests?

What's the benefit of having "non-technical" people writing automated tests? Is this something they want to do? I've never seen this work out correctly in the pas

[2017-03-21 10:42] katbow commented on #91
@MollieCourtenay would you like to close this now since we have the other issues for each goal feature?

[2017-03-21 11:20] katbow commented on #163
@Cleop can you verify these are consistent now & close please?

[2017-03-21 11:22] katbow commented on #157
@Cleop this should be linked in the sign up as well

[2017-03-21 11:57] nogainbar commented on #262
done :)

[2017-03-21 11:57] #262 closed

[2017-03-21 13:25] Cleop commented on #157
Nice one @katbow, I've tested this and it's now fully functional 👍

[2017-03-21 13:25] #157 closed

[2017-03-21 13:28] Cleop commented on #163
@katbow all of the tips are now consistent and looking good 😄 Happy to close

[2017-03-21 13:28] #163 closed

[2017-03-21 13:32] Cleop commented on #158
Thanks @katbow, all working well. Happy to close.

[2017-03-21 13:32] #158 closed

[2017-03-21 13:35] Cleop commented on #159
Thanks @katbow, I've taken a look on my phone (5C) and it's much easier to read now 🎊

[2017-03-21 13:35] #159 closed

[2017-03-21 13:45] Cleop commented on #160
Get support now has sufficient margin ✅
Styling on security question / password page has enough space ✅
Both tested on iPhone 5C.

[2017-03-21 13:45] #160 closed

[2017-03-21 13:57] Cleop opened #311 "Security question/ password setting step is skipped if I've signed up incompletely before"
If I go to sign up with a given email e.g. user@me.com, I fill out the password setting and security question step and submit it. However I then do not complete the sign up process by exiting the process before agreeing to the Ts and Cs... there is a bug when I try to complete sign up the 2nd time around.

The 2nd time I try to complete the sign up, again using the same email (user@me.com) I go st

[2017-03-21 14:02] #80 closed

[2017-03-21 14:23] #293 closed

[2017-03-21 15:26] Cleop commented on #311
Having discussed the issue with @katbow, I've been told that picking up the sign up procedure part way through is intentional. I've since tried logging in afterwards and discovered that the issue was not with how I signed up but was instead that the email used on sign up is case sensitive.

I'll close this issue and raise a separate one for making emails case insensitive so that regardless of whet

[2017-03-21 15:26] #311 closed

[2017-03-21 15:29] Cleop opened #313 "Case sensitivity of email on sign up"
**As a** user **I want to be able to** sign up and sign in with my email regardless of using lower or uppercase **so that** I don't have to worry about my mobile automatically using uppercase for the the first letter and removing this on another instance.

Relates #311

[2017-03-21 15:29] katbow commented on #127
@MollieCourtenay I made these changes now. Please check it out 😎

[2017-03-21 15:32] katbow commented on #12
@MollieCourtenay I made these copy changes. The I kept it as terms of service instead of terms and conditions since that wording changed since this issue was added. Let me know if that's correct!

[2017-03-21 16:23] MollieCourtenay opened #314 "edit crisis support info"
## Acceptance Criteria

+ [x] As a Healthlocker user, when I click on Get Support, I see the content below. The phone support section is in its own grey box - with a phone icon.

[2017-03-21 17:01] MollieCourtenay opened #315 "Care team: Send message: language processing, key words = alerts"

[2017-03-21 17:02] MollieCourtenay opened #316 "Care team: Messages: written 30 messages = alert user"
You have written a lot of messages.
Do you need support? Call 0800
You can only write one more message.
Or wait to see your team.

[2017-03-21 17:04] MollieCourtenay opened #317 "Messages: a ready response to send back to user if offensive message is received."
worded as if it was automated.

[2017-03-21 17:51] MollieCourtenay opened #318 "Toolkit: Sleep tracker button"
## Acceptance criteria

+ [x] As a user on Toolkit, I can click on a button called 'Sleep tracker'.

@indiamindwave24 can you supply an icon for sleep tracker please?

[2017-03-21 17:52] MollieCourtenay opened #319 "Tracking: menu"

[2017-03-21 17:55] MollieCourtenay opened #320 "Tracking: Sleep tracker - input"
## Acceptance Criteria

+ [x] As a user, who has clicked on Sleep tracker in the Toolkit page,  I am taken to a page where I am invited to input data about my sleep.
+ [x] As a user, I must use a scroller to select how many hours sleep I got - the scroller begins at 0.5 hours and ends at 24 hours, and has .5 intervals.
+ [x] As a user, I can choose to use a scroller to enter how many times I woke

[2017-03-21 17:59] MollieCourtenay opened #321 "Toolkit shrink icons"
it would be nice to see both goals and strategies icons when i load the screen on all screen sizes.

Do we do it side by side?

Have sleep tracker underneath - when you get to that??

[2017-03-21 18:00] #319 closed

[2017-03-21 18:58] MollieCourtenay opened #322 "Tracking: Sleep tracker - input for yesterday"
As a user I can click to input sleep data for yesterday, so that I have the option to record my sleep if I forget to do it each day.

## Acceptance criteria

+ [ ] As a user, when I click on a link that says 'Yesterday', I am able to complete the sleep tracker and click save (and the data is saved against the previous day).
+ [ ] Once I click save, I am reassured my sleep data has been saved.

[2017-03-21 19:05] MollieCourtenay opened #323 "Toolkit - Tracking overview button"
## Acceptance criteria

+ [x] As a user on Toolkit, I can click on a button called 'Tracking overview'.

@indiamindwave24 can you supply an icon for Tracking overview please?

[2017-03-21 19:14] MollieCourtenay opened #324 "Tracking: overview (sleep data)"
As a user, I am able to review my tracking data that I have entered on a graph, so I can learn about myself.

## Acceptance Criteria

+ [x] As a user who has clicked on Tracking Overview in Toolkit, I am taken to the Tracking overview page.
+ [x] I see a bar graph, defaulted to show the last 7 days of my sleep data.
+ [x] underneath the graph, I can see my average hours sleep for the last 7 days.

[2017-03-22 09:23] MollieCourtenay opened #325 "Clinician: access to a team inbox"
As a clinician, I am part of a team.
When I launch Healthlocker from ePJS, I am presented with the option to open a team inbox.
This is where all unread messages from Healthlocker users (service users and carers) will be listed.
This is to ensure if a team member is off work, there is still visibility of incoming messages from Healthlocker users.

______
I can respond to a message from within the

[2017-03-22 10:47] katbow commented on #323
@MollieCourtenay where does this button go? is it the page to show what you've tracked over time?

[2017-03-22 10:49] katbow commented on #320
@MollieCourtenay the scroller is the same type of input we're using for selecting security questions, correct?

[2017-03-22 10:50] katbow commented on #324
This answers my question for #323 I think. Tracking overview button goes to this page.

[2017-03-22 11:05] katbow opened #326 "Look into displaying data in graphs"
Need to research how to implement #324 & best tools to use.

Check out graphics/chart libraries for displaying data in graphs.

[2017-03-22 11:11] katbow commented on #38
linked to #122

[2017-03-22 11:29] katbow opened #327 "Adding user roles"
Now that we are starting to get into different types of users (users, slam-connected users, carers, clinicians) we need to look at how we're going to define & verify roles.

Questions to consider:
* We currently have a `roles` field in the users table. Should this be used for defining roles? Is there a better way? What are the alternatives?
* How to identify a users role? Particularly important fo

[2017-03-22 11:51] katbow commented on #49
@MollieCourtenay I'm going to split this into 2 issues - one for the carer being able to send a message to the care team of the person they support & one for the service user to send a message to their care team.

[2017-03-22 11:54] katbow opened #328 "Care team: Carer send message to SLaM care team."
As a carer of someone at SLaM, I can choose to send messages, (thoughts, observations, reflections) to the care team of the person I support.

## Acceptance Criteria

+ [x] As a user, who has clicked on Care team in the burger menu, I can write and send a message to that care team.
+ [x] As a user, who has just sent a message, I see it displayed at the **bottom** of my message feed.

<img width="1

[2017-03-22 11:55] katbow commented on #328
@MollieCourtenay can you add a priority label & move to the correct place in sprint 7 when you get a chance?

[2017-03-22 12:00] katbow commented on #325
I'm going to hold off on a time estimate for this one until there's a discussion about it. Will add when there is more info.

[2017-03-22 12:23] katbow opened #329 "Message display"
I wanted to confirm my understanding from the discussion during yesterday's demo/sprint planning regarding the layout of the messages screen.

The original wireframes had the input box at the top of the screen with the messages displaying in a box below with most recent messages at the top. However, if we take from other messaging apps that users are likely to have experience with, then we should

[2017-03-22 12:33] katbow commented on #317
Is the intention to show this as a message at the top of the screen, or to show as part of the message feed? If it's in the message feed, who is it sent from?

Is this a response that is chosen by someone from the care team (e.g. requires action by someone from the care team to send), or that is actually automatic with certain messages?

I understand this as being from someone in the care team, an

[2017-03-22 12:35] katbow commented on #316
Do we want this to be a warning at the top of the screen, or within the chat feed? Unlike #317, I envision this one as automatic & appearing at the top of the screen as a warning. Is that correct?

[2017-03-22 15:22] nelsonic commented on #122
Catch up with Garry went _really_ well.

On the data front we agreed that the _simplest_ short-to-medium term solution was to create a table within EPJS' SQL Database with the healthlocker-specific data which we can then query to display the data within HL. The main advantage being that we don't _store_ any of the data within HL so there's no data protection/retention to think about.
(_so I'm upda

[2017-03-22 23:43] nelsonic commented on #107
@katbow yes, thanks!

[2017-03-22 23:44] #107 closed

[2017-03-22 23:53] nelsonic commented on #201
@tonydaly while I _agree_ that I have not seen _non-technical_ users write tests in the past,
I still think it's a _good_ idea that `should` be pursued.

Our development workflow will remain unchanged:
+ feature/story specified in GitHub issue
+ developer estimates time required to build
+ product owner prioritises based on time estimates and other criteria
+ product owner includes story in sprint

[2017-03-23 10:11] katbow commented on #313
@Cleop this should be fixed now! It won't work on past email addresses unfortunately, but if you try to sign up with an email that is uppercase, then log in with it written lowercase, you'll be able to log in.

The emails are now saved to the database all lowercase, so `MyName@dwyl.io` will be the same as signing up with `myname@dwyl.io`

[2017-03-23 11:11] Cleop commented on #313
@katbow I just tested this and it works 👌  Thanks for fixing

[2017-03-23 11:11] #313 closed

[2017-03-23 11:18] Cleop opened #332 "Create account button on iPhone 5C is on 2 lines"
I came across this when testing on my iPhone 5C. I presume that 'Create Account' is meant to be one line?

![image](https://cloud.githubusercontent.com/assets/16775804/24245337/5a1bd638-0fba-11e7-9775-195f5239434d.png)

[2017-03-23 12:59] katbow opened #333 "Sorting list of numbers for select"
We've been able to load in security questions from a file #144. However, what I did not notice at first was that when converting from a `list` to a `map` [here](https://github.com/healthlocker/healthlocker/blob/master/web/views/component_view.ex#L6-L23), the order rearranges. This is fine for security questions, but I was attempting to do the same for the [sleep tracker](#320), and these are numbe

[2017-03-23 13:20] MollieCourtenay commented on #320
yes

[2017-03-23 13:35] tonydaly commented on #333
Instead of loading the questions from a `.txt. file, could we instead use YAML? Then we could have an ordered collection of questions?

[2017-03-23 15:39] katbow commented on #333
Won't we run into the same issue when it's converted to a map?

[2017-03-23 15:41] tonydaly commented on #333
Maybe I missed it before, but why do we need to convert it to a map?

[2017-03-23 15:43] nelsonic opened #335 "Input field height obscures text in signup form ?"
visiting https://www.healthlocker.uk/users/new I see:

![image](https://cloud.githubusercontent.com/assets/194400/24256171/50d271a2-0fdf-11e7-98a2-9396770ea3c1.png)

But when I increase the input field height above `44px` I see the input text:
![image](https://cloud.githubusercontent.com/assets/194400/24256219/76c79220-0fdf-11e7-9b51-d579e30e7cfe.png)

@Cleop can you please confirm you see this on

[2017-03-23 15:44] katbow commented on #333
I think it was because of how [select takes options](https://hexdocs.pm/phoenix_html/Phoenix.HTML.Form.html#select/4). We tried it as a list before, but we kept getting errors.

I think it can still be a regular list like `["a", "b", "c", "etc"], but then there's no value for that option.

[2017-03-23 15:48] tonydaly commented on #333
I believe if you just provide a List, then the "element will be used both as key and value for the generated select".

e.g. `select(form, :question, questions)`

[2017-03-23 15:53] tonydaly commented on #333
That said what we should really do is have the value as the string, and the key as the array index.

[2017-03-23 16:01] katbow commented on #333
I just checked and it does work & preserves the order.

The reason why I went for both the key and value as the string is so the full question saves to the db which was useful in cases where I need to display the question, like in account for updating the question. When I had numbers as the key, then it was saving & displaying that instead of the actual question.

[2017-03-23 16:04] katbow commented on #333
We can use the yaml file or txt...I think the reason we went with txt is because it would just be a more familiar format/file type for anyone non-technical updating the list.

I'm not certain I understand the benefit for using yaml? This seems to keep the order still (now).

[2017-03-23 16:11] tonydaly commented on #333
YAML is a more standard format for configuration data and you can use it to store different types of data. So we could define them as an Array, or as a key/value pair (if we wanted). The libraries available make it much easier to read the data into native datatypes, without the need for splitting on newlines, deleting empty strings etc.

Also will the `security_questions()` read the file each time

[2017-03-23 16:15] katbow commented on #333
Ahh I see. I wonder then if it's better to keep the familiarity for the person changing the file or go for yaml so it's easier to read the data... thoughts @nelsonic?

Yeah, that's a good point. I'll add that in a separate issue as a todo, because at the moment it would read the file each time.

[2017-03-23 16:17] tonydaly commented on #333
In my opinion, if someone needs to change the questions (is this a requirement?), then there should be an interface for it, and then the questions should probably be kept in the DB.

[2017-03-23 17:59] katbow commented on #327
After looking at https://github.com/dwyl/learn-phoenix-framework/issues/39, I think the current set up will work fine with roles in the user table as a string. Having a separate roles table over complicates the issue I think.

I am still trying to work out how to identify a users role, though. How does a user become a carer vs a clinician etc. Would love some help to work out this flow!

[2017-03-24 10:35] LauraNevo commented on #324
Here is a screenshot with more data (+sleep tracker).
![tracking_day](https://cloud.githubusercontent.com/assets/3858131/24290651/a7b6266e-107d-11e7-9bc2-27ae8bc87fe4.png)

[2017-03-24 10:36] katyedwards opened #336 "Error page when trying to sign up using existing user details"
As a user I should get an error message in TTRR if I have already signed up and try to sign up again using the same details.

At present you get a horrible error page:
https://www.dropbox.com/s/jiz9ywoo80m4avz/Screenshot%202017-03-24%2010.32.13.png?dl=0

[2017-03-24 11:21] LauraNevo commented on #323
![tracking_dashboard](https://cloud.githubusercontent.com/assets/3858131/24292164/0e452a78-1084-11e7-94d8-84d7436b6e38.png)

[2017-03-24 11:21] LauraNevo commented on #318
Here is the wireframe. We're considering the Toolkit to become a dashboard / home page when the user is logged in. Please have a chat with Mollie. :)

As I understand, the sleep tracker will be the only one developed at the moment as opposed to all the other trackers.
![tracking_dashboard](https://cloud.githubusercontent.com/assets/3858131/24292085/a2bb96ca-1083-11e7-9bce-316fc6d2db44.png)

[2017-03-24 11:27] katbow commented on #336
@katyedwards I think this is meant to be posted [here](https://github.com/research-resource/research_resource/issues).

[2017-03-24 11:29] LauraNevo commented on #55
Delete on the bottom of the profile.

![delete account](https://cloud.githubusercontent.com/assets/3858131/24292393/105ac088-1085-11e7-9688-dd6c80895162.png)

[2017-03-24 11:30] katyedwards commented on #336
Dammit I was looking for that - I assumed it hadn't posted!  Thanks @katbow

[2017-03-24 11:31] #336 closed

[2017-03-24 11:32] katbow commented on #336
No problem! I did post a reference to this issue there, but would be good to still have it posted by you as a user story

[2017-03-24 11:37] LauraNevo commented on #50
![messages](https://cloud.githubusercontent.com/assets/3858131/24292676/474a2c2c-1086-11e7-8530-5adfb103701f.png)

[2017-03-24 11:38] katbow commented on #324
@LauraNevo so sleep should be in a bar graph instead of line graph?

[2017-03-24 11:39] katbow commented on #318
Thanks for that @LauraNevo ! Yup, just starting with sleep then going from there 🙂

[2017-03-24 11:42] LauraNevo commented on #324
@katbow That's the idea at the moment:
- Mood = curve (up to 10)
- Sleep = bar (in hours)
- Exercise = bar (in hours)
- Weight = not sure but either also a curve, either simply the number in the report (Your day, your week, etc...)

Sleep and exercise both have a common unit, which is great. However, if we do end up letting the user report up to 15+ hours of sleeping, we're going to have bars that

[2017-03-24 11:47] Cleop commented on #335
How odd @nelsonic... I am not getting the same display as you. Both dev tools (various dimensions) and my iPhone 5C do not seem to be encountering this issue.

I'm using the healthlocker.uk version.

Let me know if there's any set up that I'm missing out that led you to get this bug.

[2017-03-24 11:55] katbow commented on #324
@MollieCourtenay for this one:

is this always 7 days then? As in it doesn't show monthly average etc when you change the scale?

[2017-03-24 12:01] katbow commented on #324
Also @MollieCourtenay can we start this with 7 days & Month views as options & wait for feedback on other time scales? There also won't be data to start with for longer time periods, so it won't be useful to view at first.

[2017-03-24 12:22] LauraNevo commented on #278
In profile:
![carer connect](https://cloud.githubusercontent.com/assets/3858131/24293007/a057da3e-1087-11e7-935f-7a6b69b7ed5a.png)

An additional feature (lower priority) would be to prompt the user to do it at first use of the app or when they go to the Care Team page but haven't connected to a SU already:
![carer connect prompt](https://cloud.githubusercontent.com/assets/3858131/24293490/eaaed66

[2017-03-24 12:27] katyedwards commented on #122
Hi @nelsonic Can you update following your meeting with Stuart yesterday...  hopefully it's all on its way now!

[2017-03-24 12:34] katbow commented on #324
And one last question @MollieCourtenay , do you want any labels for the data underneath?

Something like...

**Today:** 7 hours sleep
**Week average:** 10.02 (is that what this number is?)
**Times awake:** 4 (not sure if this is supposed to be the average times awoken over 7 days or for just the current day?)
**Notes:** *notes about my sleep (from today only?)

Or is the average only in the sectio

[2017-03-24 12:40] indiamindwave24 commented on #323
will be creating this on Monday :)

[2017-03-24 12:42] indiamindwave24 commented on #318
Will be creating icon for this on Monday

[2017-03-24 12:44] katbow commented on #323
Great 🙂 . I put in a temp icon for now (not merged in yet), but it will be a quick switch then.

[2017-03-24 13:47] katyedwards opened #337 "NHS Choices API for Content"
Can you have a look at the NHS Choices API to see what you think about the possibility/ ease of pulling through information on conditions, treatment, meds for the resources section of HL:
http://www.nhs.uk/aboutNHSChoices/professionals/syndication/Pages/Webservices.aspx

[2017-03-24 14:37] katbow commented on #326
[Chart JS](http://www.chartjs.org/) looks like a good option as it can work on IE7/IE8

[2017-03-24 16:14] andrewMacmurray opened #338 "prevent injection of html in chat"
sorry I was a troll in the phoenix talk lol

in the chat a user can put html in the chat which could potentially fill the screen with an annoying red div

<img width="616" alt="screen shot 2017-03-24 at 16 15 56" src="https://cloud.githubusercontent.com/assets/14013616/24303240/34fa50a2-10ad-11e7-8478-64219188ee26.png">

[2017-03-24 17:01] nelsonic commented on #338
@andrewMacmurray thank you _very_ for reporting that. :

[2017-03-25 09:17] nelsonic opened #339 "Demo Data"
Each time we do a demo we have to insert a bunch of demo data.
This is tedious repetition that can _easily_ be avoided by using "seed" data which is only applied in the test/staging environment.
@katbow please investigate adding demo data `before` adding any more features
so that each time we make a `commit` on the project our UI tests run with the demo data and we build up a "_realistic_" view of

[2017-03-25 11:40] nelsonic opened #340 "Microsoft Azure Deployment"
holding issue for all Microsoft Asure Deployment related notes.

[2017-03-25 11:51] nelsonic commented on #340
On Thursday I visited Stuart @ St. Paul's House, Edison Road, BR2 0EP
The purpose of the meeting was to produce a diagram for the "Stack" we are using for Healthlocker.
We already _have_ that diagram: https://github.com/dwyl/technology-stack#the-pete-stack
but SLaM wanted it in a different format so we re-drew it:
![healthlocker architecture](https://cloud.githubusercontent.com/assets/194400/24321

[2017-03-25 11:52] nelsonic commented on #122
@katyedwards the meeting with Stuart & Jason was to get the application deployed to SLaM's Microsoft Azure Infrastructure. It went well; we managed to deploy the app. see: https://github.com/healthlocker/healthlocker/issues/340

Stuart will get our Azure application access to the data that Garry is going make available in EPJS but the _current_ bottleneck is Garry's work.

[2017-03-25 11:56] nelsonic commented on #335
@Cleop thanks for investigating. I was running the app on my localhost off `master`.
Will re-visit it on Monday. 👍

[2017-03-26 17:38] iteles commented on #122
@katyedwards Garry has estimated that his piece will take around 2 week so we're not counting on it until the next sprint.

[2017-03-27 07:37] MollieCourtenay opened #341 "Make burger menu icon bigger"
As a user, I am easily able to access the burger menu, even if I am not familiar with the concept.

<img width="398" alt="screen shot 2017-03-27 at 08 33 33" src="https://cloud.githubusercontent.com/assets/25012688/24345508/73a525e4-12c8-11e7-88d9-1b017bee0b23.png">

+ [x] burger is same height as the new side of the Healthlocker logo (filling the white space in the screenshot).

**BASED ON USER T

[2017-03-27 07:41] katyedwards commented on #122
Thanks @nelsonic @iteles Assuming Garry manages to get it done in 2 weeks, would you expect that will that give you enough time to then do what you need to so it's all connected and working ready for the soft launch date after Easter?

[2017-03-27 07:44] MollieCourtenay commented on #257
no this is what i see.
![img_2168](https://cloud.githubusercontent.com/assets/25012688/24345773/9f43c5ba-12c9-11e7-864d-f72cb4b4f403.PNG)

[2017-03-27 07:46] MollieCourtenay commented on #127
https://www.healthlocker.uk/account/security/edit
Im getting internal server error @katbow

[2017-03-27 07:48] #91 closed

[2017-03-27 07:48] #255 closed

[2017-03-27 07:49] #299 closed

[2017-03-27 07:49] MollieCourtenay commented on #294
Not sure what / how to test this @katbow

[2017-03-27 07:55] MollieCourtenay commented on #12
@katbow a couple of small things in bold in the ACs.

terms of service - remove full stop
privacy statement - remove space

<img width="757" alt="screen shot 2017-03-27 at 08 54 29" src="https://cloud.githubusercontent.com/assets/25012688/24346137/06a9dff4-12cb-11e7-8906-7386c1fd965b.png">

[2017-03-27 07:57] MollieCourtenay commented on #87
@indiamindwave24 has this been sorted?

[2017-03-27 07:58] MollieCourtenay commented on #329
Yes, happy to run with that.

[2017-03-27 08:00] indiamindwave24 commented on #87
It does not appear to be. Error messages have the styling of body text and the 'forgot your password' is in a style not defined in the style guide

[2017-03-27 08:13] MollieCourtenay commented on #323
@katbow for now it will be an icon on Toolkit, just as goals / strategies / sleep tracker / tracking overview.

(PS: I'm thinking Tracking may become its own menu item in the future - not in toolkit)

[2017-03-27 08:16] MollieCourtenay commented on #328
@katbow RE sending messaged - all good.

Not sure about this: TBC Connecting Carer with SU care team. Connection can probably be done through SU i.e. if the SU has identified someone as a carer, then that person will have access to the care team.

There is an issue here about Carers connecting to SLaM here #278

[2017-03-27 08:21] MollieCourtenay commented on #87
I mean have you discussed with DWYL the conventional vs non-conventional colouring of the pink and blue.
And agree to run with the pink for errors (conventional)?

[2017-03-27 08:21] MollieCourtenay commented on #170
@katyedwards think this repeats the new issue you made last week - can you close one and keep another one going?

[2017-03-27 08:35] katyedwards commented on #337
#52

[2017-03-27 08:37] indiamindwave24 commented on #87
@nogainbar Are you still working on the front end for this?

I am aware that there was a conversation about this while I was on holiday. Think it is best to move forward with red used as error messaging - what are your thoughts on this?

[2017-03-27 08:37] katyedwards commented on #337
See #52

[2017-03-27 08:38] katyedwards commented on #170
Will close this one as Nelson has acknowledged the other.

[2017-03-27 08:38] #170 closed

[2017-03-27 09:56] katbow commented on #294
No worries @MollieCourtenay - I put it for @nelsonic to check out. I'll remove the please test label to avoid confusion.

[2017-03-27 09:59] katbow commented on #328
@MollieCourtenay yup that's what I was looking for! Thanks

[2017-03-27 10:58] MollieCourtenay opened #342 "Audio and visual calls between clinicians and SUs (virtual consultation)"
- Scheduling?
- Murat governance?
- reassurance of security.
- agree no need to keep recordings
- show users as available
- Clinicians to instigate calls

[2017-03-27 11:26] #329 closed

[2017-03-27 11:33] katbow opened #344 "Internal server error for editing security details"
Noticed in #127

When checking the heroku logs, there was this issue:

![image](https://cloud.githubusercontent.com/assets/1287388/24354340/4d447046-12e9-11e7-9eae-debb80df6b07.png)

The `security_questions.txt` file is not found in the build of healthlocker. Need to update brunch so that the text files are included in the build.

[2017-03-27 11:51] MollieCourtenay commented on #321
@katbow Footer is hogging again - Safari macpro.
<img width="1251" alt="screen shot 2017-03-27 at 12 50 32" src="https://cloud.githubusercontent.com/assets/25012688/24354980/0d029064-12ec-11e7-9fae-6eb0b3f69cd1.png">

[2017-03-27 11:59] katbow commented on #321
can you give me your screen size & safari version please (from safari -> about safari)?

This doesn't happen on my mac pro in safari so I need a bit more detail.

[2017-03-27 12:02] MollieCourtenay commented on #321
oh really sorry i mean Chrome and 13 inch macpro

[2017-03-27 12:48] MollieCourtenay commented on #317
@katbow hopefully the above explains it?

[2017-03-27 13:17] katbow commented on #321
Alright, can you give me version number still? I have the same size and I am still not seeing this happening. You can get it from going to the three dots -> help -> about chrome.

Also, is this happening even when the chrome window is full screen, or only when it's resized to be smaller?

[2017-03-27 14:41] MollieCourtenay commented on #321
Version 56.0.2924.87 (64-bit)

when ive make the screen slightly smaller than full screen.  is ok on full screen.

<img width="1280" alt="screen shot 2017-03-27 at 15 40 46" src="https://cloud.githubusercontent.com/assets/25012688/24362146/c73c9bca-1303-11e7-850b-eb4bd73ffe71.png">

[2017-03-27 14:58] MollieCourtenay opened #346 "Users can disconnect HL account from SLaM"
Delete on the bottom of the profile.

![delete account](https://cloud.githubusercontent.com/assets/3858131/24292393/105ac088-1085-11e7-9688-dd6c80895162.png)

[2017-03-27 15:01] katbow commented on #321
ok great, thank you!

[2017-03-27 15:22] katbow commented on #12
Would you like it to say terms of service or terms and conditions still?

[2017-03-27 15:28] katbow opened #347 "Users can log in if they haven't completed step 3 of sign up"
If the user has set an email and password in sign up, then they are able to log in (even if they haven't completed step 3 including accepting terms of service and privacy statement).

Need to add a guard in login that if they have not accepted, then to redirect.

@MollieCourtenay what would you like the behaviour to be if a user tries to log in after completing step 2 of sign up but not step 3? Wo

[2017-03-27 15:33] MollieCourtenay commented on #12
terms of service please - just remove the dot.

we'll need to change footer to say terms of service. ill make a new issue.

[2017-03-27 15:37] MollieCourtenay opened #348 "Footer: edit to say Terms of service"
+ [ ] As a user, I see **Terms of Service** on the footer - not Terms and conditions.

@Cleop with capital S please.

[2017-03-27 16:05] #344 closed

[2017-03-27 16:25] katbow commented on #347
I'm seeing some problems with this at the moment for how this will work for user flow and still be secure.

We need to consider for this:
* Making it obvious to the user that they need to accept terms of service and privacy statement
* Where the user can go to accept terms of service and privacy statement
* Avoid data leaks - We would probably only want to redirect to page 3 if the user tries logg

[2017-03-28 09:54] katbow opened #350 "Add markdown instructions"
from conversation in person & slack with @katyedwards  - Add a small document with common markdown syntax as a reference when writing tips and stories

[2017-03-28 12:41] MollieCourtenay commented on #324
@katbow the 10.02 is the timestamp that data was saved for that day. I don't think we need timestamps however in that view.

I have edited and re-added the screenshot above.

So:
**Last 7 days** - show averages.
**Today** - show just info entered about that day.

[2017-03-28 12:47] MollieCourtenay commented on #324
If we can go last 7 days AND one month that would be great  - we can see how people are using the switching between 7 days and one month and see if a further timescale would be useful.

We do know form users they want to see their data over time.

[2017-03-28 12:51] MollieCourtenay commented on #127
@katbow

+ [ ] can you please make the 'Update security question' match the size and central alignment as per update password page.

<img width="757" alt="screen shot 2017-03-28 at 13 50 51" src="https://cloud.githubusercontent.com/assets/25012688/24405668/93f8a79e-13bd-11e7-8fc4-8713a04a0ce3.png">

[2017-03-28 13:00] katbow commented on #347
Okay so had a talk with @tonydaly this morning.

Going to redirect the user to page 3 of sign up to accept terms of service & privacy statement - not a data leak because these details need to be correct anyway, and the user (should be) the only one who knows these anyway.

This can be done with [ecto-state-machine](https://github.com/asiniy/ecto_state_machine). It *can* be done the same way this h

[2017-03-28 13:34] MollieCourtenay commented on #211
user input - mark goal as achieved. instead of complete.

[2017-03-28 15:08] katbow opened #353 "Using state machine for users"
There was an [issue](#347) previously where users could log in with having only completed step 1 & 2 of sign up.

It was suggested to use a state machine such as [ecto-state-machine](https://github.com/asiniy/ecto_state_machine) so we can change and check the "completion state" of the user when they are trying to log in or sign up.

This should allow for using a `case statement` for the various st

[2017-03-28 15:32] tonydaly commented on #193
@iteles @nelsonic @katbow this is all merged in and working now. The login details for segment.com and mixpanel are in the Google Drive. As I won't be around until next week, maybe someone else can set up some funnels and show @MollieCourtenay and @katyedwards how it works?

That would also be good to then generate a list of other events to track.

[2017-03-28 15:32] #193 closed

[2017-03-28 15:37] nelsonic commented on #339
Hi @katbow,
this PR is looking good _so far_. 👍
using the elixir "seeds" (`priv/repo/seeds.exs`) is the "_right_" way of loading "initial" (or our case "Demo") data into the PostgreSQL table(s). ✅

_However_, we need _considerably_ more data to be loaded to make the demo look good during demos.
+ in `priv/repo/seeds.exs` we need a _function_ to insert data in bulk.
+ we need a _script_ to _generat

[2017-03-28 15:39] nelsonic commented on #193
@tonydaly 🎉

[2017-03-28 16:10] MollieCourtenay commented on #314
awaiting approval from Nicola on this.

[2017-03-28 17:42] MollieCourtenay opened #354 "Clinician: skeleton interface"
As discussed a little earlier.

Ahead of having ePJS going next week  (hopefully)  would it be useful to create some skeleton interfaces?

[2017-03-28 17:43] MollieCourtenay opened #355 "Add 2 factor auth (mobile verification code) to connect to SLaM flow"

[2017-03-28 17:45] MollieCourtenay opened #356 "Clinician caseload"
Links to:

#38 display caseload and link to individual service users summary dashboard screen
#131 sort service users by recent HL activity
#132 filter caseload according to whether service users are using Healthlocker or not

[2017-03-29 11:03] katbow commented on #339
@nelsonic for

do you mean *any* type of post, or do you mean posts that are user-specific i.e. they only show up on that users toolkit, like goals and coping strategies?

For stories & tips, I was just going to do a bulk insert where it didn't really matter which user_id it's associated with. With coping strategies & goals, I was going to make 1-2 of each for every user.

[2017-03-29 13:03] indiamindwave24 commented on #318
[Sleep_tracker_icon.zip](https://github.com/healthlocker/healthlocker/files/879090/Sleep_tracker_icon.zip) @katbow

[2017-03-29 16:17] #347 closed

[2017-03-29 19:43] nelsonic commented on #339
@katbow if it's not _too_ much work please create a function to post one of _each_ type of post. 👍

[2017-03-29 21:11] iteles commented on #277
@MollieCourtenay @katyedwards Does this information (on who the care team is) also come from ePJS?

[2017-03-30 07:08] MollieCourtenay commented on #277
Yes. Or an associated DB - I remember Garry referring to is as a staff table.

[2017-03-30 07:30] MollieCourtenay commented on #277
nelsons email is said team members.

[2017-03-30 07:30] MollieCourtenay commented on #277
@iteles

[2017-03-30 13:24] katbow commented on #42
I'm not adding a label yet for the full feature, however I'm doing the setup for this now, which is T1h 👍

[2017-03-30 13:30] katbow commented on #350
Done & can be viewed at https://github.com/healthlocker/healthlocker/blob/master/markdown-syntax.md

[2017-03-30 13:30] #350 closed

[2017-03-30 13:31] katbow commented on #327
The flow for assigning roles to various users is defined in related issues. The roles are defined in the user table

[2017-03-30 13:31] #327 closed

[2017-03-30 13:39] katbow opened #357 "Prevent users from entering sleep data more than once per day"
relates to #320. Users shouldn't be able to enter info more than once.

[2017-03-30 13:41] iteles commented on #357
Also good to clarify here that this is a starting assumption. We're looking to build this simply and fully understand that people may want to track naps or irregular sleep cycles, but we would like this request to come from the user testing to ensure that we are building the most valuable features first.

@katbow We need to have some nice user feedback to go with the input to say 'you have already

[2017-03-30 13:44] tonydaly commented on #35
#193 started a bunch of this. I've updated this list above to reflect what is currently tracked (but people should take a deeper look into Mixpanel). The main thing missing from that list is: "how long did I spend reading in the app today?"

Also, there is currently no way to switch this off per user.

[2017-03-30 14:21] katbow commented on #318
@indiamindwave24 that icon is so cute 😍 . I love it!

[2017-03-30 14:34] katbow commented on #323
@indiamindwave24 do you have the icon for this one as well?

[2017-03-30 15:47] #341 closed

[2017-03-30 15:49] #321 closed

[2017-03-30 16:09] MollieCourtenay commented on #314
## Acceptance Criteria

+ [ ] As a Healthlocker user, when I click on Get Support, in the grey box, I see:

## What to do in a crisis

*If you need urgent help you have lots of options:*

- If you can wait to see your GP they can help you find the best service for you
- If you are under a mental health team remember to follow your care plan if you have one, and call your care co-ordinator (or spea

[2017-03-30 16:16] MollieCourtenay commented on #314
@indiamindwave24 please add the phone icon in here when you have it.

[2017-03-31 06:28] iteles commented on #354
@molliecourtenay We have this from Laura: https://github.com/healthlocker/healthlocker/issues/38#issuecomment-278615874

Are you thinking that those wireframes need to be revisited?

For simplicity, what we propose is to have a list of the people that we get from epjs as part of the clinician's caseload, with those at the top being those who also have healthlocker accounts (this might be more valu

[2017-03-31 06:30] iteles commented on #42
For now, we have simply created a link to a page with a placeholder line of text saying the care plan will come soon as we don't know which fields we will be getting yet.

[2017-03-31 07:11] MollieCourtenay commented on #42
The only this with this is that this story begins: As a SLaM service user - and this looks like any user will view this button at the moment.

Will this be picked up when the full feature is built? @iteles @katbow

[2017-03-31 07:49] MollieCourtenay opened #359 "Goals: add new button"
At the height it is now.
Aligned right, aligned to the end of the grey line.

[2017-03-31 08:00] MollieCourtenay opened #360 "Error message styling throughout"
+ [x] error notes in HL pink / red.

+ [x] highlight field where error occurred in pink outline.

**user feedback - observing users not noticing error messages**

link to #87

[2017-03-31 08:03] MollieCourtenay opened #361 "Text input fields - give same rounded corners as other fields."
<img width="733" alt="screen shot 2017-03-31 at 09 02 39" src="https://cloud.githubusercontent.com/assets/25012688/24541788/d5753acc-15f0-11e7-80fe-5f71a08f3f6e.png">

- [x] Sleep Tracker input page
- [x] Problem Tracker input page
- [x] New Coping strategy page
- [x] New Goal Page
- [x] Diary input box

[2017-03-31 08:05] MollieCourtenay commented on #320
@katbow thanks!

+ [ ] Can the scrollers begin or default at 0? (this way the pages is less heavy with text)

+ [ ] increase the space between Sleep tracker & Total hours sleep:

+ [ ] can you try Sleep tracker in pink /red colour from style guide

+ [ ] Save button, can this be an active colour - blue. (I know this is something that needs addressing throughout, but can we start here? Lets start w

[2017-03-31 08:16] MollieCourtenay commented on #354
Yes, lets go with what we have in GH already in terms of the Caseload.
But the Clinician interface will need to hold more than the caseload shortly, when messaging comes etc.

So by skeleton I mean is there work we need to to / issues to create about:
creating a basic interface with a home, back to ePJS button and some basic nav, before we build the caseload feature?

[2017-03-31 08:31] MollieCourtenay opened #362 "Sign up: merge ToS and PS tick box"
As a user on step 3, I only have 2 boxes to tick.

'I agree to the [terms of service](url) and [privacy statement](url).'

[2017-03-31 08:43] MollieCourtenay commented on #306
repeated so am closing this one.

[2017-03-31 08:43] #306 closed

[2017-03-31 08:52] MollieCourtenay opened #363 "Active button styling."
Grey buttons look dull and inactive.

@katbow how best to note this issue, list each button, or is there a simple way you can change the colour of all the call to action buttons?

**user feedback**

[2017-03-31 09:12] MollieCourtenay opened #364 "Flash messages - styling"
These are being missed by users - if they are noticed it takes a few seconds.

Can they be coloured / centred? / exist in a banner?

@indiamindwave24 can you come up with some ideas/ a solution?

e.g.
welcome to healthlocker!
Goal added!
Coping strategy added!

[2017-03-31 09:19] MollieCourtenay opened #365 "Burger menu - reorder & redirect"
In order to enable users to pick up Healthlocker and use it straight away - make the menu more literal.

Goals and tracking           (renamed from Toolkit)
Care team
Tips    (https://www.healthlocker.uk/tips)
Stories    (https://www.healthlocker.uk/posts)
Get support
Account
Log out

About in footer (remove from burger)

[2017-03-31 09:28] MollieCourtenay opened #366 "Welcome to Healthlocker - how can we make this more engaging?"
the landing experience in general is not great...

[2017-03-31 09:35] MollieCourtenay opened #367 "Goals: mark as important - add icon"
As a user I can tell visually which of my goals I have marked as important.

## Acceptance criteria

+ [x] As a user, I can mark a goal as important, then see it listed with an overlaid icon in the goal list.

Icons - to come from @indiamindwave24

<img width="195" alt="screen shot 2017-04-03 at 17 49 24" src="https://cloud.githubusercontent.com/assets/25012688/24620521/faeb91be-1895-11e7-911d-9ae

[2017-03-31 09:56] MollieCourtenay opened #368 "email confirmation of account creation"
content tbc -depend on what is decided by SLaM in terms of service support.
#309

[2017-03-31 14:36] MollieCourtenay opened #369 "Read this story - reduce text size and use link styling #370"
## Acceptance criteria

+ [x] Read this story link should be the same text size as the content of the story.

+ [x] Read this story link, align to the right, sit above the 'Log in or Sign up to like this!' offer

[2017-03-31 14:36] MollieCourtenay opened #370 "links - styling throughout"
can we agree a convention?

[2017-03-31 15:33] MollieCourtenay opened #371 "Footer: change background colour"
+ [ ] Instead of the light blue, use the dark blue - same as the burger menu background.

[2017-03-31 16:40] katbow commented on #326
chart.js in use now 👍

[2017-03-31 16:40] #326 closed

[2017-04-03 08:12] MollieCourtenay commented on #318
Lovely

[2017-04-03 12:53] MollieCourtenay opened #373 "Goals: add who can support me"
As a user creating a goal, I can add more detailed plans to make the goal feel achievable.

+ [ ] As a user creating a new goal, I can add detail to a box labelled '**Who could support you:**' [I am able to add to bullet pointed list]

![image](https://cloud.githubusercontent.com/assets/25012688/22822233/78eac7cc-ef76-11e6-99c8-a3fe89151e07.png)

Linked to #91 (goals)
Linked to #236 (add to do lis

[2017-04-03 13:37] Cleop opened #374 "Create mixpanel analytics funnels"
- Start with client-side funnels
- Move on to server-side

- Start with sign up flow funnel

[2017-04-03 13:41] Cleop commented on #374
I've successfully created a basic flow for sign up which measures loaded page URLs.

I'm now seeking to enhance that by creating custom events for basic functions. I succeeded in creating a custom event for loading the homepage but am now getting this error when trying to create a second custom event:

![image](https://cloud.githubusercontent.com/assets/16775804/24611799/2d4b4a2a-187b-11e7-951b-ab

[2017-04-03 14:09] Cleop commented on #374
Fortunately @tonydaly has some suggestions up his sleeve using segment that I am now going to pursue to overcome the problem above.

[2017-04-03 17:26] indiamindwave24 commented on #323
[Tracking_overview.svg.zip](https://github.com/healthlocker/healthlocker/files/890843/Tracking_overview.svg.zip)

[2017-04-03 17:35] MollieCourtenay opened #376 "Randomly display the top story and top on the homepage."

[2017-04-03 17:40] MollieCourtenay opened #377 "Account. Security. Reduce space between top menu and update buttons."

[2017-04-03 17:41] MollieCourtenay opened #378 "Tick boxes. Make them pretty."

[2017-04-04 08:45] iteles commented on #344
Expected implementation plan needed to be refined.

[2017-04-04 08:57] iteles commented on #354
@MollieCourtenay We just need to split this out into the acceptance criteria - at this stage, with it being a simple wireframe, the detail we need is around:
+ Will the split in the caseload be around Healthlocker vs non-healthlocker users?
+ What is the treatment of the non-healthlocker users?
+ A new issue on what the service user summary page will look like when we click into it.

[2017-04-04 09:05] MollieCourtenay commented on #176
<img width="816" alt="screen shot 2017-04-04 at 10 04 40" src="https://cloud.githubusercontent.com/assets/25012688/24649207/33962dac-191e-11e7-925c-260cc7eb8fa5.png">

[2017-04-04 09:09] MollieCourtenay commented on #176
Above is one option:
Enter security q and answer correctly = prompt a reset PW link to email address, follow link , reset password, log in.

Simpler option being:
Enter security answer correctly = sent to reset password screen, reset password = logged in.

[2017-04-04 09:16] MollieCourtenay commented on #346
closing as this is a duplicate of #271

[2017-04-04 09:16] #346 closed

[2017-04-04 09:20] MollieCourtenay commented on #27
closing as this is duplicated here: #176

[2017-04-04 09:20] #27 closed

[2017-04-04 09:21] katbow commented on #320
Do you want this to be a selectable option for people? It can be a placeholder where users can't select 0 (although that might be confusing).

[2017-04-04 09:28] MollieCourtenay commented on #320
0 should be a selectable option yes please.

[2017-04-04 11:48] Cleop commented on #374
Relates to #35

[2017-04-04 12:39] MollieCourtenay commented on #320
Question...@katbow
So when a user inputs sleep data today (Tuesday), is their sleep data for Monday night? or Tuesday night? Tuesday night hasn't happened yet so should it be Monday night? It's just on the graph it filled in Tuesdays bar....

Is there something we should do in the FE to make it clear to the user what day they are entering information for? it could say ... **Total hours sleep last

[2017-04-04 12:48] MollieCourtenay commented on #12
@katbow is this ready to test & close?

[2017-04-04 12:52] MollieCourtenay commented on #130
revisit - based on how messaging is set up, if a clinician can send messages to multiple people or just 1 at a time....

[2017-04-04 13:11] iteles commented on #320
@MollieCourtenay My current fitness tracker (Bellabeat) displays Monday - Tuesday sleep data against Tuesday.

It would be good to know how fitbits and Jawbone fitness trackers display this too and find the most familiar user pattern to start from

[2017-04-04 13:17] Cleop opened #380 "Clear analytics data history of dev/skewed data or remove certain user from results"
- In order for the data analytics to be presented cleanly it would be best if the data created during development was not included.

- As real users start using the app there are certain team members who will still be using the healthlocker site a lot. We do not want their activity to skew the results of the user testing data that will begin to come through. Is it possible to remove/block their ac

[2017-04-04 13:20] katbow opened #381 "Feedback from demo"
There was some immediate feedback for changes during the demo.

+ [x] Change the graph displaying sleep data to say "Hours slept" at the top rather than "7 days".
+ [x] Overlap on the feedback page, the button is overlapped by the footer on iPhone 5
+ [ ] Highlight today either in a different colour or bolder (timeboxed to 2 hours)
+ [x] Check whether the sleep tracker graph becomes impossibly tal

[2017-04-04 13:23] katbow commented on #12
@MollieCourtenay yes it is 🙂

[2017-04-04 14:00] katbow commented on #324
@MollieCourtenay, I'm going to split these last 2 into separate issues for timing purposes. There was a bit more that had to go into this technically than I first anticipated, so it will be better for time estimating for me to split it up 👍

[2017-04-04 14:07] katbow opened #382 "Tracking sleep overview: View previous/next time period"
- [x] As a user, I can choose the navigate with previous and next buttons, this will alter the graph and average data to show the previous or next selected time scale. #324

<img width="276" alt="screen shot 2017-03-21 at 19 13 56" src="https://cloud.githubusercontent.com/assets/25012688/24166247/903f0844-0e6a-11e7-9945-091889ff8b27.png">

@MollieCourtenay can you verify priority including positio

[2017-04-04 14:08] katbow opened #383 "Tracking overview sleep: change time scale"
- [ ] I can choose for the graph to display by 'Last 7 days', 'Month' (calendar month)

-[ ] [Extension] I can choose for the graph to display last 6 months

<img width="276" alt="screen shot 2017-03-21 at 19 13 56" src="https://cloud.githubusercontent.com/assets/25012688/24166247/903f0844-0e6a-11e7-9945-091889ff8b27.png">

@MollieCourtenay can you confirm what the plan is for the month scale? Is

[2017-04-04 14:41] katbow commented on #363
@MollieCourtenay @indiamindwave24 in the original style guide, the buttons are in the HL pink, and aqua on hover. Is this still the case?

I know @indiamindwave24 is updating the style guide, but I wanted to include this here to double check and as a reminder to myself

[2017-04-04 14:43] katbow commented on #364
Another note for myself to refer to update style guides when they become available @indiamindwave24

[2017-04-04 14:49] katbow commented on #314
Couple of styling questions for this one @MollieCourtenay @indiamindwave24

* Can the positioning of the phone icon be confirmed? Does it go left/right of the section title, within the grey box, text wrapped around, vertically centred etc?
* Is the entire section below `Free 24-hour phone support` in the grey box?
* Is the title for phone support itself also in the box or above it?

[2017-04-04 15:05] katbow commented on #211
update for the future: I changed the time estimate for this because the database set up is complete now - it's the functionality that needs to be completed now and can be done in a similar way to [marking as important](#214)

[2017-04-04 15:23] Cleop commented on #374
My current 'Coping Strategy' tracking is not appearing in the Phoenix logs (neither confirmation nor success) and I think this may be down to with the 'Posts' identifier.

[2017-04-04 15:27] katbow commented on #381
I checked the last one & the graph stays the same size but the scale changes (goes up by 5 on y-axis). Here's an example of how it would look:

![image](https://cloud.githubusercontent.com/assets/1287388/24664627/13f41f06-1953-11e7-89ba-0895dcd9b8dd.png)

I also verified that if the user inputs days that are all less than 8, the graph defaults to an 8 hour max (instead of a max of most hours slept

[2017-04-04 15:28] tonydaly commented on #374
@Cleop the `analytics is not defined` error you're seeing might be because the Segment JS snippet isn't being included on the page, [this](https://github.com/healthlocker/healthlocker/blob/master/web/views/layout_view.ex#L4) is the function that renders it.

[2017-04-04 15:49] Cleop commented on #374
Thanks @tonydaly bizarrely @katbow managed to help me fix this by merge in master. Not quite sure what was causing it.

[2017-04-04 16:02] katbow commented on #381
I checked this, and if it is only the last day highlighted differently (instead of the last non-zero day), then I just need to change 1 line so it would be a quick fix. With this way, the right most column would always be highlighted differently (even if looking back at a different date range).

If the last day isn't highlighted when you are looking back in time (last 7 days) this would require a

[2017-04-04 16:45] MollieCourtenay commented on #314
![img_2219](https://cloud.githubusercontent.com/assets/25012688/24668308/5875672e-195e-11e7-975e-65a7cfde2a4a.JPG)

Icon, in grey box - centered under 24 hour phone support header.
24 hour support, icon, phone lines = all in grey box.

[2017-04-04 16:47] MollieCourtenay opened #385 "Clinician: individual service user view"

[2017-04-04 16:53] MollieCourtenay opened #386 "Tracking overview: click on a day - reveal details"
## Acceptance Criteria
+ [x] As a user, viewing my tracking graph, first I see my [time period] average.
+ [x] As a user, viewing my tracking graph, below the [time period] averages, the tracking detail for each day is listed. Beginning with the most recent day and following backwards (e.g. Wednesday, Tuesday, Monday).
+ [x] As a user, I do not see days listed where no data was entered.
+ [x] As a

[2017-04-04 20:10] iteles commented on #320
@MollieCourtenay Just checked with a friend who has a Fitbit and last night's sleep was also recorded as Tuesday data.

[2017-04-05 03:23] nelsonic opened #387 "WebSocket connection failed: Error during WebSocket handshake: Unexpected response code: 403"
While viewing the the Developer Console for healthlocker.uk we _observed_ that there is a WebSocket Issue.

The exact error message is:
[code]
![image](https://cloud.githubusercontent.com/assets/194400/24688335/46f27204-19b7-11e7-893f-fe66470e16ad.png)

## Steps to reproduce:
+ Visit: https://www.healthlocker.uk
+ Open developer console.
+ Notice that  https://www.healthlocker.uk/css/fonts.css fai

[2017-04-05 03:23] nelsonic commented on #294
@katbow I can _confirm_ that I'm no longer seeing the `404` error for the `.css` file.
(_thanks for fixing it!_) 🎉

I am _however_ seeing a WebSocket connection issue:
![image](https://cloud.githubusercontent.com/assets/194400/24688318/239292c6-19b7-11e7-9057-384da0e23480.png)

But that is a _separate_ issue which needs to be looked at: https://github.com/healthlocker/healthlocker/issues/387
So, c

[2017-04-05 03:24] #294 closed

[2017-04-05 07:50] MollieCourtenay commented on #382
@katbow after our conversation yesterday, I've moved down the extended time scales issue, and kept the priority up on this issue.

The user will need to know what week / dates they are looking at - the wireframes have the dates displayed under each day - yesterday morning in our demo, it seemed like this was a complicated / timely requirement?

Could we have the first and last date displayed on th

[2017-04-05 07:51] MollieCourtenay commented on #381
@katbow having the Hours slept at the top of the graph is great thanks.

Yes, we would only want today highlighted / bolded. and not for example, Tuesday last week.

see #382 for more comments..

[2017-04-05 07:54] MollieCourtenay commented on #383
@katyedwards have made a priority 3 and moved down.

If we can add start date and end date (of the 30 day timescale)  to the graph/below the graph then I think 30 days is fine over a calendar month... lets wait to see what is decided in #382 then re-write these requirements?

[2017-04-05 07:57] #127 closed

[2017-04-05 07:58] #12 closed

[2017-04-05 09:36] katbow opened #388 "Rounding average hours slept"
This morning I input more sleep data & I got an average with 3 decimal places:

![image](https://cloud.githubusercontent.com/assets/1287388/24699361/a22d61c2-19eb-11e7-96e0-6947a5e2d411.png)

What would you like the standard to be? Rounded to 1 to match how sleep is input? E.g. above should be 7.4

[2017-04-05 13:24] katbow commented on #382
I'm going to take 1 hour to see how to go about adding date under the graph. I think it is the most clear that way so I think it's worth checking out for timing.

If not, then I can add the start and end dates under the graph 👍

[2017-04-05 15:12] Cleop opened #389 "Capitalise 'blank' error message on sign up"
Should read: 'Can't be blank'

Currently:
![image](https://cloud.githubusercontent.com/assets/16775804/24712360/8d0cc092-1a1a-11e7-8c36-1a2ddcf84019.png)

[2017-04-05 15:29] katbow commented on #389
Reasoning for this: Some of them are default messages from Ecto.changeset errors. Any ones that are **not** capitalised are changed by me.

I think the default ones can be changed to be capitalised, but it might depend on the function being used. I know for some the `:message` option can be changed, but for others this is called :required_message. I'm not certain if there are any where the display

[2017-04-05 15:36] katbow commented on #382
@MollieCourtenay update for this: dates are now displayed under each day 👍 . The only difference from the wireframe here is I wasn't able to have it on a new line underneath the day of the week, which seems to be a default of the graphing library.

Instead the view switches depending on the screen size.

Mobile:
![image](https://cloud.githubusercontent.com/assets/1287388/24713500/c6481fde-1a1d-11e

[2017-04-05 15:57] indiamindwave24 commented on #318
@katbow
[Sleep_tracker_.svg.zip](https://github.com/healthlocker/healthlocker/files/900006/Sleep_tracker_.svg.zip)

[2017-04-05 16:00] indiamindwave24 commented on #314
@katbow
[Crisis_line_Strategies copy 9.svg.zip](https://github.com/healthlocker/healthlocker/files/900013/Crisis_line_Strategies.copy.9.svg.zip)

[2017-04-05 16:16] Cleop commented on #389
@katbow - do you have a preference of which way you think looks better?

I feel that inconsistency can look a bit unprofessional.

[2017-04-05 16:29] katbow commented on #320
@MollieCourtenay I marked this as please test despite the last 2 changes not being made since they are in separate issues #360 #363 and will be done site wide there

[2017-04-05 18:09] shouston3 opened #392 "Give Sam write access"
Could I have write access please
(to assign people, add labels, make time estimates etc)

[2017-04-05 18:12] shouston3 opened #393 "Fix current warning messages to ensure future warnings are easily caught"
And a few errors when running:
`mix test`
`mix phoenix.server`

(If your not getting that many issues run these commands without the `_build` (`rm -rf _build`))

[2017-04-05 18:25] shouston3 opened #394 "Hosting"
We could get it up on travis, codecov, etc and add badges to the readme

[2017-04-05 18:26] indiamindwave24 commented on #370
<img width="366" alt="hl_updated_style_guide" src="https://cloud.githubusercontent.com/assets/25007700/24720642/ba34e39a-1a35-11e7-8759-a6d0573aef14.png">

[2017-04-05 18:27] indiamindwave24 commented on #364
<img width="366" alt="hl_updated_style_guide" src="https://cloud.githubusercontent.com/assets/25007700/24720707/ea857a28-1a35-11e7-9225-e2526f93a132.png">

[2017-04-05 18:27] indiamindwave24 commented on #363
<img width="366" alt="hl_updated_style_guide" src="https://cloud.githubusercontent.com/assets/25007700/24720714/f1c77f70-1a35-11e7-808c-b1f1596ea0ae.png">

[2017-04-05 18:30] shouston3 opened #395 "Noifications: slack: secure"
[Everyone else seems to have hidden this an environment variable](https://github.com/search?q=notifications+slack+secure&type=Code&utf8=%E2%9C%93) should we be [hiding ours too](https://github.com/healthlocker/healthlocker/blob/master/.travis.yml#L9)

[2017-04-05 18:32] indiamindwave24 commented on #87
<img width="366" alt="hl_updated_style_guide" src="https://cloud.githubusercontent.com/assets/25007700/24720896/8c5a5850-1a36-11e7-89cd-230022c20cdf.png">

[2017-04-05 18:45] iteles commented on #395
@shouston3 Added a `technical` label so it's clear to our PO that this is a dev team question.

[2017-04-05 18:45] iteles commented on #393
@shouston3 What's the required action here?

[2017-04-05 19:17] shouston3 commented on #393
Fixing each one would be my solution.

At the moment there are too many to read and so any indication of future bugs or improper syntax is lost

[2017-04-05 20:50] iteles commented on #393
👍  A good task for you and @katbow to pair on for half a day tomorrow I reckon (as both of you would benefit from that knowledge) :blush:

[2017-04-05 20:53] iteles commented on #392
@shouston3 Invitation sent!

[2017-04-05 20:55] iteles commented on #363
@katbow Can we add this mini style guide pic to the documentation too please?

[2017-04-05 20:59] shouston3 commented on #392
Accepted, thanks @iteles

[2017-04-05 20:59] #392 closed

[2017-04-05 21:17] shouston3 opened #396 "Linter?"
What are your thoughts on setting up a linter?
[dogma](https://github.com/lpil/dogma) seems good (took about 2 mins to get set up) (may take longer to fix the linting errors).
I ran it in the project and there are a couple of long lines and inconsistencies (pretty good though)

[2017-04-06 15:14] tonydaly commented on #396
[credo](https://github.com/rrrene/credo) is already added, but we aren't using in CI or anything (I have my editor configured to warn me).

[2017-04-06 15:20] tonydaly commented on #396
@shouston3 I set it up ages ago to use [hound](https://houndci.com/), but it never worked and it looks like their configuration has changed since: https://houndci.com/configuration#elixir (it was in beta).

Would be great to properly hook that up.

[2017-04-06 15:58] katbow opened #398 "Unique index in sleep trackers prevents data entry"
The for_date should be unique on a per user basis. Instead, I made it unique on its own which prevents more than one user from entering data for a day.

Need to remove the unique index and check if data exists already for the user trying to enter data more than once.

[2017-04-06 16:05] shouston3 commented on #396
Great, I'll have a look at hooking up credo

[2017-04-06 16:22] katbow commented on #398
@Cleop Want to check out that this works now?

[2017-04-06 16:47] Cleop commented on #398
Thanks @katbow It now works, I'm going to close this issue.

[2017-04-06 16:47] #398 closed

[2017-04-07 11:21] katyedwards commented on #388
@katbow yes I would think so... 1 decimal place seems like it would be enough detail.  I think sensible to start with that and then get feedback.  You'd want to know 7.5 hours, but probably 7.52 doesn't add any real value.

[2017-04-07 12:26] markwilliamfirth commented on #388
@katyedwards I saw this and had an idea/feedback! Decimal points for hours can be quite difficult to understand - for example 7.4 (rounded from 7.375) hours is 7h and 23 minutes, but a user may see this and mistake it for 7h40m if they don't think about it and calculate it in their head

To me as a user 7h23m is more valuable than 7.4h

If this is too much detail, the minutes could be rounded to t

[2017-04-07 13:25] katyedwards commented on #388
Thanks @markwilliamfirth  If that's as easy to implement then that would be great yes

[2017-04-07 13:59] Cleop commented on #374
The Coping strategy event has now been created and can be used in funnels on Mixpanel. The page load is yet to appear and I will now work on this (it had to be merged before it was possible to test).

I have also just discovered that Mixpanel does not allow you to create more than 5 funnels using its free version. So @katyedwards and @MollieCourtenay this underlines even more that the client shoul

[2017-04-07 14:30] katyedwards commented on #374
@Cleop I think this'll be an @MollieCourtenay ollie call, but as @iteles mentioned, go with what was discussed on Tuesday - I'll set a reminder to ask Mollie about this on Monday but she is out most of the day with external meetings so she may not have much chance to look until later in the afternoon.  I can delay sending the link out to our testers until late Mon or early Tues though if necessary

[2017-04-07 16:45] Cleop opened #404 "Refactor track_created to avoid passing in the conn"
We might want to change up track_created so we don't need to pass in the conn. It makes it a bit confusing having:

conn |> track_created(post)
and

conn
|> put_flash...

The functions under the latter conn do something to the conn then return it, so it makes sense having that piped through. track_created doesn't interact with the conn at all, and just needs the user (which is within it), so perha

[2017-04-07 16:59] katbow commented on #386
@MollieCourtenay I had some questions for this one regarding the UX.

I am concerned that users may not know to click on the graph to get more information about the day. A graph is not generally considered a navigation tool, it's a viewing tool.

Looking at other sleep tracking interfaces, extra information is accessed by clicking on a separate day button/link, or having a small section of info ab

[2017-04-10 08:21] MollieCourtenay commented on #314
@katbower
+ [ ] need the A&E link to work, link to a new browser window
+ [ ] all phone numbers should link to call on mobile devices
+ [ ] on iPhone 5s, safari, the bullet pointed statements are held in very narrow columns. Can the columns be as wide as the grey box?
+ [ ] can the bullet points be left aligned? so in line with the 'If you need'.

[2017-04-10 10:29] #84 closed

[2017-04-10 10:31] MollieCourtenay commented on #364
<img width="744" alt="screen shot 2017-04-10 at 11 31 25" src="https://cloud.githubusercontent.com/assets/25012688/24857739/44e5953a-1de1-11e7-9316-a2efd8bb3b84.png">
<img width="755" alt="screen shot 2017-04-10 at 11 31 10" src="https://cloud.githubusercontent.com/assets/25012688/24857746/478932ba-1de1-11e7-8da4-c65ed69b4831.png">

[2017-04-10 10:35] MollieCourtenay commented on #360
<img width="760" alt="screen shot 2017-04-10 at 11 33 16" src="https://cloud.githubusercontent.com/assets/25012688/24857811/83fe6062-1de1-11e7-8854-afb062ceee25.png">

<img width="768" alt="screen shot 2017-04-10 at 11 34 14" src="https://cloud.githubusercontent.com/assets/25012688/24857856/a7bf2914-1de1-11e7-965a-4dbd081170ec.png">

+ [ ] field where error was to be outlined in pink

[2017-04-10 10:36] #212 closed

[2017-04-10 10:36] #210 closed

[2017-04-10 10:45] katbow commented on #360
@MollieCourtenay for the first one in the image, do we want to say specifically which field is the problem?

I thought it would be similar to redirecting to log in when a user tries to sign up with an existing email address - it would indicate the account exists but details are wrong.

[2017-04-10 11:26] MollieCourtenay commented on #360
yes sorry not a very clear example. Here I did not enter a password. only email address.

[2017-04-10 11:48] katbow commented on #360
Sorry I'm a bit confused 🙈 . I'm still not certain what to do for that first form.

To clarify from my side as well, there is currently no difference on that form between a field being left blank and an incorrect combination - both will just register as an incorrect combo.

If you only want the error outline to show on blank fields (as opposed to when the combination is wrong otherwise) I can do t

[2017-04-10 16:20] katbow commented on #388
fixed now 👍

[2017-04-11 07:14] MollieCourtenay commented on #388
@katbow

Like the decision to display the averages as you have done. Just aware that that is not how we have displayed the hours and minutes in the scroller in the input page.
We currently have
7
7.5
8
8.5

I think to be consistent, then perhaps the scrolls should display this too?
7h
7h 30m
8h
8h 30m

[2017-04-11 07:18] MollieCourtenay commented on #324
@katbow please can you display the averages at the bottom like this:

## 7 day average
*Sleep* 7h 30m

[2017-04-11 08:01] MollieCourtenay commented on #386
@katbow  sorry for the delay. Hmm.  Guess I was imagining the days to be links and to be styles as per all other links on the site. Is that not going to be the case?

[2017-04-11 08:39] katbow commented on #369
I'm going to up the time on this because the phoenix link that is being used for "Like" is creating a form tag that can't be styled directly. It's taking up the whole width of the screen, so it's pushing down "Read this story".

I'll have to reset the styles for forms, but also make sure this doesn't affect the styling of other forms. I'll put it to T2h in case anything else will need fixing.

[2017-04-11 09:02] katbow commented on #386
They are not links at the moment. I would have to look in to how to create links in this case since the labels/overall chart are created using [chart js](http://www.chartjs.org/), so I can't just put a link in directly.

Even if we can easily make them links, my concern is with the UX for this.
* The links will be very small and likely difficult to click. This is similar for the bar graph itself -

[2017-04-11 09:28] katbow commented on #388
@MollieCourtenay how do you feel about trying out your first pull request on this?!

I have a [guide in the readme](https://github.com/healthlocker/healthlocker#updating-select-input-options-eg-security-questions) for this. It might be a good opportunity to test it out & let me know if anything is confusing in the instructions so I can update it.

What do you think?

[2017-04-11 10:35] iteles commented on #386
A note here that on fitbit and a few other wearables, there is no second screen, you just scroll down and there is essentially a list of days with their data underneath them (image from the interwebs below):
![fitbit-sleep](https://static1.fitbit.com/simple.b-cssdisabled-jpg.hb1361546c08554fec7f39399e78ad300.pack?items=%2Fcontent%2Fassets%2Fapp2%2Fimages%2Fscreen-01-sleep-goals-trends.jpg)

[2017-04-11 11:16] MollieCourtenay commented on #236
@katbow  click to view, tick a step tick box, then save  - makes sense to me.

As we have a save button - do we need another button?

Mark as important and mark as unimportant when viewing a goal at the moment - doesn't require the user to click save however - can you explain the difference in those interactions, and why we need something else?

[2017-04-11 11:17] MollieCourtenay commented on #354
<img width="426" alt="screen shot 2017-04-10 at 17 10 35" src="https://cloud.githubusercontent.com/assets/25012688/24906708/c504961a-1eb0-11e7-8dc7-7daac6ae4f91.png">
Clinician case load skeleton

[2017-04-11 11:22] MollieCourtenay commented on #386
ok so it seems we will have to begin the detailing under the graph with 7 day average, then list the 7 days under the graph.

For now as there is only one tracker, we could list them with the data 'open', be good to consider the option in the future to click on a day to then reveal the tracker data (mood, weight, exercise, sleep) rather than have it all on screen.

so:

## 7 day average

**Sleep**

[2017-04-11 11:23] MollieCourtenay commented on #354
Example of one a clinician has clicked on a user

<img width="424" alt="screen shot 2017-04-11 at 12 17 54" src="https://cloud.githubusercontent.com/assets/25012688/24906897/ac388e42-1eb1-11e7-83be-2a421be3f22a.png">

[2017-04-11 12:08] #382 closed

[2017-04-11 12:10] #314 closed

[2017-04-11 12:21] MollieCourtenay commented on #360
@katbow
Please leave the log in as it is - with one error messages and no fields highlighted.
(sorry I didn't think about the data leakage of highlighting the password field only - as this suggests the email input is attached to a HL account)

Is that clear?

[2017-04-11 13:39] katbow commented on #360
yep, got it. Thank you! this should be ready on all other pages then 👍

[2017-04-11 15:46] katbow commented on #386
@MollieCourtenay I have everything displaying underneath now (although not merged in yet so not on the main site), but had a couple more Qs to finalise it.

What order should they be displayed in? I currently have them reflecting the same way as the graph - it starts with most recent day at the top, and each previous day as you scroll down. Is that correct?

Dates with no data are not being shown

[2017-04-12 07:40] katyedwards opened #413 "Error Screen on Login after Timeout"
One of our User Testers has reported:

The system generated a crash when I tried to login due to a time out.
![crash](https://cloud.githubusercontent.com/assets/24604903/24946673/8f6e42de-1f5b-11e7-802e-05c758a983e7.jpg)

FYI, Mollie had the same problem yesterday as well although this didn't occur again after she refreshed.

[2017-04-12 08:11] MollieCourtenay commented on #386
@katbow  done

[2017-04-12 09:24] tonydaly commented on #155
Seeing some timeout issues in #413. Gonna add in monitoring so we know when these errors happen and can fix them.

[2017-04-12 09:28] katbow opened #414 "Error from analytics after tracking sleep"
This happened running locally from master branch

When I input data into `/sleep-tracker/new`, and click `Save` I get an error screen for no function clause matching in Healthlocker.Analytics.EventNameBuilder.event_name/2:

![image](https://cloud.githubusercontent.com/assets/1287388/24950808/2843dcf4-1f6a-11e7-849c-f61d01ab9566.png)

The information is saved, because when I go to `/sleep-tracker`

[2017-04-12 10:16] katbow commented on #236
@MollieCourtenay for mark as important/mark as unimportant those buttons are links which go to an endpoint where the change is made, updated in the database, then it renders the same page again. There is only 2 options for what the data can be - important or not important. If the user clicks on it, then we know the exact change being made.

Because the details would be stored all together in a sin

[2017-04-12 11:05] tonydaly opened #416 ":badarg"
**Message**

[code]

**Backtrace (last 10 lines)**

[code]

View on AppSignal: https://appsignal.com/healthlocker/sites/58ee002122139305bcd5267a/incidents/10

[2017-04-12 11:35] #155 closed

[2017-04-12 11:37] #416 closed

[2017-04-12 14:14] MollieCourtenay commented on #236
@katbow Thanks for explaining.

I think Edititable tick boxes only when a user has clicked edit.

[2017-04-12 15:07] MollieCourtenay opened #418 "Sleep tracker, hit save with no data entered - internal server error"
<img width="485" alt="screen shot 2017-04-12 at 16 06 36" src="https://cloud.githubusercontent.com/assets/25012688/24964746/055938b2-1f9a-11e7-8013-2500a44a702a.png">

Chrome.

[2017-04-12 15:53] MollieCourtenay commented on #360
+ [ ] password fields cant be blank either.
<img width="765" alt="screen shot 2017-04-12 at 16 03 56" src="https://cloud.githubusercontent.com/assets/25012688/24964632/b48ed504-1f99-11e7-826d-278d63cf84e0.png">

+ [ ] New password and confirm new password cant be blank either.
<img width="780" alt="screen shot 2017-04-12 at 16 08 14" src="https://cloud.githubusercontent.com/assets/25012688/2496485

[2017-04-12 16:21] MollieCourtenay commented on #388
yep I can give it a go next week @katbow

[2017-04-12 16:24] MollieCourtenay opened #420 "Make 'See more stories' a button"
- [x] Make 'See more stories' a button

[2017-04-12 16:24] MollieCourtenay opened #421 "Make 'See more tips' a button"

[2017-04-12 16:25] MollieCourtenay commented on #369
it is also now very close to the See more stories link - which I have added an issue about making it a button #420

[2017-04-12 16:28] #320 closed

[2017-04-12 16:36] MollieCourtenay commented on #45
<img width="424" alt="screen shot 2017-04-11 at 12 17 54" src="https://cloud.githubusercontent.com/assets/25012688/24968831/83001126-1fa6-11e7-9c05-bad910a22843.png">

[2017-04-12 16:48] MollieCourtenay commented on #38
<img width="428" alt="screen shot 2017-04-12 at 17 45 59" src="https://cloud.githubusercontent.com/assets/25012688/24969296/353a2f1a-1fa8-11e7-9124-0df32be7637b.png">

[2017-04-12 17:03] katbow commented on #388
great! We can walk through it together if you like, then I can update the instructions as we go for anything that I missed or didn't explain well 👍

[2017-04-13 08:37] MollieCourtenay commented on #363
@indiamindwave24 please can you add your comment about hover state?

[2017-04-13 09:03] indiamindwave24 commented on #363
@katbow the current hover state on the site appears to be adding transparency, not as outlined in the styleguide.

If there is an issue with the stye guide hover state, do let me know and I will design an alternative.
<img width="319" alt="screen shot 2017-04-13 at 09 58 21" src="https://cloud.githubusercontent.com/assets/25007700/24997850/1187f592-2030-11e7-9363-b6db202ab398.png">

[2017-04-13 10:49] tonydaly opened #423 "PlugConnWrapperError happened in Healthlocker.SleepTrackerController#create"
**Message**

[code]

**Backtrace (last 10 lines)**

[code]

View on AppSignal: https://appsignal.com/healthlocker/sites/58ee002122139305bcd5267a/incidents/45

[2017-04-13 11:50] tonydaly opened #425 "PlugConnWrapperError happened in Healthlocker.ToolkitController#index"
**Message**

[code]

**Backtrace (last 10 lines)**

[code]

View on AppSignal: https://appsignal.com/healthlocker/sites/58ee002122139305bcd5267a/incidents/46

[2017-04-13 11:52] tonydaly commented on #425
@katbow I think this is because we don't have `plug :authenticate` in the [ToolkitController](https://github.com/healthlocker/healthlocker/blob/master/web/controllers/toolkit_controller.ex). We should probably make this the default.

[2017-04-13 12:31] tonydaly commented on #418
This should be fixed by #424.

[2017-04-13 12:32] tonydaly commented on #414
Fixed by #424.

[2017-04-13 12:32] #414 closed

[2017-04-13 13:18] katbow commented on #425
yeah I realised that when I saw this error. Forgot to add it in.

[2017-04-13 14:12] katbow commented on #386
@MollieCourtenay Is only the first day meant to have the date? Wasn't sure if it was meant to be on the other ones as well and was missed. Other than that this is complete 😃 .

[2017-04-13 14:31] katbow commented on #318
@MollieCourtenay the new icon is in there now 🙂

[2017-04-14 07:26] MollieCourtenay opened #429 "Toolkit, page seems to take quite long time to load icons"
+ [ ] make the page quicker to load

@tonydaly do you need @indiamindwave24 to do anything or can you edit the SVGs you have?

[2017-04-14 07:31] MollieCourtenay commented on #386
@katbow
 + [ ] 7 day average is meant to be bigger, like a heading, sorry if that wasn't explicit above.

+ [ ] please add a line space (so there is double space) between the 7 day average section and where the daily details are listed.

+ [ ] they were meant to have the dates for each of the 7 days, yes please, sorry. (big job?)

[2017-04-14 07:38] MollieCourtenay commented on #324
@katbow the graph is too big, Ive tried on a few desktop/laptops last week and end up having to zoom out in order to see the full graph. Can it be shrunk and therefore visible within the browser window without having to be shrunk down?

These are on my macbook, chrome.
<img width="1275" alt="screen shot 2017-04-14 at 08 37 20" src="https://cloud.githubusercontent.com/assets/25012688/25036788/ab680

[2017-04-14 07:44] MollieCourtenay commented on #87
@katbow if you think this is covered off when you complete #360 - let me know and we can close off both.

[2017-04-14 08:04] MollieCourtenay commented on #418
@tonydaly  I got it again today.... after entering sleep data, hitting save, internal server error, hit back in my browser, landed on toolkit, and i had the error flash saying i cant enter data more than once in a day.

[2017-04-14 08:24] MollieCourtenay opened #430 "Clinician: can add tips and stories"

[2017-04-14 08:30] MollieCourtenay opened #431 "tracking: mood tracker - button"
## Acceptance criteria

+ [ ] As a user on Toolkit, I can click on a button called 'Mood tracker'.

@indiamindwave24 can you supply an icon for sleep tracker please?

[2017-04-14 08:31] MollieCourtenay opened #432 "Tracking: weight tracker - button"
## Acceptance criteria

+ [ ] As a user on Toolkit, I can click on a button called 'Weight tracker'.

@indiamindwave24 can you supply an icon for sleep tracker please?

[2017-04-14 08:31] MollieCourtenay opened #433 "Tracking: exercise tracker - button"
## Acceptance criteria

+ [ ] As a user on Toolkit, I can click on a button called 'Exercise tracker'.

@indiamindwave24 can you supply an icon please?

[2017-04-14 08:32] MollieCourtenay opened #434 "Tracking: custom tracker - button"
## Acceptance criteria

+ [x] As a user on Toolkit, I can click on a button called 'Custom tracker'.

@indiamindwave24 can you supply an icon  please?

[2017-04-14 09:07] MollieCourtenay opened #435 "Tracking - mood - input"
As a user I can enter how I am feeling multiple times a day, so that I am able to keep a record of my thoughts & emotions that know I can look back over it in the future - or discuss with my care team (if i have one).

## Acceptance criteria

+ [ ] As a user on Mood tracker, I can input how i'm feeling any time (multiple times a day)
+ [ ] As a user, I use the slider or clicker to select a number

[2017-04-14 09:11] MollieCourtenay commented on #435
## Content

How are you feeling?

0 My worst
10 My best

Anxious
Overwhelmed
Motivated
Calm
Confused
Excited
Angry
Hopeful
Quiet
Worried
Happy
Lonely
Tired
Loud
Aggressive
Low
Energised
Sad
Confused

Next
___

**Why do you think you feel like this?**

What have you noticed about you thoughts, reactions or behaviour?
_What could be influencing how you are feeling or what you are thinking about?_

[

[2017-04-14 09:42] MollieCourtenay opened #436 "Tracker - exercise - input"
As a user I can enter the exercise I have been doing, so that I am able to keep a record to look back on to help me learn about myself - or discuss with my care team (if I have one).

## Acceptance criteria

+ [ ] As a user on Exercise tracker, I can input exercise any time (multiple times a day)
+ [ ] As a user, I type in the type of exercise I did in the top box.
+ [ ] As a user, I then select,

[2017-04-14 09:46] MollieCourtenay opened #437 "Tracker - weight - input"
As a user I can enter my weight, so that I am able to keep a record to look back on to help me learn about myself - or discuss with my care team (if I have one).

## Acceptance criteria

+ [ ] As a user on Weight tracker, I can input my weight only once per day (error as per sleep)
+ [ ] As a user, I type in my weight as EITHER kg or Stones and pounds.
+ [ ] As a user, if I enter in kg, the Stones

[2017-04-14 09:50] MollieCourtenay opened #438 "Tracker - custom - input"
As a user I can enter my weight, so that I am able to keep a record to look back on to help me learn about myself - or discuss with my care team (if I have one).

## Acceptance criteria

+ [ ] As a user on Custom tracker, I can submit ideas anytime and any number of times a day.
+ [ ] As a user, I type in my ideas or suggestions in the free text box.
+ [ ] As a user, If I have sent an idea, I am s

[2017-04-14 10:57] MollieCourtenay opened #439 "Styling and graphics: About page"
can we improve it please :)

[2017-04-14 11:00] MollieCourtenay opened #440 "Pull in appointments from epjs"
As a SLaM SU, I can see my upcoming appointments, so that I know when I need to next go to see my care team.

## Acceptance criteria
+ [ ] As a user I see a list of upcoming appointments
+ [ ] As a user I add add each appointment to the calendar native to the device I am using.

[2017-04-14 11:04] MollieCourtenay opened #441 "Tips: add intro to the 5 ways to wellbeing"
As a user on the landing page, I am given some information about each of the 5 ways to wellbeing - so that I can understand why these tips might be useful to me.

+ [x]  Add title 'Tips: 5 ways to wellbeing' (bold, centerd, dark blue, same size as welcome to HL and Stories)
+ [x]  Add copy
+ [x]  Add link to document
+ [x] Add light grey dividing line before and after each 5 ways section (but not

[2017-04-17 12:10] tonydaly commented on #418
@MollieCourtenay sorry I was a bit eager in closing this, the fix in #424 hasn't been merged yet.

[2017-04-18 10:34] #423 closed

[2017-04-18 11:16] indiamindwave24 commented on #354
![clinician_caseload_style_guide](https://cloud.githubusercontent.com/assets/25007700/25128231/e6dee4fe-2430-11e7-8bae-eaa0c64a68b7.png)

[2017-04-18 12:31] #396 closed

[2017-04-18 12:39] tonydaly commented on #413
This looks like the same issue in #425

[2017-04-18 13:15] katbow commented on #367
I'm not sure what this means. Is it an empty icon vs a coloured in icon?

[2017-04-18 13:16] katbow commented on #359
@MollieCourtenay is this a question for @indiamindwave24 before we start anything?

[2017-04-18 13:50] katbow commented on #369
@MollieCourtenay we can adjust the spacing between see more stories when completing the other issue 🙂

[2017-04-18 14:02] MollieCourtenay commented on #367
yes, e.g.
<img width="48" alt="screen shot 2017-04-18 at 15 02 32" src="https://cloud.githubusercontent.com/assets/25012688/25134658/15797d08-2448-11e7-9a3e-18e6d7313dbb.png">
<img width="55" alt="screen shot 2017-04-18 at 15 02 29" src="https://cloud.githubusercontent.com/assets/25012688/25134659/157d5aa4-2448-11e7-9dc8-e5fe8e378b75.png">

[2017-04-18 14:16] MollieCourtenay commented on #359
I'll leave with @indiamindwave24

[2017-04-18 14:31] MollieCourtenay commented on #236
<img width="584" alt="screen shot 2017-04-18 at 15 31 06" src="https://cloud.githubusercontent.com/assets/25012688/25136148/145f482c-244c-11e7-894f-5fd925c3ee9d.png">

So as we have just discussed - I cant add steps to an _old_ goal. @katbow

[2017-04-18 14:44] #161 closed

[2017-04-18 14:45] MollieCourtenay commented on #369
@katbow
As per ACs -   'Read' needs to sit above log in / sign up offer - is this also going to be covered off in another issue you refer to?

[2017-04-18 15:06] MollieCourtenay opened #442 "About page: add SLAM logo"
@indiamindwave24 please supply the logo and mock up the placement of the SLAM logo

[2017-04-18 15:17] MollieCourtenay opened #443 "Tracking overview: add a goal button"
As a user I am reminded that tracking and goals could be connected concepts, and I am invited to create or view my goals.

+ [x] Add a button, right aligned, 'View or create a new goal' and take the user to https://www.healthlocker.uk/goal if they click it.

[2017-04-18 15:20] MollieCourtenay opened #444 "error message: special cases"
'Special cases' where there are two or more errors occurring, ensure the user is shown all errors are shown at once.

https://github.com/healthlocker/healthlocker/issues/360
link to #87
e.g.

+ [ ] password fields cant be blank either.
<img width="765" alt="screen shot 2017-04-12 at 16 03 56" src="https://cloud.githubusercontent.com/assets/25012688/24964632/b48ed504-1f99-11e7-826d-278d63cf84e0.png

[2017-04-18 15:34] MollieCourtenay opened #445 "Researcher advertisement:"

[2017-04-18 17:24] katyedwards commented on #337
Added late to Sprint 9...

This isn't to do it in this sprint, but @tonydaly @katbow if one of you could have a 15 min look at this to judge viability that'd be really helpful.  We're thinking with the delay on ePJS, this could be a (hopefully easy) way to add some value and something more than they are expecting, while we're waiting for ePJS.

If you can give some idea of how easy/ time consuming

[2017-04-19 08:27] MollieCourtenay opened #447 "tips and stories: remove sign up and log in from each tip and story"

[2017-04-19 08:42] MollieCourtenay opened #448 "Menu: shrink width on desktop screen sizes"
+ [x] As a user using Healthlocker on a desktop screen - when I click the menu it does not fit the full width of the screen.

+ [x] The menu has a white outline - as the footer and the menu are soon to be the same dark blue.

[2017-04-19 08:44] MollieCourtenay opened #449 "Menu: make X white"

[2017-04-19 08:58] MollieCourtenay commented on #359
agreed with india - that this just need to be aligned right.

[2017-04-19 09:00] MollieCourtenay opened #450 "Styling of tick boxes throughout"

[2017-04-19 09:17] katbow commented on #367
One other question for @indiamindwave24, how does this look when viewing a single goal?

![image](https://cloud.githubusercontent.com/assets/1287388/25172562/59796eea-24e9-11e7-91f9-310fc44d3a5a.png)

[2017-04-19 10:14] MollieCourtenay commented on #83
UPDATE: now under 12. not under 16.

[2017-04-19 11:28] katbow commented on #363
@MollieCourtenay this should be done for all buttons that are currently on the site. We'll be able to add the default styling to any new buttons we add.

[2017-04-19 11:29] katbow commented on #360
@MollieCourtenay I saw you made the new issue for the special case #444. Is this one alright to close now?

[2017-04-19 11:31] indiamindwave24 commented on #450
[tick-29.svg.zip](https://github.com/healthlocker/healthlocker/files/933824/tick-29.svg.zip)
<img width="372" alt="screen shot 2017-04-19 at 12 30 44 pm" src="https://cloud.githubusercontent.com/assets/25007700/25178012/0c2c7f2a-24fc-11e7-972b-26e1881e4b8a.png">

[2017-04-19 11:31] katbow commented on #324
@MollieCourtenay we have the last 2 items split into separate issues now, so this is good for testing & closing for the first 3 items 👍

[2017-04-19 11:45] indiamindwave24 commented on #448
![menu_desktop](https://cloud.githubusercontent.com/assets/25007700/25178536/0d694fce-24fe-11e7-9b73-33c054dd3c97.png)

[2017-04-19 12:31] indiamindwave24 commented on #449
![menu_desktop](https://cloud.githubusercontent.com/assets/25007700/25180088/8d55f204-2504-11e7-878e-1a52cba8a74e.png)

[2017-04-19 12:35] indiamindwave24 commented on #367
![edit_goal](https://cloud.githubusercontent.com/assets/25007700/25180130/b8ff3adc-2504-11e7-897b-199d60cc8fb6.png)
![goals_overview](https://cloud.githubusercontent.com/assets/25007700/25180131/b9002460-2504-11e7-83d0-daae76937320.png)
![view_goal](https://cloud.githubusercontent.com/assets/25007700/25180132/b907f712-2504-11e7-97a9-10a689ee3910.png)

Please see changes to 'goals': Edit now houses

[2017-04-19 12:38] indiamindwave24 commented on #367
Also, here are the stars (selected and unselected) and the tick for the check boxes.
[Stars.zip](https://github.com/healthlocker/healthlocker/files/934391/Stars.zip)
[tick.svg.zip](https://github.com/healthlocker/healthlocker/files/934393/tick.svg.zip)

[2017-04-19 13:03] katbow opened #453 "Setup multi-DB for ePJS data"
A second repo will be used for mocking ePJS data.

After we have ePJS data, we can change the adapter in the database definition to MSSQL.

Using [this](https://bennycwong.github.io/post/multiple-dbs-in-phoenix/) & [this](https://edmz.org/personal/2016/03/09/multiple_databases_with_ecto_and_phoenix.html) as a reference.

[2017-04-19 13:07] katbow opened #454 "Review ePJS schema"
Need time for going over the schema to ensure that it is modelled correctly.

Main points to look for:
* How is the clinician/patient relationship defined?
* How will the SU be connected to HL - > which field will be common?
    * Already know that users will need to input DOB, first, last name, & NHS number in order to connect.
* Link Clinicians to HL users. Likely done through wherever the relat

[2017-04-19 13:09] katbow opened #455 "Create ePJS user model"
Create a replica of the user data as it is stored in ePJS

Needs to include all correct fields & data types.

[2017-04-19 13:17] MollieCourtenay commented on #283
<img width="430" alt="screen shot 2017-04-19 at 14 17 11" src="https://cloud.githubusercontent.com/assets/25012688/25181903/ede4ec5a-250a-11e7-97b5-409b316fcf31.png">

[2017-04-19 13:43] MollieCourtenay commented on #247
@katbow should this be in backlog? only one left in sprint 5 - wasn't sure what you wanted to do with it.

[2017-04-19 13:48] katbow commented on #247
@MollieCourtenay I can close this now actually, thanks for reminder.

[2017-04-19 13:48] #247 closed

[2017-04-19 14:08] MollieCourtenay commented on #340
This has to happen BY or before 16th May.

[2017-04-19 14:09] katbow commented on #454
I went through the schemas in more detail and have a few questions, mainly from above.

* In `mhlPatientAddressDetails` and `mhlPatientNextOfKinDetails` there is a `Patient_ID`. Is this a foreign key from the `mhlPatIndex` table?
* What is the patient/GP & patient/team member relationship?
    * There is also a `Patient_ID` in each of the `mhlTeamMembers` and `mhlGPDetails` table.
    * Is this al

[2017-04-19 15:32] tonydaly commented on #278
A few questions:

- What's the purpose of the "I am a family, friend or carer of a South London and Maudsley service user" checkbox? Won't the fact that they have a connection to SU give us this same information? Why not just have the link "Connect with a service user’s SLaM care team (?)" permanently there. Seems like it adds a lot of technical complexity and additional steps for the user.
- The

[2017-04-19 16:00] MollieCourtenay commented on #278
@tonydaly

1.   How will we know that someone is connected to a SU?
 "Won't the fact that they have a connection to SU give us this same information?"
I see the purpose of the checkbox being the thing that defines which connecting form the user can access. (connect to my care team OR connect with the team of the person that I care for.) Happy if you can suggest a simpler way?

2 / 3 .  there is no

[2017-04-19 16:03] #324 closed

[2017-04-19 16:05] MollieCourtenay commented on #363
@indiamindwave24 can you please test this and close if you're happy?

[2017-04-19 16:05] #360 closed

[2017-04-19 16:08] tonydaly commented on #278
Are "connecting to _my_ care team" and "connecting with the team of the person that I care for" mutually exclusive? Could we have both links?

[2017-04-19 16:09] tonydaly commented on #278
That makes more sense _without_ the approval process.

[2017-04-19 16:11] tonydaly commented on #278
Can you be the carer for more than one SU?

[2017-04-19 16:16] MollieCourtenay commented on #278
So we could have these two options available to all HL users, unless they have already connected to a team?

Connect with my SLaM care team and health record (?)
Connect with the SLaM care team of the person I care for (?)

I've asked around and being a carer for more than one person is rare - but does happen.
I would be happy for MVP to run with allowing just one connection either as a SU or Care

[2017-04-19 16:17] MollieCourtenay commented on #370
+ [ ] links on log in page don't look like links.
<img width="697" alt="screen shot 2017-04-19 at 16 41 11" src="https://cloud.githubusercontent.com/assets/25012688/25188760/100343e0-251f-11e7-9183-1e47f80f0f5c.png">

+ [ ] Not consistent colours (light blue vs dark blue). E.g. on landing page:  all links are dark blue on my Chrome, but mixed colours on India's chrome. Mixed on my phone on safari.

[2017-04-19 16:21] tonydaly commented on #278
@MollieCourtenay exactly.

Ok let's go with just one for the moment.

[2017-04-19 16:23] #369 closed

[2017-04-19 16:32] katbow commented on #370
@MollieCourtenay for that last one, is that not just for non-visited vs visited links? For me it's only links I've visited in the past that are coloured dark blue, links which I've never been to are light blue.

[2017-04-19 16:58] indiamindwave24 commented on #447
![home](https://cloud.githubusercontent.com/assets/25007700/25191964/49b1d12e-2529-11e7-80d0-700c7f0800a9.png)

- [ ] I will send SVG files for each tip category (5 ways to wellbeing) - the content for these sections can be found on this googledoc https://docs.google.com/document/d/1wHQVJp6p3W2_6debDxn8BtbbHwVPQI717csrodYgSnM/edit

- [ ] Each tip category will have an icon and a small icon on each

[2017-04-19 17:01] indiamindwave24 commented on #441
#447

[2017-04-19 17:01] indiamindwave24 commented on #441
![tips_filtered_by_hashtag](https://cloud.githubusercontent.com/assets/25007700/25192199/32cd2318-252a-11e7-86ed-4f595f003cdb.png)

[2017-04-20 08:39] MollieCourtenay commented on #370
@indiamindwave24 seeing it like this - I would prefer to have links always light blue, no matter if I have visited or not..

[2017-04-20 10:02] katbow opened #458 "Generate ePJS user data"
Need to add to seeds.ex data for ePJS data, then use to complete connection of ePJS user to HL user.

Similar layout to HL users: ~200 randomly generated users and minimum 2 known users.

[2017-04-20 10:04] katbow opened #459 "Link ePJS user to HL user"
See #221.

Need to run through the same flow but with the correct data/table layouts. Use seed data from #458

[2017-04-20 10:18] Cleop commented on #374
I'm going to close this issue for now as we have currently set up the maximum number of funnels possible (5) without paying for mixpanel. We can open a new issue should this change and we have new opportunities.

[2017-04-20 10:18] #374 closed

[2017-04-20 10:24] Cleop commented on #348
@MollieCourtenay Would you like this to be capitalised to 'Terms of Service'? to match 'Privacy Statement' which has both words capitalised?

[2017-04-20 10:52] Cleop commented on #421
@MollieCourtenay @indiamindwave24 which style of button would you like for this?

![image](https://cloud.githubusercontent.com/assets/16775804/25227231/cae7a2be-25bf-11e7-9374-dc8996d9aa04.png)

[2017-04-20 10:53] Cleop commented on #420
I'm imagining that whatever the answer for #421 is then this will be the same but....

@MollieCourtenay @indiamindwave24 which style of button would you like for this?

![image](https://cloud.githubusercontent.com/assets/16775804/25227231/cae7a2be-25bf-11e7-9374-dc8996d9aa04.png)

[2017-04-20 11:31] MollieCourtenay commented on #443
@indiamindwave24 can you get back to @Cleop ?

[2017-04-20 12:15] indiamindwave24 commented on #443
I would say primary button judging by the rest of the page (next and previous buttons) - have not mocked up visual for this page but can do if necessary/useful @Cleop

[2017-04-20 12:23] Cleop commented on #443
Thanks @indiamindwave24 for feedback on the style.

Re: a mock-up, I think it depends on if you can describe the position of where you want it easily enough? Is this to go at the top of the page, the bottom? Inline with another button or title etc...

Otherwise a mock-up may be easier, whichever you prefer.

[2017-04-20 14:17] Cleop commented on #308
Does this one need assigning to @indiamindwave24, @MollieCourtenay? Who will be determining the approach for this?

[2017-04-20 14:21] indiamindwave24 commented on #421
secondary @Cleop

[2017-04-20 14:21] indiamindwave24 commented on #420
secondary @Cleop

[2017-04-20 14:27] tonydaly commented on #308
Generally, tooltips don't work as well on mobile as you can't hover and their small size can make them difficult to touch. For something important like this, a link that opens in a new page should be suitable?

[2017-04-20 14:39] indiamindwave24 commented on #378
<img width="134" alt="screen shot 2017-04-20 at 15 38 50" src="https://cloud.githubusercontent.com/assets/25007700/25236316/7a20b0ee-25df-11e7-8748-d195c3d74e33.png">

[2017-04-20 14:46] katbow commented on #454
All reviewed now 👍 .

For the questions above: `Patient_ID` is the foreign key. in each of the tables.
`mhlTeamMembers` is a join table where the `Patient_ID` refers to the patient and `Staff_ID` refers to the GP.

[2017-04-20 14:46] #454 closed

[2017-04-20 14:54] katbow commented on #447
@indiamindwave24 I am going to split that info into a separate issue (possibly more) because the original issue here is complete. Have a couple questions on it which I will post in the other issue.

[2017-04-20 14:57] katbow opened #465 "Home page redesign"
![home](https://cloud.githubusercontent.com/assets/25007700/25191964/49b1d12e-2529-11e7-80d0-700c7f0800a9.png)

- [x] I will send SVG files for each tip category (5 ways to wellbeing) - the content for these sections can be found on this googledoc https://docs.google.com/document/d/1wHQVJp6p3W2_6debDxn8BtbbHwVPQI717csrodYgSnM/edit

- [x] Each tip category will have an icon and a small icon on each

[2017-04-20 15:18] katbow commented on #465
@indiamindwave24

* confirming this is the homepage view?
* Under the description of the tip category, is that an example of a tip from that category?
* Are the 5 ways to wellbeing also on the general tips page or just here? I saw in #441 that in each section (connect, BeActive, etc) that it had the info for that particular category only, but wasn't sure how this looked on that page with all tips

[2017-04-20 15:19] MollieCourtenay commented on #308
@Cleop @tonydaly

Yes idea is the content would still open in a new page. @indiamindwave24 is just going to design a simple icon to replace the '?' we have now.

[2017-04-20 15:32] katbow commented on #449
Note the resizing it being done in a separate issue

[2017-04-20 16:47] katbow commented on #370
all fixed with the links all as light blue now

[2017-04-20 17:00] iteles commented on #465
This looks to me to involve new functionality and some sizeable changes.

@Cleop Let's split this out and time estimate it please!

[2017-04-20 17:20] indiamindwave24 commented on #465
@katbow

- Yes this is homepage view
- Example tips are in the Googledoc linked previously
- The 5 ways to wellbeing are the hashtag categories - the icon in the corner of the tips will highlight which category each tip belongs when viewed on the general tips page. If all tips are listed there will be no description at the top (general tips view) - @MollieCourtenay can you confirm?
- Sign up and l

[2017-04-20 18:37] #363 closed

[2017-04-21 07:12] Cleop commented on #308
@MollieCourtenay @indiamindwave24 do you have an ETA of when we're likely to get this icon?

[2017-04-21 07:12] Cleop commented on #442
@MollieCourtenay @indiamindwave24 do you have an ETA of when we're likely to get this?

[2017-04-21 07:30] Cleop commented on #441
@indiamindwave24 - is the header now different and won't include the 'healthlocker' logo? but the title of the page instead?

This will be more difficult to implement because it would mean changing the master template for the header/footer which is applied to every page? Would it just be like this on the tips page or every page?

[2017-04-21 07:33] Cleop commented on #441
Also @indiamindwave24 - is the interconnected circles the correct logo for 'Connect', that's what you've got on the homepage design but here it seems to be a set of scales?

[2017-04-21 07:41] Cleop commented on #441
@indiamindwave24 @MollieCourtenay Should the general 'Tips' page include all 5 intros to tip types in the same way that the landing page does?

[2017-04-21 08:51] MollieCourtenay commented on #441
@Cleop regarding the Title in the header instead of logo. This has aways been on the wireframes and has been discussed at a couple of demos but just hasn't happened yet.
We see this as a really useful navigation tool too, if it was clickable.
I think we need to make a separate issue for this.

All icons in those designs above are placeholder at the moment.

Only the intro paragraphs to be on landi

[2017-04-21 08:52] MollieCourtenay commented on #441
@Cleop I realise this issue is overloaded and needs rewriting. i need to pop out for a bit can i do it when i get back.

[2017-04-21 09:02] #348 closed

[2017-04-21 09:03] #371 closed

[2017-04-21 09:20] #370 closed

[2017-04-21 09:21] #449 closed

[2017-04-21 09:22] MollieCourtenay commented on #376
@katbow out of interest what is the pattern?

[2017-04-21 10:08] katbow commented on #453
All set up now 🙌

[2017-04-21 10:08] #453 closed

[2017-04-21 10:08] katbow commented on #455
epjs info included in epjs_users table with all fields

[2017-04-21 10:08] #455 closed

[2017-04-21 10:09] katbow commented on #458
seed data in `priv/read_only_repo/seeds.exs` generates 200 epjs users & 3 known epjs users

[2017-04-21 10:09] #458 closed

[2017-04-21 10:15] katbow commented on #376
it's random 🌀 🙂

[2017-04-21 10:30] Cleop commented on #465
To summarise, based on the design above these are the total changes for the homepage redesign:

HOME
- Move login link to navbar and change it to a button
- Move sign up link and change it to a button
- Change size, spacing and color of 'Welcome to Healthlocker' text

- Add title, copy and link for 'Tips: 5 ways to wellbeing'
- Add category introductions and images x 5
- Add example tip x 5
- Crea

[2017-04-21 10:42] #447 closed

[2017-04-21 10:48] MollieCourtenay opened #466 "Header: replace Healthlocker logo with the Menu item area title (not homepage)"
Examples:

<img width="533" alt="screen shot 2017-04-21 at 11 47 34" src="https://cloud.githubusercontent.com/assets/25012688/25274545/656e6106-2688-11e7-80af-b2d315585729.png">
<img width="534" alt="screen shot 2017-04-21 at 11 46 06" src="https://cloud.githubusercontent.com/assets/25012688/25274546/65718c3c-2688-11e7-8f3e-525ef6a9cb36.png">

[2017-04-21 10:54] #425 closed

[2017-04-21 10:54] #413 closed

[2017-04-21 10:58] MollieCourtenay commented on #465
@Cleop  Thanks for doing this. Sorry for not pulling this together properly.

Change 'see more stories' link to a button is here #420

Make hashtag of tips aqua not black, with underline like a link - should be done now as all links will be aqua coloured. #370

Ive made a new issue for the header #466

[2017-04-21 11:05] tonydaly commented on #278
@MollieCourtenay after a carer has connected with an SU, where either of them see this relationship?

[2017-04-21 11:08] MollieCourtenay commented on #278
@tonydaly

#275   #276    #277

[2017-04-21 11:10] MollieCourtenay commented on #386
@katbow thanks!

+ [ ] please add a divider between 7 day average and the first date with detail, (the extra spacing doesn't seem to have made enough difference.)

[2017-04-21 11:15] tonydaly commented on #277
@MollieCourtenay so if a Carer signs up and then successfully connects with a SU would they appear here as part of "SLaM care team"? I thought this was coming from ePJS?

[2017-04-21 11:29] Cleop commented on #465
Thanks @MollieCourtenay for taking a look and for these extra issues.

I've updated the comment so it now covers the ones that have existing issues, so we can see the picture fully.

From testing the live site I think that the words following the hashtags are now aqua and underlined but based on how they're generated the hashtags have not been affected by this styling change and so this still rema

[2017-04-21 11:35] Cleop commented on #441
These are the only points specifically for the tips pages which I haven't already included in #465:

TIPS- CATEGORIES
- Add 'Explore more tips:' link at the bottom of each category of tip page.
- Add 'Create a goal for yourself' copy at the bottom of each tip page.
- Add category introduction and image to each category page

[2017-04-21 12:22] MollieCourtenay commented on #277
@tonydaly sorry I previously misread your comment in #278 as that issue is about a carer connecting to a care team - that is what I thought you were asking about.

We are not connecting SU's and Carer's HL accounts at the moment, in the interest of getting where we NEED to be this is where we are starting:

a carer can connect with a slam care team.

a SU can connect with a slam care team.

[2017-04-21 12:24] MollieCourtenay commented on #465
@Cleop ah so you mean literally the '#' is still dark blue - i'm happy to leave that as it is for now.

[2017-04-21 12:29] MollieCourtenay opened #468 "Move login link to navbar and change it to a button"
+ [x] Remove login link from welcome message
+ [x] Add log in button to navbar

<img width="547" alt="screen shot 2017-04-21 at 13 27 51" src="https://cloud.githubusercontent.com/assets/25012688/25277553/1c02095a-2697-11e7-8289-8fa15bd0cf18.png">

[2017-04-21 12:31] MollieCourtenay opened #469 "Log out button in nav bag when logged in"
+ [x] Ensure when using a desktop screen size, the Log in button says and works as a 'Log out' button in nav bar when a user is logged in

<img width="547" alt="screen shot 2017-04-21 at 13 27 51" src="https://cloud.githubusercontent.com/assets/25012688/25277532/04e21f30-2697-11e7-93c7-306123b7a833.png">

#468

[2017-04-21 12:35] MollieCourtenay opened #470 "Log in / Log out button does not appear on mobile devices"
+ [x] Log in / Log out button does not appear on mobile devices

#468 #469

[2017-04-21 12:42] MollieCourtenay opened #471 "Change 'Welcome to Healthlocker' text"
+ [x] Welcome to Healthlocker - keep bold please
+ [x] Welcome to Healthlocker - make bigger, the same size as titles for Stories and Tips:5 ways will be
+ [x] Welcome to Healthlocker - aqua blue

![home](https://cloud.githubusercontent.com/assets/25007700/25191964/49b1d12e-2529-11e7-80d0-700c7f0800a9.png)

[2017-04-21 12:43] MollieCourtenay opened #472 "Right align sign up link and change to a button"
+ [x] Right align sign up link
+ [x] Make Sign up a primary button

![home](https://cloud.githubusercontent.com/assets/25007700/25191964/49b1d12e-2529-11e7-80d0-700c7f0800a9.png)

[2017-04-21 12:54] MollieCourtenay opened #473 "Example tip under each 5 ways to wellbeing intro paragraph"
+ [x] As a user, I can see an example tip underneath each of the 5 ways to wellbeing introduction paragraphs.

use the tips in the google doc please: https://docs.google.com/document/d/1wHQVJp6p3W2_6debDxn8BtbbHwVPQI717csrodYgSnM/edit

EXTENSION + [ ] the example tips should be random, so that the user doesn't see the same examples each time they access this page.
(be good to have an estimate on t

[2017-04-21 13:05] MollieCourtenay opened #474 "Tips: Add category logo to top right corner of every tip whenever displayed"
As a user, I can visually differentiate between the tips by noticing the different coloured logos.

+ [ ] Add category logo to top right corner of every tip whenever displayed

<img width="591" alt="screen shot 2017-04-21 at 14 27 28" src="https://cloud.githubusercontent.com/assets/25012688/25279679/26e9ba0e-269f-11e7-913b-350f61172bfe.png">

Note from epic (need to be partials so can be reused fo

[2017-04-21 13:18] MollieCourtenay opened #475 "Stories: Centre the story images"
+ [x] centre the image for each story

[2017-04-21 13:20] MollieCourtenay opened #476 "Homepage: add 2 dark blue dividers"
As a user I see the page is broken up by dividers to help me understand when one section starts and ends.

+ [x] as a user I can see a dark blue divider at the end of Welcome to Healthlocker and before Tips:5 ways to wellbeing
+ [x] as a user I can see a dark blue divider after Tips:5 ways to wellbeing and before Stories

[2017-04-21 13:22] MollieCourtenay opened #477 "Home page: centre and resize Stories title"
- [x] Centre 'Stories' title
- [x] Make Stories title bigger and the same size as Welcome to Healthlocker and Tips: 5 ways to wellbeing titles will be.

<img width="213" alt="screen shot 2017-04-21 at 14 22 22" src="https://cloud.githubusercontent.com/assets/25012688/25279323/f4c3fffe-269d-11e7-86aa-d6cd5ac03de5.png">

[2017-04-21 13:24] MollieCourtenay opened #478 "Stories: Resize individual story titles"
- [ ] Resize individual story title

@indiamindwave24  Was your intention for the stories titles and the tips statements to be of the same size and weight?

<img width="213" alt="screen shot 2017-04-21 at 14 22 22" src="https://cloud.githubusercontent.com/assets/25012688/25279392/33f0a376-269e-11e7-810f-062dd15cd158.png">

[2017-04-21 13:25] MollieCourtenay opened #479 "Stories: Size restrict 'stories' images and shape as a circle"
- [x] Size restrict 'stories' images and shape as a circle - (4hrs)
(Need to create function to add class to html generated from db)

<img width="213" alt="screen shot 2017-04-21 at 14 22 22" src="https://cloud.githubusercontent.com/assets/25012688/25279436/618bb410-269e-11e7-9641-a246bbbffb5e.png">

[2017-04-21 13:26] MollieCourtenay opened #480 "Home page: Remove old tips section at the bottom"
- [x] Remove old tips section at the bottom

#465

[2017-04-21 13:27] MollieCourtenay opened #481 "Reduce top padding of each tip"
+ [x] Reduce top padding of each tip

<img width="591" alt="screen shot 2017-04-21 at 14 27 28" src="https://cloud.githubusercontent.com/assets/25012688/25279543/abf1b798-269e-11e7-8b79-6434fbe51b35.png">

@indiamindwave24 please add any specifics?

[2017-04-21 13:47] MollieCourtenay opened #482 "Tip page: add category links at the bottom and button to goals"
As a user at the bottom of the Tips page https://www.healthlocker.uk/tips?tag=Tip, I am given more options, so that I stay engaged.

+ [x]  Add 'Explore more tips:' and links to 5 #categories

+  [x] add a good amount of space between the two offers

+ [x] Add a link [Create a goal](https://www.healthlocker.uk/goal/new) for yourself based on one of the 5 ways to wellbeing. (if the user is not logg

[2017-04-21 13:59] MollieCourtenay opened #483 "Tips: category pages"
As a user who has clicked on a #category link, I am taken to a new page, that introduces the category, and lists all the tips for that category underneath.

+ [x]  Add a link Create a goal for yourself based on one of the 5 ways to wellbeing. (if the user is not logged in, take them to log in page) (T1h)

+ [x] the same category title, intro paragraph and icon from the homepage are displayed at th

[2017-04-21 14:27] indiamindwave24 commented on #481
**24px** top and bottom padding

[2017-04-21 14:33] indiamindwave24 commented on #478
Main title: ie. 'stories' - **20px centered**
Title: ie. 'tip title'; 'story title' - **16px bold left aligned**
Body text: **16px regular left aligned**

Same for both tips and stories

[2017-04-21 14:36] MollieCourtenay opened #484 "New goals icon"
Icon TBC

[2017-04-21 14:36] MollieCourtenay opened #485 "New coping strategy icon"
icon TBC

[2017-04-21 14:43] tonydaly commented on #429
@MollieCourtenay we'll be converting them to a PNG, so I'll need to know is what size they should be?

[2017-04-21 14:44] MollieCourtenay commented on #429
@indiamindwave24 ?

[2017-04-21 14:49] Cleop commented on #450
This issue is more complex than first anticipated. Whilst the basic styling of the checkbox has been possible within the couple of hours spent so far on the issue, it's implementation across the site is going to take longer.

The remaining points to complete are:
- Creating dynamically generated label id's for instances with multiple checkboxes e.g. the edit goal's page
- Perfecting the styling -

[2017-04-21 14:53] MollieCourtenay opened #486 "Stories: display the first 50 words"
+ [x] As a user, I can see the story title and first paragraph, then the Read this story link.

[2017-04-21 14:55] MollieCourtenay commented on #359
@Cleop can you do the same for the add new coping strategies button? Sorry i thought I had added this!

+ [ ] right align add new coping strategy button

[2017-04-21 14:56] MollieCourtenay opened #488 "Styling of: Add new coping strategy page"
+ [x] mimic the styling of the add new goals page.
![edit_goal](https://cloud.githubusercontent.com/assets/25007700/25180130/b8ff3adc-2504-11e7-897b-199d60cc8fb6.png)

[2017-04-21 14:58] MollieCourtenay opened #489 "Styling of: view coping strategy page"
+ [x] mimic styling of new view goal page

![view_goal](https://cloud.githubusercontent.com/assets/25007700/25180132/b907f712-2504-11e7-97a9-10a689ee3910.png)

[2017-04-21 15:00] MollieCourtenay opened #490 "Goals: view goal styling"
+ [x] style as per visual below
+ [x] remove button to delete ( user can only delete from within edit goal)
+ [x]  'created on' now sits below the goal card
+ [x] if a goal is not marked as important - dont show option to makr as important in view goal ( user can only mark as important from within edit goal)

+ [x] best to keep Back to toolkit link until #466 is complete.

![view_goal](https://clo

[2017-04-21 15:05] Cleop commented on #481
@MollieCourtenay do you want me to remove the 'like'? This is what I'm doing at the moment without it:

![image](https://cloud.githubusercontent.com/assets/16775804/25283625/4d908856-26ac-11e7-9200-884f1864e676.png)

[2017-04-21 15:07] MollieCourtenay opened #491 "Goals: edit goal styling"
+ [x] style as per rep
+ [x] When editing a goal that is **not** marked important, I see an empty state (outlined) icon and 'Mark as important' statement.
+ [x] When editing a goal that is marked important, I see a positive state icon (colour filled)  and 'Unmark as important' statement.
![edit_goal](https://cloud.githubusercontent.com/assets/25007700/25180130/b8ff3adc-2504-11e7-897b-199d60cc8fb6.

[2017-04-21 15:08] MollieCourtenay opened #492 "goals: view list styling"
+ [x] please style as per rep

![goals_overview](https://cloud.githubusercontent.com/assets/25007700/25180131/b9002460-2504-11e7-83d0-daae76937320.png)

[2017-04-21 15:10] MollieCourtenay commented on #481
@Cleop
The like will be replaced by the bookmark  #41  - but perhaps till we get round to that we can remove it - so it looks good.

[2017-04-24 11:21] Cleop commented on #441
Awaiting images from @indiamindwave24

[2017-04-24 11:25] indiamindwave24 commented on #441
Here is the screen updated with correct icons:
![home_01](https://cloud.githubusercontent.com/assets/25007700/25335029/0219e0f4-28e9-11e7-9c4a-bd3814a60b72.png)

And this is the spacing information:
<img width="517" alt="screen shot 2017-04-24 at 12 23 50" src="https://cloud.githubusercontent.com/assets/25007700/25335043/11d2432e-28e9-11e7-8ccd-e622e2a3a594.png">

Icons:

[2017-04-24 11:31] Cleop commented on #441
Thanks for the update @indiamindwave24, I think the icons may have failed to download properly at the end of your message there?

[2017-04-24 11:32] indiamindwave24 commented on #441
@Cleop have updated

[2017-04-24 11:36] indiamindwave24 commented on #441
@Cleop I have not given specific dimensions for the SVG files. As long as they all use the same vertical spacing and are top and left aligned with the text. No less than 20px padding on the right margin of the icon
<img width="776" alt="screen shot 2017-04-24 at 12 35 15" src="https://cloud.githubusercontent.com/assets/25007700/25335351/8d6fce74-28ea-11e7-94f3-6ea3ffecf399.png">
Hope this screensh

[2017-04-24 11:39] indiamindwave24 commented on #474
All icons ending 'mini'
[5 ways to wellbeing icons.zip](https://github.com/healthlocker/healthlocker/files/951558/5.ways.to.wellbeing.icons.zip)

Should be centrally aligned vertically and horizontally to the corner of the 'tip box'
<img width="453" alt="screen shot 2017-04-24 at 12 39 37" src="https://cloud.githubusercontent.com/assets/25007700/25335478/1e4f1d14-28eb-11e7-8c0f-e14acd984d58.png">

[2017-04-24 11:40] indiamindwave24 commented on #481
<img width="517" alt="screen shot 2017-04-24 at 12 23 50" src="https://cloud.githubusercontent.com/assets/25007700/25335510/400e9e48-28eb-11e7-86db-87540c7a327f.png">

[2017-04-24 11:44] katbow opened #494 "Create clinician model & generate data"
- [x] Create the clinician model to mimic the ePJS schema.

- [x] Generate data for minimum 50 clinicians each with 20 patients.

[2017-04-24 12:56] indiamindwave24 commented on #450
Is there a way to use the original (blue and white) tickbox and just use the colours from our designed one? Does this make things easier? @Cleop

[2017-04-24 12:58] indiamindwave24 commented on #429
@tonydaly @Cleop (not sure if Tony is working on this today) Apologies, I had not seen this notification.

I have provided all in svg format so that they can be made responsive? Is PNG the best way to provide - will this affect the responsiveness?

[2017-04-24 13:38] indiamindwave24 commented on #442
@Cleop

I seem to have misplaced the illustrator file with the illustrations in SVG format. I will upload when I find
![about_01](https://cloud.githubusercontent.com/assets/25007700/25339786/b86a6556-28fb-11e7-8481-30c08fd40ebc.png)
 them.
[About_page.zip](https://github.com/healthlocker/healthlocker/files/951851/About_page.zip)

[2017-04-24 13:43] indiamindwave24 commented on #308
@Cleop
[tooltip-20.svg.zip](https://github.com/healthlocker/healthlocker/files/951885/tooltip-20.svg.zip)

[2017-04-24 13:55] indiamindwave24 commented on #432
[Weight_tracker.svg.zip](https://github.com/healthlocker/healthlocker/files/951939/Weight_tracker.svg.zip)

[2017-04-24 14:03] indiamindwave24 commented on #433
[Exercise_tracker.svg.zip](https://github.com/healthlocker/healthlocker/files/951967/Exercise_tracker.svg.zip)

[2017-04-24 14:36] indiamindwave24 commented on #318
[Sleep_tracker.svg.zip](https://github.com/healthlocker/healthlocker/files/952099/Sleep_tracker.svg.zip) @katbow can this be updated, please?

[2017-04-24 14:48] indiamindwave24 commented on #323
Can this be updated? @katbow
[Tracking_overview.svg.zip](https://github.com/healthlocker/healthlocker/files/952136/Tracking_overview.svg.zip)

[2017-04-24 14:58] katbow commented on #323
@indiamindwave24 what is the priority for this in relation to [Sprint 9](https://github.com/healthlocker/healthlocker/milestone/10)?

[2017-04-24 14:59] katbow commented on #318
@indiamindwave24 Same question as in #323 - what is the priority for this in relation to [Sprint 9](https://github.com/healthlocker/healthlocker/milestone/10)?

[2017-04-24 15:12] Cleop commented on #359
@MollieCourtenay I'm going to open that as a separate issue and put please test on this one.

[2017-04-24 15:14] Cleop opened #496 "Coping Strategy: Move 'Add New' button right"
- Retain its height.
- Align it right, aligned to the end of the grey line.

[2017-04-24 15:31] katbow opened #499 "Refactor AccountController"
https://github.com/healthlocker/healthlocker/pull/487#discussion_r112972586

`check_slam` action in `AccountController` could be the `create` action in a `SlamController` and the `slam` action about could be the `show`

https://github.com/healthlocker/healthlocker/pull/487#discussion_r112972019

Move helper functions such as `datetime_birthday` to own separate file

[2017-04-24 15:44] indiamindwave24 commented on #211
[Goal_Achieved-21.svg.zip](https://github.com/healthlocker/healthlocker/files/952299/Goal_Achieved-21.svg.zip)

[2017-04-24 15:59] Cleop commented on #450
@indiamindwave24 unfortunately any styling on checkboxes involves the same level of difficulty due to the inflexible settings of the default checkbox provided by browsers. Good question though!

[2017-04-24 16:03] #494 closed

[2017-04-24 17:22] indiamindwave24 commented on #41
[Bookmarks.zip](https://github.com/healthlocker/healthlocker/files/952568/Bookmarks.zip)

[2017-04-24 20:20] indiamindwave24 commented on #442
I have recreated the illustrations as SVGs. Please use these :)

[About_illustrations.zip](https://github.com/healthlocker/healthlocker/files/953040/About_illustrations.zip)

[2017-04-24 20:41] indiamindwave24 commented on #443
<img width="871" alt="screen shot 2017-04-21 at 09 31 31" src="https://cloud.githubusercontent.com/assets/25007700/25357714/c3da7878-2936-11e7-90cb-22fe77ac6a1a.png">

Button at bottom

[2017-04-25 09:33] Cleop commented on #474
- Got icon correctly positioned/ styled for hard coded example tips
- Now need to get url category type and select appropriate image according to this.
- <%= IO.puts(@conn.query_string) %> logs the query string e.g. tag=Connect

[2017-04-25 09:52] #339 closed

[2017-04-25 11:49] katbow commented on #385
@katyedwards what should we have in the details & contacts section? That part looks like it may be the best bit to start with. I am guessing it's some info around email, phone number, etc?

[2017-04-25 11:54] katyedwards commented on #385
@katbow In Healthlocker the only info they will have provided will be Name, DOB, NHS No. and email address (optionally tel no.).

@nelsonic is any additional personal data being pulled through from ePJS?  If so what items?

If it isn't too much info, it's probably easiest to display it all as this'll save clinicians from needing to go back and forth from ePJS to HL too much

[2017-04-25 12:05] indiamindwave24 commented on #481
Looks great!

[2017-04-25 12:27] indiamindwave24 commented on #429
@tonydaly What sizes should I provide if PNG is necessary to speed up loading time?

[2017-04-25 12:29] indiamindwave24 opened #503 "Homepage, page seems to take quite long time to load icons"
- [ ] Make icons load faster

What sizes of PNGs are needed to make the site load faster?

[2017-04-25 12:32] tonydaly commented on #429
@indiamindwave24 we can start with whatever the largest version we need. If we need different versions for different resolutions we can generate those later. The PNG will be significantly smaller in file size even if it's slightly bigger (pixels) than we need everywhere.

[2017-04-25 12:32] indiamindwave24 commented on #474
<img width="837" alt="screen shot 2017-04-25 at 1 31 13 pm" src="https://cloud.githubusercontent.com/assets/25007700/25385312/907f9a78-29bb-11e7-9669-a6a4e2c64b01.png">
@Cleop The 'Give to Others' icon is not appearing

[2017-04-25 12:34] katbow commented on #459
complete with seed data

[2017-04-25 12:34] #459 closed

[2017-04-25 12:35] nelsonic commented on #503
@indiamindwave24 thanks for opening this issue. We _agree_ that load times should be _minimised_ and images are a good place to save time.
Would be useful to benchmark the time with a specific set of parameters to ensure we can _measure_ the improvement. 👍

[2017-04-25 12:43] #496 closed

[2017-04-25 12:47] indiamindwave24 commented on #477
@Cleop yes, great.

However, I cannot find the issue where I wrote this, but the stories title text should be the same size as the tip titles. (Styled as in above image)

[2017-04-25 12:49] indiamindwave24 commented on #476
Great 👍

[2017-04-25 12:49] #476 closed

[2017-04-25 12:50] katbow commented on #386
@indiamindwave24 how should this divider look?

[2017-04-25 12:51] indiamindwave24 commented on #473
great 👍

[2017-04-25 12:51] #473 closed

[2017-04-25 12:53] katbow commented on #474
@Cleop @indiamindwave24 I'll check this out

[2017-04-25 12:54] indiamindwave24 commented on #472
The padding below the sign up button should be the same size as the padding between the dark blue divider and the title below: 24px -- is it at the moment?

[2017-04-25 12:55] katbow commented on #474
![image](https://cloud.githubusercontent.com/assets/1287388/25386265/b13d109e-29be-11e7-954c-458a36929007.png)

I have it showing. what browser & version were you using please @indiamindwave24 ?

[2017-04-25 12:55] indiamindwave24 commented on #471
👍

[2017-04-25 12:55] #471 closed

[2017-04-25 12:59] indiamindwave24 commented on #470
👍

[2017-04-25 12:59] #470 closed

[2017-04-25 13:00] indiamindwave24 commented on #468
@Cleop Kerning is different on this button to the rest of the site.
<img width="144" alt="screen shot 2017-04-25 at 1 41 31 pm" src="https://cloud.githubusercontent.com/assets/25007700/25386496/79b687c6-29bf-11e7-9eb2-0422a96604a4.png">

[2017-04-25 13:00] indiamindwave24 commented on #469
@Cleop Kerning is different on this button to the rest of the site.
<img width="144" alt="screen shot 2017-04-25 at 1 41 31 pm" src="https://cloud.githubusercontent.com/assets/25007700/25386496/79b687c6-29bf-11e7-9eb2-0422a96604a4.png">

[2017-04-25 13:01] indiamindwave24 commented on #448
looks lovely :)

[2017-04-25 13:01] #448 closed

[2017-04-25 13:07] katbow commented on #474
@indiamindwave24 nevermind sorry, I see that the problem is. Problem on the live site but not when I run things locally.

[2017-04-25 13:08] indiamindwave24 commented on #441
@Cleop On Mobile, icons are not aligned to the top of text.

Padding is not consistent on mobile.

Perhaps we can stack the icons above the '5 ways of wellbeing' descriptions? - makes everything less squished and, if centered, avoids the alignment issues.
![iphone_home](https://cloud.githubusercontent.com/assets/25007700/25386864/b033691c-29c0-11e7-88f1-eb0a6f700bb7.png)

[2017-04-25 13:12] indiamindwave24 commented on #421
This has been removed now, correct? @Cleop

[2017-04-25 13:14] indiamindwave24 commented on #420
increase spacing between like button & Read this story (as above) @Cleop

[2017-04-25 13:15] indiamindwave24 commented on #359
👍

[2017-04-25 13:15] #359 closed

[2017-04-25 13:27] indiamindwave24 opened #505 "When I login on mobile, it takes me straight to 'Toolkit', not 'Home'"
![img_3608](https://cloud.githubusercontent.com/assets/25007700/25387564/317a54fc-29c3-11e7-9e61-88c8fd74d0d0.PNG)

[2017-04-25 13:32] indiamindwave24 opened #506 "Story styling on homepage"
Stories should be styled as in this image:
<img width="365" alt="screen shot 2017-04-26 at 11 07 52" src="https://cloud.githubusercontent.com/assets/25007700/25429360/a15f650c-2a70-11e7-983a-dbf93242d955.png">

- [x] Title: Centred, 20px
- [x] Bookmark icon left aligned and bottom aligned to image in circle
- [x] Image in circle, centred
- [x] Story title: 16px Bold
- [x] Body text: 16px regular
-

[2017-04-25 13:38] Cleop commented on #421
Yes it has. If you could close the issue for that reason instead @indiamindwave24, thanks!

[2017-04-25 13:39] Cleop commented on #477
Would you be able to close this one and find/ open a new issue where appropriate for the individual story styling @indiamindwave24? Thanks

[2017-04-25 13:42] indiamindwave24 commented on #483
@Cleop
- [ ] Hashtags on these pages should be all blue
- [ ] The category icon should appear on the top left of tip box, as in the homepage
- [ ] Tip box should be the same as on homepage tip boxes

[2017-04-25 14:15] iteles commented on #354
For 28th:
+ [ ] Change kerning on Caseload word
+ [ ] Add pink arrow

[2017-04-25 15:21] katyedwards commented on #386
@indiamindwave24 wasn't sure if you had seen this one as it had a question tag rather than a please test!

[2017-04-25 15:24] indiamindwave24 commented on #356
Here are the original designs for Clinician — lots has changed but this can be used as reference for styling etc.
[clinician_original_designs.zip](https://github.com/healthlocker/healthlocker/files/955559/clinician_original_designs.zip)

[2017-04-25 15:34] katbow commented on #506
technical tasks:
- [ ] Add edit functionality to posts T1h
- [ ] Only admins can access edit functionality T2h
    - [ ] Use admin role, add manually to chosen users on site
- [ ] Bookmark icon & functionality T1h

[2017-04-25 15:35] indiamindwave24 opened #507 "HL logo not centred"
<img width="769" alt="screen shot 2017-04-25 at 4 34 50 pm" src="https://cloud.githubusercontent.com/assets/25007700/25394081/2d8016fe-29d5-11e7-9f22-93f6e05ed343.png">

[2017-04-25 15:35] katbow commented on #367
@indiamindwave24 I'm moving the last 2 criteria to #491 so I can estimate this easier.

[2017-04-25 15:43] katbow opened #508 "Explore more tips section"
+ [ ]  Add 'Explore more tips:' and links to 5 #categories

+ [ ]  add a good amount of space between the two offers at the bottom of the page (explore and goal)

[2017-04-25 15:46] katbow commented on #508
@indiamindwave24 can you verify priority label & position in sprint for these ones?

[2017-04-25 15:48] katbow commented on #492
@indiamindwave24 the estimate here is just for the styling of the goals themselves & removing the back to toolkit link.

Changing the header title is a wider site issue so would be done separately (and would take more time).

[2017-04-25 15:53] katbow commented on #386
heh yeah it's a question.

[2017-04-26 09:06] indiamindwave24 commented on #386
Sorry for closing this prematurely — Please use the grey divider used between tip categories

[2017-04-26 09:08] indiamindwave24 commented on #468
@katbow The hover for log inout does not appear as on the rest of the site, the opacity seems to be altered.
<img width="128" alt="screen shot 2017-04-26 at 10 06 31" src="https://cloud.githubusercontent.com/assets/25007700/25426805/38a46178-2a68-11e7-896d-c5c02fa4fd7f.png">

[2017-04-26 09:11] indiamindwave24 opened #509 "Header title of sections"
- [ ] As a user I would like to see where I am on the site in the header and use this to navigate back.
![image](https://cloud.githubusercontent.com/assets/25007700/25426894/a19b8620-2a68-11e7-9ccc-62a1e3b8ea81.png)
- [ ] As a user I will only see the healthlocker logo in the header when I am logged out.

[2017-04-26 09:11] indiamindwave24 commented on #509
@katbow can you please time estimate this?

[2017-04-26 09:11] #421 closed

[2017-04-26 09:16] indiamindwave24 commented on #489
@katbow If the goal/coping strategy has been marked as important, this should also show on this page (below the check boxes)

[left aligned]
marked as important *(star icon)

[2017-04-26 09:32] indiamindwave24 commented on #503
ok 👍

Is it okay @katbow if I drop all icons in one zip file here?

[2017-04-26 09:34] katbow commented on #509
@indiamindwave24 done

[2017-04-26 10:00] katbow commented on #468
@indiamindwave24 I have this changed in another branch (along with the kerning) - will let you know when it's merged in & ready to check

[2017-04-26 10:06] katbow commented on #506
@indiamindwave24 can you upload that image again when you have a moment?

[2017-04-26 10:06] indiamindwave24 commented on #503
[PNG_Icons.zip](https://github.com/healthlocker/healthlocker/files/957974/PNG_Icons.zip)

[2017-04-26 10:08] katbow commented on #489
@indiamindwave24 coping strategies don't have this functionality - it was only requested for goals.

[2017-04-26 10:08] indiamindwave24 commented on #506
done 👍

[2017-04-26 10:12] indiamindwave24 commented on #489
Apologies - yes this is complete :)

[2017-04-26 10:12] #489 closed

[2017-04-26 10:15] indiamindwave24 opened #512 "Padding beneath Header"
The padding beneath the header is much larger (left) than our designs (right), please reduce. On our designs it is 27px

<img width="777" alt="screen shot 2017-04-26 at 11 14 21" src="https://cloud.githubusercontent.com/assets/25007700/25429641/917db71e-2a71-11e7-933c-287fa7cd4a45.png">

[2017-04-26 10:19] indiamindwave24 commented on #509
I cannot see it @katbow -- having 'tooklit' (for example) in header instead of HL logo?

[2017-04-26 10:25] indiamindwave24 commented on #429
@tonydaly I have put all the icons for the site in a zip file
[PNG_Icons.zip](https://github.com/healthlocker/healthlocker/files/958040/PNG_Icons.zip)

[2017-04-26 11:27] iteles commented on #509
@indiamindwave24, @katbow was referring to the time estimate rather than the resolution itself 😊

[2017-04-26 11:48] iteles opened #513 "Phone number - do we want to bring in phone number from ePJS?"
Phone number is currently option in Healthlocker so we have a couple open questions on this:
+ Do we want to bring in phone number data from ePJS?
  + If so and it is different from the phone number data in HL, which one takes precedence and is seen as the correct one?

[2017-04-26 11:50] iteles opened #514 "Clinician SU view | Details & Contacts"
As a clinician, I want to see the contact details for the service users in my caseload so that I can contact them if I wish.

_**NB.** For now, this will include the details below until the issue has been fleshed out - I suggest this is done in a separate, add-on issue linked to the epic #385._

+  [x] Forename + Surname (from fake ePJS, name optional in HL)
+  [x] DOB (from fake ePJS)
+  [x] NHS

[2017-04-26 11:53] iteles opened #515 "Clinician SU view | Goals & Coping strategies *from Healthlocker*"
As a clinician, I want to see the goals and coping strategies created by the service users in my caseload within HL so I can see any that they have created outside of our sessions and contact them if necessary.

[2017-04-26 11:55] Cleop commented on #491
(I've not finished the positioning yet)

@indiamindwave24 - the unselected star icon doesn't seem to be as thick as the version Mollie showed, is this what you had envisaged?

<img src="https://cloud.githubusercontent.com/assets/16775804/25433133/43344f74-2a7f-11e7-8452-87018e2cb564.png" width="200px" />

Whereas Mollie showed this:
<img src="https://cloud.githubusercontent.com/assets/16775804/254

[2017-04-26 11:56] iteles opened #516 "Clinician SU view | Goals & Coping strategies *from ePJS*"
As a clinician, I want to see the goals and coping strategies I created for the service users in my caseload on ePJS so I can have a holistic view of their goals & coping strategies (including the ones they create themselves within HL #515 ).

[2017-04-26 11:59] iteles opened #517 "Clinician SU view | Trackers"
As a clinician, I want to see the tracker information input by the service users in my caseload within HL so I can see how they have been doing and contact them if necessary.

Format of this view TBD.

NB. At the time of this issue creation, only the sleep tracker exists.

[2017-04-26 12:01] iteles commented on #385
The time estimate originally on this issue referred to only #514 and #515 - I have therefore turned this issue into an epic, linked the issues in the top/original comment and added the time estimates to the individual issues.

[2017-04-26 14:49] indiamindwave24 commented on #491
[stars.zip](https://github.com/healthlocker/healthlocker/files/958801/stars.zip)
Is this any better? If not, do feel free to go into the SVG file and edit the line thickness

[2017-04-26 15:00] katbow commented on #506
@indiamindwave24 for the bookmark icon:

I have added it in now, however it is currently positioned at the top left of the story. (this isn't on the main site yet).
This is because the solutions to lower it in line with the image were quite hacky & would not work in situations without an image - > in those cases the bookmark was overlaying the story text.

If there will **always** be an image, it

[2017-04-26 15:35] iteles commented on #340
Discussed this with @katyedwards and @indiamindwave24 on 25-April-2017, concluding that until there is ePJS data, there is no point in a deployment to Azure.

Currently, as much background work (including a test deployment) has been done as possible at this stage. If we move to Azure now, we'll lose all of the benefits of working with heroku earlier than necessary) so we will keep this as a task f

[2017-04-26 15:52] indiamindwave24 commented on #506
Are you able to provide a screenshot? @katbow

[2017-04-26 15:59] katbow commented on #506
![image](https://cloud.githubusercontent.com/assets/1287388/25444035/ad5b32ce-2aa1-11e7-8f43-30417cf5a01f.png)

[2017-04-26 16:01] katbow commented on #506
here's the problem I described if I move it down (in the one without the image)
![image](https://cloud.githubusercontent.com/assets/1287388/25444145/09e1f866-2aa2-11e7-8756-9695b544bc30.png)

[2017-04-26 16:07] indiamindwave24 commented on #431
![toolkit_mood](https://cloud.githubusercontent.com/assets/25007700/25444394/dab48e40-2aa2-11e7-815e-e3311c701d39.png)

[2017-04-26 16:09] indiamindwave24 commented on #506
Yes it is okay at the top left

--- it would be IDEAL if at the top it could align with the image or the padding reduced slightly as it seems to be really floating there but overall much better :)

(like the circular images!)

[2017-04-26 16:26] indiamindwave24 commented on #434
If this sits as another icon in the grid then use this one :)
![toolkit_custom](https://cloud.githubusercontent.com/assets/25007700/25445119/6968679a-2aa5-11e7-9414-c21854f4cb30.png)

@MollieCourtenay

[2017-04-26 16:40] Cleop commented on #508
Almost a replica of #482?

[2017-04-26 16:42] katbow commented on #508
Yeah my bad. We can close this as duplicate & move that into the sprint in place

[2017-04-26 16:42] #508 closed

[2017-04-26 16:59] Cleop commented on #491
- At the moment 'mark as important' does not change to 'unmark as important' when star is filled.

[2017-04-27 07:24] katyedwards commented on #513
Can we pull phone number through from ePJS, but if they don't match then give the one they have entered into HL precedence in case they have updated their phone number and not told their care team yet.

This gives Clinicians the option to view both (1 in ePJS and 1 in HL) and discuss with the SU which to use.

Also won't piss off the SU if they have got a new number which they enter into HL, then

[2017-04-27 10:06] Cleop commented on #354
@indiamindwave24 - do we have a copy of the new yellow arrow yet? I want to do the issue but I don't know where the new arrow is.

[2017-04-27 10:44] iteles opened #524 "Prepare Healthlocker demo logins and flows"
For future demos, it would be good to have a script to follow which would show off the capabilities of the application along with the necessary logins to do so.

[2017-04-27 10:46] indiamindwave24 commented on #482
👍

[2017-04-27 10:46] #482 closed

[2017-04-27 10:47] indiamindwave24 commented on #364
The padding above this flash message seems to have been removed @Cleop <img width="884" alt="screen shot 2017-04-27 at 11 46 05 am" src="https://cloud.githubusercontent.com/assets/25007700/25480098/3961abf2-2b3f-11e7-9f9a-0a2ddbde4816.png">

[2017-04-27 10:48] indiamindwave24 commented on #492
Yay! :1st_place_medal:

[2017-04-27 10:48] #492 closed

[2017-04-27 10:49] indiamindwave24 commented on #507
Much better for my eyes 💃

[2017-04-27 10:49] #507 closed

[2017-04-27 10:51] indiamindwave24 commented on #491
@Cleop As discussed yesterday, the outline on the star is too thin - Shall I remake the SVG or can this be done at your end? Or is the one I see on the site not the most up-to-date?
<img width="657" alt="screen shot 2017-04-27 at 11 50 18 am" src="https://cloud.githubusercontent.com/assets/25007700/25480216/c207310c-2b3f-11e7-8048-b1bf134bf419.png">

[2017-04-27 10:53] Cleop commented on #491
@indiamindwave24 the version you can see is the revised svg you sent across. It would be great if you could send us a thicker version!

[2017-04-27 10:59] katyedwards commented on #491
@cleop Yes, please go ahead as you suggest with 'Star as Important'

[2017-04-27 13:37] indiamindwave24 commented on #491
[star_unselected_01-42.svg.zip](https://github.com/healthlocker/healthlocker/files/961726/star_unselected_01-42.svg.zip)
@Cleop

[2017-04-27 13:43] iteles opened #526 "Seed sleep data for live HL"
@katbow As discussed, could you please add seed sleep data to the production site for our Evan user?

3 weeks of data (at least one week with some no-data days) would be perfect 👍

[2017-04-27 15:18] indiamindwave24 commented on #354
yes this is okay

[2017-04-27 15:21] Cleop commented on #491
New version: <img src="https://cloud.githubusercontent.com/assets/16775804/25490299/55b6d1fe-2b64-11e7-94fa-4effbce0b266.png" width="200px"/>

[2017-04-28 07:06] iteles opened #532 "Carers | NHS number tooltip redirects to the wrong place"
Currently the [tooltip against the NHS number](https://www.healthlocker.uk/pages/nhs_help) in the ['Carer Connect' screen](https://www.healthlocker.uk/slam/new) screen redirects to the 'Connect my SLaM account screen' when closed instead of back to the Connect screen.

Placing a high priority on this as it's extremely misleading and very likely to happen!

[2017-04-28 07:08] iteles opened #533 "Better endpoint for connecting to care team endpoint?"
Currently our endpoint for an SU connecting to their SLaM account is https://www.healthlocker.uk/account/slam
and the endpoint for connecting to someone as a carer is https://www.healthlocker.uk/slam/new

Could we make the latter a little clearer/consistent?

[2017-04-28 07:18] iteles commented on #526
@katbow Doesn't look like this is showing in live for me yet!

[2017-04-28 07:37] #524 closed

[2017-04-28 10:31] katbow commented on #526
I realised I hadn't run the seed yet for it 😬 . should be good now for Evan.

[2017-04-28 10:32] katbow opened #535 "Second clinician data"
add in second clinician with log in details & patients - overlap one patient (Evan)

[2017-04-28 11:56] katbow opened #537 "Toolkit icons"
ahead of demo prep, switch to new toolkit icons

[2017-04-28 13:30] #537 closed

[2017-04-28 13:30] katbow commented on #535
trudy_braun@nhs.co.uk has been added in as a clinician 👍

[2017-04-28 13:30] #535 closed

[2017-04-28 13:39] katyedwards commented on #514
All working thanks!

[2017-04-28 13:39] #514 closed

[2017-04-28 14:10] indiamindwave24 commented on #474
@katbow the images still take a long time to load - are these the new PNGs?

[2017-04-28 14:11] katbow commented on #509
@indiamindwave24 I'm going to close this as duplicate of #466 and move that into this sprint

[2017-04-28 14:11] #509 closed

[2017-04-28 14:11] indiamindwave24 commented on #468
👍

[2017-04-28 14:11] #468 closed

[2017-04-28 14:13] indiamindwave24 commented on #475
great 👍

[2017-04-28 14:13] #475 closed

[2017-04-28 14:13] #479 closed

[2017-04-28 14:13] #505 closed

[2017-04-28 14:15] indiamindwave24 commented on #441
@katbow Should I open the mobile stacking as a new issues?

[2017-04-28 14:27] #357 closed

[2017-04-28 14:28] katbow commented on #333
fixed the ordering

[2017-04-28 14:28] #333 closed

[2017-04-28 14:32] #144 closed

[2017-04-28 14:37] katbow opened #539 "Change images to pngs to decrease loading time"
links to #474

png icons here
[PNG_Icons.zip](https://github.com/healthlocker/healthlocker/files/964622/PNG_Icons.1.zip)

see #503

[2017-04-28 14:39] katbow commented on #474
not yet - only the toolkit has been changed.

I opened up a separate issue #539 for images in general. If you are happy the logos have been styled how described in the acceptance criteria, this can be closed as we will have the other issue to refer to for image loading times

[2017-04-28 14:49] katbow commented on #441
yes please, that'd be great 🙂

[2017-04-28 14:51] katbow commented on #506
@katyedwards @indiamindwave24 when testing this, if you could please verify that you have the ability to edit posts to look as required, that'd be great!

[2017-04-28 14:53] #512 closed

[2017-04-28 15:40] katyedwards commented on #506
Hi @katbow all working great so far, but I was wondering about centering the story titles too and wasn't sure how to do that - @indiamindwave24 what do you think?

[2017-04-28 15:52] katyedwards commented on #429
Have been testing and this definitely seems better.  @katbow you removed the please-test label, does this mean you're still tinkering with it?  If not, I think it's ok to close!

[2017-04-28 15:55] katbow commented on #506
@katyedwards if you wanted it centred, bold, same size as rest of text you would do:

`<p class="b tc">Title here</p>`

[2017-04-28 15:57] katbow commented on #429
@katyedwards I realised there was one icon that still needed to be changed to png 🙂 . It will be in the next pull request, so if you'd like you can wait until I have that in, or close now if it's already looking better. It will be going in for certain either way!

[2017-04-28 15:58] katyedwards commented on #506
Will that still be h2 size?

[2017-04-28 16:01] katbow commented on #506
That's the same size as the rest of the text, but bold which looks like the requirement for @indiamindwave24's styleguide?

If you would like the h2 size & centred it's similar. It would be:

`<h2 class="tc">Title here</h2>`

[2017-04-28 16:02] katyedwards commented on #429
Sure, no problem!  I'll close it now because I don't get to do that very often!

[2017-04-28 16:02] #429 closed

[2017-04-28 16:03] katyedwards commented on #506
Ahhh ok - when I did the original styling I did ## styling

[2017-04-28 16:03] katyedwards commented on #506
I'm happy then - @indiamindwave24 do you want to check and close this one as it's styling...

[2017-05-02 08:35] katbow commented on #532
This should be good now @iteles. Can you check it out?

[2017-05-02 09:29] #386 closed

[2017-05-02 09:29] #485 closed

[2017-05-02 09:32] indiamindwave24 commented on #506
It doesn't seem to be the same size as title '5 ways to wellbeing' @katyedwards ? but it can be left aligned :D

[2017-05-02 09:48] indiamindwave24 commented on #367
Would it me useful for me to create the stars as PNGs (also checkboxes) - there is a relatively long loading time @katbow

[2017-05-02 09:50] indiamindwave24 opened #541 "Mobile layout of homepage"
As a user, I see the icons for each tip category stacked above the description text ON MOBILE

Stack the icons above the '5 ways of wellbeing' descriptions - makes everything less squished and, if centered, avoids the alignment issues.
![iphone_home](https://cloud.githubusercontent.com/assets/25007700/25613161/344e13e6-2f25-11e7-8f78-87cc409f71f0.png)

[2017-05-02 09:51] indiamindwave24 commented on #364
👍

[2017-05-02 09:51] #364 closed

[2017-05-02 09:52] #323 closed

[2017-05-02 09:52] #318 closed

[2017-05-02 09:54] #474 closed

[2017-05-02 09:56] nelsonic commented on #387
Still seeing the issue ...
![image](https://cloud.githubusercontent.com/assets/194400/25613094/e875ad26-2f24-11e7-87a5-c8809ac836cb.png)

Do we have time to investigate it tomorrow morning?

[2017-05-02 09:57] #484 closed

[2017-05-02 10:00] indiamindwave24 commented on #420
Looks great! 💯

[2017-05-02 10:00] #420 closed

[2017-05-02 10:01] indiamindwave24 commented on #472
👍

[2017-05-02 10:01] #472 closed

[2017-05-02 10:03] #441 closed

[2017-05-02 10:04] #469 closed

[2017-05-02 10:05] #477 closed

[2017-05-02 10:05] #480 closed

[2017-05-02 10:10] katbow commented on #490
@indiamindwave24 I just realised this new styling has no option to delete the goal. Where should this go?

[2017-05-02 10:19] indiamindwave24 commented on #490
@katbow deleting a goal should sit within the edit area as an
- underlined link
- right aligned
- in line (if possible, if not above 'what do you want to achieve)

[2017-05-02 10:20] katbow commented on #367
yes please - they can all go into the #539.

If you're happy with the styling of this overall besides that then it can be closed 🙂

[2017-05-02 10:23] #367 closed

[2017-05-02 10:27] indiamindwave24 commented on #539
![bookmark_selected](https://cloud.githubusercontent.com/assets/25007700/25614556/5d3e2f5c-2f2a-11e7-8d00-f2f09eb907b1.png)
![bookmark_unselected](https://cloud.githubusercontent.com/assets/25007700/25614557/5d417932-2f2a-11e7-8bd2-4bcd001997ee.png)
![star_selected](https://cloud.githubusercontent.com/assets/25007700/25614558/5d43947e-2f2a-11e7-9d60-5e7e8bbbfce1.png)
![star_unselected](https://clo

[2017-05-02 10:30] nelsonic commented on #387
Found a good "lead" on Redit of all places:
https://www.reddit.com/r/phoenixframework/comments/4dyrpw/how_do_i_use_websockets_on_heroku_with_phoenix/

[2017-05-02 10:50] nelsonic commented on #122
![basic overview of tech](https://cloud.githubusercontent.com/assets/194400/24954957/630d0ae0-1f79-11e7-8d69-9f7cc22092ae.png)

[2017-05-02 11:29] indiamindwave24 opened #543 "Toolkit Button Styling"
As a user I would like the buttons on the toolkit page to have the same styling as the rest of the site

[2017-05-02 11:30] katbow commented on #516
see #45 for designs

[2017-05-02 11:31] indiamindwave24 opened #544 "Text Box Font - Sleep, Problem & Diary"
As a user, I would like the font in the text input box to be the Century Gothic, as on the rest of the site.
<img width="851" alt="screen shot 2017-05-02 at 12 30 51 pm" src="https://cloud.githubusercontent.com/assets/25007700/25616184/34cc36d2-2f33-11e7-932e-a03787da4b59.png">

**This needs to be applied for:**

- [x] Sleep Tracker - Notes Box
- [x] Problem Tracker - Notes Box
- [x] Diary Entry B

[2017-05-02 11:36] katbow opened #545 "Reformat NHS number"
NHS number is all digits in the form XXX XXX XXXX.

Need to remove spaces when input/have it input in particular format.

[2017-05-02 11:48] katyedwards commented on #465
Great - very happy and we can now edit styling as needed.

[2017-05-02 11:48] #465 closed

[2017-05-02 11:49] katbow opened #546 "Add placeholder messaging tab for clinicians"
The messaging tab should exist and say "Messaging coming soon" so even if the functionality is not present, it can be added in to this section.

need to log in as robert_macmurray@nhs.co.uk to view this, and click on connected patient.

[2017-05-02 11:49] katyedwards commented on #506
All good - will edit styling etc if/as needed

[2017-05-02 11:49] #506 closed

[2017-05-02 11:49] iteles commented on #275
The carers now see their carers and and who their care team is. Need to implement the second half of this in sprint 11 around adding this view to the SU pages.

[2017-05-02 11:55] katyedwards commented on #354
Closing this issue as primary requirements for now have been achieved - how to display carer's on the clinician caseload will be opened as a separate issue

[2017-05-02 11:55] #354 closed

[2017-05-02 11:55] iteles commented on #176
Discussed flow with @katyedwards and agreed the flow would be have no security question on the 2nd screen.

[2017-05-02 11:58] katyedwards commented on #515
Yes, all displaying thanks!

[2017-05-02 11:58] #515 closed

[2017-05-02 12:04] iteles commented on #466
Agreed with @katyedwards that this would be deprioritised out of sprint 11 for now.

[2017-05-02 12:05] katbow opened #547 "Delete goals"
from @indiamindwave24 in #490

deleting a goal should sit within the edit area as an
- underlined link
- right aligned
- Above 'what do you want to achieve'

@katbow have edited this to say above 'what....' so it works on all screen sizes.
and created a new issue for delete coping strategy.

How should this look for coping strategies? #554

[2017-05-02 12:08] iteles commented on #503
Moving out of sprint and using #539 as placeholder in sprint 11

[2017-05-02 12:10] iteles commented on #488
+ [ ] Change title
+ [ ] Left align text

[2017-05-02 12:17] iteles commented on #38
Removing from milestones until we have access to ePJS and can complete the second portion of this.

[2017-05-02 12:18] katbow opened #548 "Use ePJS first and last name in caseload"
Since name is optional (and does not need to be first & last), use the Forename & surname provided by ePJS in the clinician caseload list.

[2017-05-02 12:27] iteles commented on #28
@katyedwards We've dealt with everything other than C4C on this because we still need further discussion here. Could we please open a separate issue on this and test the current issue?

[2017-05-02 12:30] katbow commented on #439
see #442 for styling

[2017-05-02 12:31] katbow commented on #442
see png_icons for SLaM logo

[2017-05-02 12:38] katbow opened #549 "Spike for generating calendar additions"
Need to know the complexity around generating a link (?) for adding a date to a calendar automatically (e.g. add event to gmail, etc).

TODO add screenshots from event brite

[2017-05-02 12:40] katbow opened #550 "Review current analytics"
Review with Mollie & Katy to go over what we already have, anything that is missing and we may need. (for Tuesday)

[2017-05-02 12:41] tonydaly commented on #549
Might be able to use this Elixir lib to generate iCal files: https://github.com/lpil/icalendar

[2017-05-02 12:41] indiamindwave24 opened #551 "Coping strategy styling"
As a user, I should see the coping strategies formatted similar to the rest of the site.

- [ ] Title 'Edit coping strategy' should be dark blue, not grey
- [ ] Text in text boxes should be correct font
- [ ] Subtitles (eg. Note down an action you can take to stay well.) should be left aligned
- [ ] All description text should be left aligned
- [ ] Padding should be consistent with rest of site (e

[2017-05-02 12:52] #532 closed

[2017-05-02 13:43] katyedwards commented on #526
Yes- all displaying nicely thanks!

[2017-05-02 13:43] #526 closed

[2017-05-02 13:59] katyedwards commented on #491
Done - thanks!

[2017-05-02 13:59] #491 closed

[2017-05-02 14:01] katyedwards commented on #176
@MollieCourtenay Jump in if there is a particular reason for needing the security question to generate a reset password link to email but this seemed sensible for a first iteration.

[2017-05-02 14:02] katyedwards commented on #466
@MollieCourtenay for the length of time this would take to implement, it didn't seem like the best use of time for this week's work, but can always be added in later if more sprints are added.

[2017-05-02 14:03] katyedwards commented on #490
Closing this issue as the original requirements have been completed aside from the 'delete' button which has been added as a new issue.

[2017-05-02 14:03] #490 closed

[2017-05-02 15:23] katyedwards commented on #28
@iteles the C4C stuff seems to already be split out into other issues - #60 #120 #129 so I think this can be closed now and we leave them as a separate topic.

The only other thing we're missing is #118 and the actual ePJS connection, but we have so many issues around that so I think we close this one now.

Does that sound right?

[2017-05-02 16:14] katbow commented on #28
@katyedwards yes, definitely covered in #120 & #129 ! Thanks for linking those ones here

[2017-05-02 16:40] katyedwards commented on #28
Thanks @katbow will close this one then and we'll carry on with the other C4C issues

[2017-05-02 16:40] #28 closed

[2017-05-03 09:25] katbow commented on #551
@indiamindwave24 I'm going to close this as duplicate of #488 and move this more detailed criteria to there 👍

[2017-05-03 09:25] #551 closed

[2017-05-03 09:25] katbow commented on #488
from @indiamindwave24 in #551:

As a user, I should see the coping strategies formatted similar to the rest of the site.

- [ ] Title 'Edit coping strategy' should be dark blue, not grey
- [ ] Text in text boxes should be correct font
- [ ] Subtitles (eg. Note down an action you can take to stay well.) should be left aligned
- [ ] All description text should be left aligned
- [ ] Padding should be

[2017-05-03 10:12] katyedwards commented on #271
Hi @katbow could you do us a rough time estimate for this one so we can see if it's worth prioritising - it could be helpful for demoing if we can disconnect and re-connect users and aside from this is an option that users wanted.

[2017-05-03 10:18] katbow commented on #271
@katyedwards there you go 🙂

[2017-05-03 10:21] katbow commented on #547
time estimate is for goals only right now since that part is lacking information - probably best to have coping strategies in different issue.

[2017-05-03 11:03] MollieCourtenay opened #554 "Delete link within Edit coping strategy"
'Delete' link should sit within the edit coping strategy page as an
- underlined link
- right aligned
- above 'Note down an action you can take to stay well.'

[2017-05-03 11:23] MollieCourtenay commented on #275
@katbow I logged in as me, then account, Connect with the SLaM care team of someone I care for, entered Evan's details, connected, and now I have Care team menu item.

Is there anything else I am meant to try?

[2017-05-03 11:33] katbow commented on #275
Ahh so before this, we only had the care team showing in the burger menu for carers. Second half was showing this for SLaM SUs as well, and adding the message item in the menu on the care team page.

So if you log in as Evan (who is a SLaM SU), care team will be in the menu for him as well.

[2017-05-03 11:34] katbow commented on #275
Also welcome back 🙂  🙌  🎉

[2017-05-03 11:35] MollieCourtenay commented on #41
@katbow not sure who was working on this - but the box is ticked even thought the bookmarking is only available for stories - and not tips also?

Was there discussion around this?

[2017-05-03 11:41] MollieCourtenay commented on #513
@iteles if / when the mini API that advanced have build for epjs is implemented at SLaM we could have an opportunity to update a users phone number / address / email from HL into epjs.
As this is still unlikely to happen anytime soon - lets, as Katy said, stick with he number the user enters themselves and leave at that.
There is an issue about highlighting IF the number is different from HL to EP

[2017-05-03 11:45] MollieCourtenay commented on #275
Thank you @katbow .  :)
What's Evans email address? Katy told me on the phone earlier but i've forgotten sorry.

[2017-05-03 11:45] katbow commented on #41
@MollieCourtenay sorry, that box was ticked previously when it still said "Like".

They were removed from the styleguide for tips section #483. There wasn't discussion around it, but I think what happened was the tips were styled independently from the guide in that issue and had the likes section removed. After that, the icon was updated for what was already in place (so only stories at that poin

[2017-05-03 11:46] katbow commented on #275
evan@email.com 🙂

[2017-05-03 11:51] MollieCourtenay commented on #275
thanks - yep that works. @katbow

It looks like half of https://github.com/healthlocker/healthlocker/issues/277 is done.
Do you know whether it is still in sprint 10 as its nearly complete? or has it been left behind?
It is just ideally we would display the role and the name of the clinician as a minimum?

[2017-05-03 12:14] katyedwards commented on #271
Thanks @katbow
@MollieCourtenay half a day - where do you want to put this in the priorities?

[2017-05-03 12:31] MollieCourtenay commented on #176
@katyedwards @iteles  what was the agreed flow then?

In one of my older comments above, I had a thought about not needing to send an email link at all.
But by entering the correct security question - the user could reset their password... how did that feel - is it simpler to implement?

[2017-05-03 13:47] iteles commented on #176
@MollieCourtenay It's simpler to implement but in our experience, the probability of people remembering their security question is much lower than people remembering their password, so we agreed that it was worth investing the time at this stage to get the email link-through in if we can before the end of Friday.

[2017-05-03 14:03] katbow commented on #275
@MollieCourtenay There is a bit more detail we would need to add to the mock data. I will write it up on that issue with time estimates for what is left & we can go from there on what to action on.

[2017-05-03 14:09] katbow commented on #277
There is more data we will need to add to the mock ePJS tables for this.

The missing information currently is:
* Clinician role/job title
* email
* Tel_no

If we want the minimum of name + role displaying **only** on the page with the full care team list, then time estimate is T2h. With the second page of a single clinician view with more detail, it will be another 1-2 hours, so total it's around

[2017-05-03 14:22] katbow commented on #211
@MollieCourtenay picking this up now so I'm good to go when I get to this one..

The flow changed some since the original diagram for this was added. Since we have moved all editing functionality into edit now, should users only be able to mark goal as complete from the edit view?
Also confirming this is still with a section to mark as achieved, then with reflective notes?

@indiamindwave24 can we

[2017-05-03 15:02] MollieCourtenay commented on #176
@iteles  oh interesting. Does that make the security question redundant then?

[2017-05-03 17:02] MollieCourtenay commented on #488
looks good.

@katbow on mobile the content box is quite small. only shows 2 lines and the tops of the letters of the third line.
Can you please increase the default depth of the content box, as when adding new and viewing it feels too cramped.

[2017-05-03 17:03] MollieCourtenay commented on #275
@katbow ok ill close this one now  :)

[2017-05-03 17:03] #275 closed

[2017-05-03 17:05] #546 closed

[2017-05-03 17:10] MollieCourtenay commented on #308
@katbow they are where they need to be but they aren't standing out enough for me - ive asked India if she has a mo to make new icons.

[2017-05-03 17:12] MollieCourtenay opened #558 "menu: with care team added the Get support is stuck / no space below."
![img_2334](https://cloud.githubusercontent.com/assets/25012688/25672705/afe67c16-302c-11e7-9572-0e98a8308971.PNG)

[2017-05-03 17:18] katyedwards commented on #277
@MollieCourtenay How high would you prioritise this for the T2h version or T4h?

[2017-05-03 17:24] MollieCourtenay commented on #277
2 hour please, just name and role.

This is because clinicians should be given the choice as to whether their email is displayed - which will require more thought and time.

[2017-05-03 17:28] MollieCourtenay commented on #211
@katbow have edited the ACs to say mark as achieved is done within Edit screen only.
Would want to keep the option to add reflective notes.

[2017-05-04 07:16] MollieCourtenay commented on #308
@katbow just noticed we're missing the one for when a carer connects.

[2017-05-04 09:04] MollieCourtenay commented on #545
@katbow how can I test this?
Have you reassigned Evans NHS no?

[2017-05-04 09:09] katbow commented on #558
can you give me device/browser? When I looked at each device I could scroll down and there was space underneath get support.

[2017-05-04 09:11] katbow commented on #545
yup, if you log in as robert_macmurray@nhs.co.uk -> go to caseload -> click on a connected user, then their NHS number should be all digits as above.

[2017-05-04 09:11] MollieCourtenay commented on #558
@katbow iphone 5 s. safari.
Although there is LOADS of space there now.

[2017-05-04 09:13] MollieCourtenay commented on #545
Ah ok, yes i see:
NHS Number:
824 338 6647

Has this also been added to the user interface for when a SU / Carer connects and has to enter NHS number?

[2017-05-04 09:33] katbow commented on #558
Oh okay I see what the problem is. The nav bar was set to 100% of the height of the screen. On screens with a lot of content, this creates a lot of extra space, and on screens with not very much content, it gets cut off.

I have a fix where on the top it looks like this (notice it doesn't show the beta bar with the nav open anymore, but I didn't think that would be a problem):

![image](https://cl

[2017-05-04 09:50] MollieCourtenay commented on #558
@katbow, yep

[2017-05-04 09:58] MollieCourtenay commented on #481
The padding feels quite tight on smaller screens especially where the pink bits are - @indiamindwave24 what do you think?

![img_2339](https://cloud.githubusercontent.com/assets/25012688/25698849/8a1bd788-30b8-11e7-9bf4-865c761bcb37.PNG)

[2017-05-04 10:20] indiamindwave24 commented on #308
Updated tooltip icon: @katbow

[Tooltip.zip](https://github.com/healthlocker/healthlocker/files/975809/Tooltip.zip)

[2017-05-04 10:24] indiamindwave24 commented on #481
Agreed: I have mocked up new mobile view of this - what do you think @MollieCourtenay does this solves it as the icons help break up the page? https://github.com/healthlocker/healthlocker/issues/541

Although, happy to increase padding as it is quite tight

[2017-05-04 10:43] MollieCourtenay commented on #541
I think this looks good although a bit more padding between the end of each category introduction paragraph that ends with the question in italics, and the grey box holding the tip would help make the page feel less text heavy I think.

[2017-05-04 10:45] MollieCourtenay commented on #481
Ah yes. More padding would be good I think. I've added a new comment on that other issue when we get to it. It wasn't in sprint 11 though so no rush.

[2017-05-04 11:46] MollieCourtenay commented on #211
##Content

'Goal achieved' (instead of Mark as complete)

Reflective notes: (bold)
What went well? What problems did you have, how did you overcome them? How do you feel now?  (italics)

[2017-05-04 12:52] indiamindwave24 commented on #211
Page without goal completed:

- [ ] Goal icon unselected
- [ ] Delete button under save

<img width="1282" alt="screen shot 2017-05-04 at 1 45 32 pm" src="https://cloud.githubusercontent.com/assets/25007700/25704068/fb8d19ce-30cf-11e7-9775-10d9cd776c32.png">

When Goal icon is selected:

- [ ] Goal icon selected
- [ ] Reflection notes description
- [ ] Free text box for reflection notes

<img widt

[2017-05-04 12:53] indiamindwave24 commented on #41
<img width="1282" alt="screen shot 2017-05-04 at 11 04 10 am" src="https://cloud.githubusercontent.com/assets/25007700/25704357/ff8e297c-30d0-11e7-81bd-a99537d6e20b.png"> @katbow

[2017-05-04 12:54] indiamindwave24 commented on #541
@katbow Can this be implemented without me or should I mock it up?

[2017-05-04 13:02] indiamindwave24 commented on #211
The goal overview page including completed goals would look like this:

<img width="723" alt="screen shot 2017-05-04 at 10 47 43 am" src="https://cloud.githubusercontent.com/assets/25007700/25704648/3d5889d6-30d2-11e7-9910-b13cbf0660e0.png">

[2017-05-04 13:51] katbow commented on #439
![](https://cloud.githubusercontent.com/assets/25007700/25339786/b86a6556-28fb-11e7-8481-30c08fd40ebc.png)

Clarifying what needs to be done:
- [ ] increase margins (question below for this)
- [ ] Add dark blue line under first section
- [ ] Add & align images (question below)

If the margins are increased, this would only be done on one page. Here's a comparison for how it looks with current marg

[2017-05-04 13:53] indiamindwave24 commented on #439
I think we should keep the margins the same for consistency. Can you make the images smaller to fit with this? @katbow

[2017-05-04 14:03] MollieCourtenay opened #560 "Tracking: INPUT: custom symptom tracker"
As a user, I can type in a problem I experience, e.g. Paranoid thoughts, controlling my eating, then rate how much is affecting me on a scale 0 - 10.

### acceptance criteria
+ [x] As a user that has not yet named my problem, I can read what the problem tracker is, and be given some prompts for how I use it.
+ [x] As a user that has not yet named my problem, I can type in a problem I experience. A

[2017-05-04 14:05] MollieCourtenay opened #561 "Tracking: INPUT: daily diary"
As a user, I can enter a dairy entry each day.

+ [x] As a user, I can read an introduction to how a diary can be used.
+ [x] As a user, I see the diary icon, centred, between 'A diary can be used in lots of ways.' section and 'You may want to think about:' section.
+ [x] As a user, I can write a diary entry, I am prompted by some questions.
+ [x] As a user, I can save.
+ [x] As a user, I see a su

[2017-05-04 14:17] katbow commented on #439
![image](https://cloud.githubusercontent.com/assets/1287388/25707714/4c6f8668-30dc-11e7-9f75-dbe752070b10.png)

That's how it looks with the smaller images.

[2017-05-04 15:13] MollieCourtenay commented on #488
thanks!

[2017-05-04 15:13] #488 closed

[2017-05-04 15:18] MollieCourtenay commented on #308
Looking better thanks.

We need to add the tooltip and content for when a carer connects:

Connect with the SLaM care team of someone I care for (?)

To connect you will need to enter your full name and relationship to the person, as well as their First name, Last name, Date of Birth and NHS number, these details will be matched against their SLaM record - they must match perfectly.
Once the care

[2017-05-04 15:21] MollieCourtenay commented on #439
Looks good! @katbow

As long as the 'If you are staff at SLaM...' paragraph is at the same distance from the image as the top paragraph 'If you are a south london and maudsley....'

The third para looks further away from its image in the screenshot above.

[2017-05-04 15:31] MollieCourtenay commented on #278
@tonydaly the connecting as a carer to the care team form at the moment is missing the fields where the carer enters their own details:

First name, Last name, Relationship to the SU.

Just wanted to check in on your thinking/ plans around this?  As without this detail entered, how in messaging would the carers name display to the clinicians?
(I also mentioned to @iteles on the call just now, it w

[2017-05-04 15:33] MollieCourtenay commented on #558
Ive still got the same problem tried on two different iphone 5s safari.

[2017-05-04 15:56] MollieCourtenay commented on #545
I connected with Evans care team using his new NHS number, and the same for Lisa on a different account and it worked.

[2017-05-04 15:56] #545 closed

[2017-05-04 16:19] MollieCourtenay opened #563 "Researcher advertisement: view"
As a user, I can view a random research opportunity at the bottom of the home screen.

Title, and first 50 words.

I can click to Read more. -  just like stories.
I can click on a button to 'See more research opportunities'  -  just like stories.

[2017-05-04 16:19] MollieCourtenay commented on #563
@iteles FYI as discussed on the phone - just added as a new issue in backlog.

[2017-05-04 16:44] katbow commented on #545
Great! I thought I had replied to this hours ago but I had just left it open without commenting, sorry for that. Thanks!

[2017-05-04 18:21] tonydaly commented on #278
@MollieCourtenay we're currently using the carer's name that they used when they created their Healthlocker account.

You're correct that the relationship field is missing, could you add a separate issue for that (should be small).

[2017-05-05 09:21] katbow commented on #541
I should be fine without the mock up with extra spacing.

[2017-05-05 10:02] katyedwards opened #565 "Add opt in to Monthly SLaM Comms emails"
From Stephen/ Adele - to be thought about at some point!

[2017-05-05 10:41] katyedwards opened #566 "As a user I am invited to sign up for C4C as part of the sign up journey"
### Acceptance criteria
+ [x] As a user, within the connect to SLaM form (for a service user only not a carer), I am invited to join C4C.

+ [x] I can decide whether to tick the join C4C box. Then Click save.

+ [x] When a user ticks this new C4C box, it does not actually do / influence anything, but save the answer (yes or blank) the database.

## Content
Are you interested in being contacted if

[2017-05-05 14:45] katbow commented on #211
@MollieCourtenay @indiamindwave24

In the goal overview page, there is the section that says "Achieved: DD/MM/YYYY" - there isn't anything in the database currently for a date it was achieved on. I can look into how long this might take to implement. Is there an alternative for this for the time being? I would suggest perhaps a heading that says "Achieved goals"

Also, there was a [discussion prev

[2017-05-08 06:49] MollieCourtenay commented on #211
@katbow A date for achieved in DB - would be good to have an estimate please.
This would be valuable.

As for the star as important the text now doesn't change between clicked and unclicked. So can we not do the same for achieved?

"Mark as achieved "

[2017-05-08 09:17] katbow commented on #211
One thing we could do for date achieved is there is an `updated_at` which automatically goes into the DB already which is changed anytime someone edits a goal. We could use this, because presumably goals won't be updated once someone has completed them (and we can see if this is an correct assumption with testing). That would be a reasonably quick implementation (about T1h).

Would you like the ti

[2017-05-08 09:38] katbow commented on #308
Ok, I'll add that in. I changed the time estimate to reflect this because I'll need to add the new page for this.

[2017-05-08 09:52] MollieCourtenay commented on #439
@katbow please see my comment above

[2017-05-08 09:56] MollieCourtenay commented on #211
@katbow  Yes please to the achieved goals title.

And what is the time estimate for adding a new date for achieved in DB?
We will need this in the future anyway so would be good to have an estimate and see if we can get it in.

[2017-05-08 09:59] MollieCourtenay commented on #483
lovely

[2017-05-08 09:59] #483 closed

[2017-05-08 10:41] katbow commented on #547
@indiamindwave24 I've added this in as per the design in #211

[2017-05-08 11:11] katbow commented on #439
@MollieCourtenay Oh sorry! I lost that in the list of commits.

Okay in that case there's 2 options. We can increase the space for the first & second, or decrease the space for the third. The third image is wider than the other 2 so there isn't much space between the image & text when the space is decreased for the third to match the first 2.

![decrease space](https://cloud.githubusercontent.com/

[2017-05-08 11:13] katbow commented on #211
Adding the `date_achieved` would be about T2h.

[2017-05-08 11:24] MollieCourtenay commented on #547
@katbow  Can there be a bit more space between Save and Delete - it is a bit close for thumbs on mobile.

[2017-05-08 11:25] MollieCourtenay commented on #211
@katbow    Shall I make a new issue for it? Or add it to this issue?

[2017-05-08 11:26] MollieCourtenay commented on #439
@katbow @indiamindwave24 can we not supply the two images with the same with? Just add some white space to the skinny one?

[2017-05-08 11:36] katbow commented on #211
If it's still the same higher priority than the rest below in this sprint, we can do it here and I will just update the time. If it's not as important as some of the other issues, then yes please open a new one & place it in the order for the sprint.

[2017-05-08 12:06] MollieCourtenay opened #569 "Carer connect to care team & record: Add fields to the form"
As a carer wanting to connect the to the care team of someone I care for, I am asked for me First name, Last name, and relationship to the user - so that I can be identified by the care team.

###Your details
First name
Last name

###Person you support
These details will be matched against their SLaM record - they must match perfectly. (REMOVE LINE BREAK)
First name
Last name
DOB
NHS number (?)
Yo

[2017-05-08 12:08] katbow commented on #271
@MollieCourtenay I was going with the same pattern we've been using of a different page instead of modal...is this okay, & how do you feel about styling of that page? This is what I have right now:

![image](https://cloud.githubusercontent.com/assets/1287388/25803489/0456cdd0-33ef-11e7-9d5e-8cc4395aec0c.png)

I wasn't sure if you wanted more text here to say about what happens if you disconnect yo

[2017-05-08 12:10] tonydaly commented on #569
Hey @MollieCourtenay still confused why we need to ask the carer for their first and last name when connecting. Is there a use case where the name entered here would be different from the name they used when signing up?

[2017-05-08 13:06] MollieCourtenay commented on #569
Hello, @tonydaly  Adding a name is optional at sign up. Someone may use a nickname. Some may not enter a name at all.

When connecting we'll ask for the actual name -  the clinician will want to know the carers actual name and relationship to the service user so they know who they are messaging.

[2017-05-08 13:13] MollieCourtenay commented on #211
@katbow I've added it to the ACS in this issue

[2017-05-08 13:13] tonydaly commented on #569
What was the reasoning for "Name" being optional in the account?

So on this form are "First name" and "Last name" required fields? If they're entered should we override the name the user entered (or didn't enter) when they signed up? Or keep them separate? If they're not separate should we prefill these fields with the name entered in their account?

I think it's going to be very confusing for us

[2017-05-08 13:19] indiamindwave24 commented on #439
Yes I will do this now @katbow @MollieCourtenay

[2017-05-08 13:30] indiamindwave24 commented on #439
[new_size_about_page.zip](https://github.com/healthlocker/healthlocker/files/983597/new_size_about_page.zip) @katbow

[2017-05-08 13:34] indiamindwave24 commented on #211
<img width="153" alt="screen shot 2017-05-08 at 14 33 49" src="https://cloud.githubusercontent.com/assets/25007700/25806536/6e5ce0aa-33fb-11e7-985c-da7b887439d9.png">

The icon is not centred on the line, can this be amended? @katbow

[2017-05-08 14:31] MollieCourtenay commented on #569
@tonydaly
The ask was to simplify the sign up experience as much as possible, so we removed the need for the user to supply first and last name as not all users will use HL as a connected to SLaM user - which is the only reason we'd NEED to know their name. It was left optional as in the designs there was a personalised welcome message - (Welcome 'name') which wasn't built.

To connect we need to

[2017-05-08 14:46] MollieCourtenay commented on #271
@katbow thanks for checking in with this. I like it, please can we just have this text in to be more explicit?

**Are you sure you want to disconnect your Healthlocker account?**
If you disconnect, you will no longer be able to send / receive messages with your SLaM Care team or see Care Plan updates in Healthlocker. Your Care team will no longer be able to view your tracking graphs or any new Goa

[2017-05-08 14:53] tonydaly commented on #569
Confused about one thing:

But in our previous conversations you mentioned:

So if there's no carer record in ePJS, what are we checking against? We currently don't model any carer information in ePJS.

---

I feel that "Name" is always going to be an essential piece of information (especially if we want to start communicating with users), so I'd definitely keep it.

Overriding the name works fine

[2017-05-08 15:04] MollieCourtenay commented on #569
@tonydaly    Yeah, you're right carers names we don't check - but carers and SUs use the same sign up form. so we need it to work for both user types.

I don't think users will always put in the correct full name on sign up. and so we will need to ask again when they connect...

We could ask for first and last name in sign up, then pre-populate those fields in the connect form, giving users the op

[2017-05-08 15:07] katbow commented on #439
@indiamindwave24 do you want the white space on the left side of the about carers image since it is  right aligned?

[2017-05-08 15:22] indiamindwave24 commented on #439
oops —
![carer-45](https://cloud.githubusercontent.com/assets/25007700/25811267/92dfd5e0-340a-11e7-9de3-34d1a18a295f.png)
@katbow

[2017-05-08 16:20] MollieCourtenay opened #572 "Get support: copy changes and additions"
https://docs.google.com/document/d/1qsvWbpy-9q9pUmu94cDpWSLvQKotiTTmXhzonpWTHis/edit

+ [x] Edit page title to 'Get support'
+ [x] remove word 'urgent' - to read 'If you need help you have lots of options:'
+ [x] remove word 'phone'  and add 'services'- to read 'Free 24-hour support services'
+ [x] add Local support subtitle
+ [x] edit **South London and Maudsley NHS Foundation Trust mental health

[2017-05-08 16:32] MollieCourtenay opened #573 "Add childline & Frank to get support"
**Childine:** 0800 1111 or [chat online to a counsellor](https://www.childline.org.uk/get-support/1-2-1-counsellor-chat/). (It’s confidential and you don’t have to give your name if you don’t want to.)

**FRANK:** 0300 123 6600 or [chat online 2-6pm](http://www.talktofrank.com/emergency-help) Or read [what to do](http://www.talktofrank.com/emergency-help) if a friend or relative is having a bad re

[2017-05-09 08:07] MollieCourtenay opened #575 "Sleep graph is still too big on desktop sized screens"
@katbow cant find an issue for this discussed a while back - have I missed it?

At the moment its so big its unreadable.

[2017-05-09 08:25] katbow commented on #558
Think that's got it now! The browser display of iphone wasn't showing the bottom menu that's on mobile safari which is the part that was covering it. I doubled the margin from the last time you viewed it 👍

[2017-05-09 08:34] katbow commented on #548
@MollieCourtenay you can test this by checking what the healthlocker name is for a SLaM SU (and even update it to first name only/no name if you like), and the clinician caseload will still have it listed as First + Last name.

[2017-05-09 08:38] katbow commented on #554
@MollieCourtenay should this now look like how it was outlined for goals?
On the edit screen, underneath Save, with the same margins?

[2017-05-09 09:07] iteles commented on #176
@MollieCourtenay Sorry, I missed this! Yes, in my experience, security questions aren't very useful for things like forgotten passwords (more of a hinderance in fact).

Their only (debatable) use is in creating a greater perception of security for things like banking logins.

[2017-05-09 09:20] MollieCourtenay commented on #554
Yes please.

[2017-05-09 09:23] MollieCourtenay commented on #547
@katbow getting internal server error for goals on my iPhone 5s. Safari.

Worked fine just 20 mins ago on a SLaM computer.  I.E.

[2017-05-09 09:30] MollieCourtenay commented on #439
@katbow
[ ] The links are breaking up the lines of text:

Healthlocker is a secure platform powered by the
South London and Maudsley Trust
that promote

And

Anyone can
sign up to Healthlocker to explore wellbeing tips and recovery stories and create

The images are so tiny on mobile.
Is this the same problem as the homepage tip icons. And therefore does it need a new issue to sort out stacking th

[2017-05-09 09:39] MollieCourtenay commented on #308
@katbow Yikes sorry gave you old version of tooltip content.

Please replace second paragraph with this:

Once you have successfully connected, you will be able to see the details of the SLaM care team and send / receive messages with the care team online.

[2017-05-09 09:40] #558 closed

[2017-05-09 10:03] indiamindwave24 commented on #439
I suggest we do as suggested for homepage and stack the images above the text (using original images not the aligned ones for yesterday) @katbow

[2017-05-09 10:13] MollieCourtenay opened #576 "Stack images in About for Mobile"
+ [x ] larger images in the same place on mobile#439

[2017-05-09 10:28] MollieCourtenay commented on #271
@katbow  I have internal server error when trying to connect as Evan Burns on my account.

ill log in as Evan and see if I can disconnect.

[2017-05-09 10:28] katbow commented on #547
@MollieCourtenay I fixed it now - it was because of goals that were previously marked as achieved without an achieved_at date. It probably worked at first because it was a different user logged in without any achieved goals. I reset the completion for goals that did not have an achieved_at date 👍

[2017-05-09 10:35] MollieCourtenay commented on #271
I wonder if there is a better way to word the Disconnect opportunity.

e.g.   Disconnect from SLaM

But happy to leave for now and see how people interpret it.

@katbow  Once the issue above is figured out - happy to close this one.

[2017-05-09 10:40] MollieCourtenay commented on #547
sweet

[2017-05-09 10:40] #547 closed

[2017-05-09 10:42] MollieCourtenay commented on #211
@katbow  When the goal is updated and saved, it is possible to redirect the user to the list of goals, rather than the view goal page.

As a user I save, and view, then have to click back to the toolkit, then on goals to view the list - which is not great.

[2017-05-09 10:52] indiamindwave24 commented on #211
@katbow I marked a goal as achieved yesterday and it appeared in the achieved goal section.

Today, the same goal is no longer marked as achieved? When I click 'mark as achieved' again, the text box is populated with my words that I put in yesterday...?

[2017-05-09 10:52] iteles commented on #325
Agreed we would hold off this feature until it comes back as a request from the actual users.
In the meantime, all clinicians who are assigned to the user will be able to interact with them over messages.

[2017-05-09 11:03] katbow commented on #211
@indiamindwave24 yes, sorry I talked to @MollieCourtenay about this in person & put it in #547 but not here where it matters! Goals that were previously marked as achieved did not have an `achieved_at` date which was causing an error. I reset any goals without an `achieved_at` date to not achieved (but didn't remove any reflection notes), so that when it is marked as achieved again, the date will

[2017-05-09 11:07] katbow commented on #539
@MollieCourtenay for this one it should all look the same, but the images should hopefully be loading faster now 🎉

[2017-05-09 11:07] indiamindwave24 commented on #539
I'm on a fast internet connection today but everything is loading super quick for me! :)

[2017-05-09 11:50] MollieCourtenay opened #578 "Tooltip: connect SU to SLaM"
Once your account has been connected you will be able to see the details of the SLaM staff you see,  and send / receive messages with them online.
Any interaction with your goals and coping strategies and any tracking data you add will be shared with your Care team.
Once connected you are able disconnect whenever you choose.

[2017-05-09 11:51] MollieCourtenay opened #579 "Update goals, redirect to goals list"
+ [x] When a goal is updated and saved, redirect the user to the list of goals, rather than the view goal page.

[2017-05-09 12:39] MollieCourtenay commented on #539
nice

[2017-05-09 12:39] #539 closed

[2017-05-09 13:37] tonydaly opened #580 "Travis version of PhantomJS"
We we're using the [`trusty` build](https://github.com/healthlocker/healthlocker/commit/fa8474d815db17e81757efd2209fffb501d96e60) on Travis to provide us with PhantomJS 2.1.1 (which is needed for our tests), however, in the latest version this seems to have changed, which is causing our build to fail.

There are lots of [discussions](https://github.com/travis-ci/travis-ci/issues/3225) around this

[2017-05-09 14:26] katbow commented on #576
Here's an example of larger images in the same place on mobile. Wanted to post it for you so you could compare 🙂

![image](https://cloud.githubusercontent.com/assets/1287388/25855651/b73255fa-34cb-11e7-8278-5f5d6606fe01.png)

[2017-05-09 14:52] MollieCourtenay opened #582 "Throughout HL: replace Name (optional) with First Name, Last name fields"
+ [x] As a user when I sign up to HL, I am asked to add my First Name and Last name (this should replace the Name (optional) field.

+ [x] As a user in Account, I see a First name and Last name field (this should replace the Name (optional) field.

+ [x] As a user when I am connecting to SLaM as a service user, I must enter my First name and Last name.

+ [x] As a user when I am connecting to SLaM

[2017-05-09 15:32] katbow commented on #569
I'm going to be splitting this into a few technical issues, but here's my overall plan for this:

* Add first & last name to HL db
* Add first & last name fields to carer connecting form
* Update this in HL when a carer connects
* Update from ePJS when SLaM SU connects & display in slam_connected account profile
* Change sign up form to accept first & last name
* Update name anywhere it's displaye

[2017-05-09 15:34] katbow opened #583 "Update name to first & last name in sign up"
for #569
We need to match the model we will be using from ePJS so that we can update the HL info, with info entered when connecting to SLaM.

Question about this for @MollieCourtenay:

Because we need to update to first name & last name split up and would be getting rid of the single name field, what do we need to do with the name data that is already on HL?

Since it is optional and mainly test u

[2017-05-09 15:42] katbow opened #584 "Update to first & last name for SLaM SU connecting"
For #569
The first and last name from epjs can be used to update HL names of a user connecting to SLaM.

The slam_connected profile can then display the updated first & last name.

- [x]  Update from ePJS when SLaM SU connects & display in slam_connected account profile
- [x] Do not allow SLaM SUs to update name in account profile

[2017-05-09 15:47] katbow commented on #582
@MollieCourtenay 2 questions for this:

1. Is the first & last name still optional on sign up?
1. Should name be editable still in account? Particularly for SLaM carer/SU? We can go the route we went with email and have it listed but as an uneditable field if we don't want them to change it.

[2017-05-09 15:56] #580 closed

[2017-05-09 16:04] MollieCourtenay commented on #582
@katbow
1. I'd say yes optional - what would you say?
2. First name and Last name should not be editable once connected to SLaM. IF not connected to SLaM can be editable.

[2017-05-09 16:08] MollieCourtenay commented on #579
yipee

[2017-05-09 16:08] #579 closed

[2017-05-09 16:18] MollieCourtenay opened #585 "Edit Beta feedback banner proposition"
**Healthlocker is in progress** - [share feedback and suggestions](url)

+ [x] change the copy. (make first bit bold)
+ [x] make the banner have a our pink background
+ [x] make text white.

[2017-05-09 17:14] MollieCourtenay commented on #576
@katbow I'd be happy to run with them that size for mobile if you can push that would be lovely.

[2017-05-09 17:20] #211 closed

[2017-05-10 07:39] MollieCourtenay opened #586 "Add disclaimer text to messaging for Carers"
As a user I see some text next to my input message text box so I understand the purpose and expected use of the messaging feature.

## Acceptance criteria
+ [x] Add copy (below) to the bottom of the messaging screen (who's care team, disclaimer text & link to get support and info about who will see my message and when)

+ [x] If I click on the Get support link within the disclaimer text, I am take

[2017-05-10 07:41] MollieCourtenay opened #587 "Add disclaimer text to messaging for service users"
As a service user I see some text next to my input message text box so I understand the purpose and expected use of the messaging feature.

## Acceptance criteria
+ [x] Add copy (below) to the bottom of the messaging screen (disclaimer text & link to get support and info about who will see my message and when)

+ [x] If I click on the Get support link within the disclaimer text, I am taken to Get

[2017-05-10 07:42] MollieCourtenay opened #588 "Messages from service users and carers can have max 550 characters"
to consider:
error messaging and treatment of what happens if the user reaches 550.
is 550 the right amount?

[2017-05-10 07:45] MollieCourtenay opened #589 "Messages: Clinician send a message to service user"
As a clinician, I can send a message to a service user's Healthlocker account, so that I can have a conversation outside of therapy sessions.

# Acceptance Criteria
+ [x] As a clinician, that has clicked to view a service users Healthlocker message screen, I am able to type into a message box, and click send.
+ [x] As a clinician, who has just sent a message, I see it displayed at the **bottom** o

[2017-05-10 07:48] MollieCourtenay opened #590 "Messages: Clinician view message(s) from Service User"
As a clinician, I can view a message feed between a service user and their care team (which includes me), so that I can see conversations happening outside of therapy sessions.

# Acceptance Criteria
+ [x] As a clinician, I see messages displayed - with most recent at the **bottom**.

+ [x] each message is time and date stamped according to when it was sent.

<img width="572" alt="screen shot 2017

[2017-05-10 07:51] MollieCourtenay opened #591 "Add disclaimer & expected usege text to messaging for Clinicians"
+ [x] As a clinician I see a statement in red underneath the text box that I input new messages into.

![clinician_messages](https://cloud.githubusercontent.com/assets/25012688/26210096/8c97ac9c-3be6-11e7-90af-efc0f8f2ff30.png)

## Copy:

**Please note: All service users and Family / friends / carers that send messages will see this statement:**

_Messaging should not be used in emergency situatio

[2017-05-10 07:53] MollieCourtenay opened #592 "Remove Connect to SLaM link IF user is connected as a carer OR Service user"
+  [x] as a user who is not connected I see two options to connect  (As a SU or carer)
+  [x] as a connected carer the link to be a SU is not visible to me
+  [x] as a connected service user the link to be a carer is not visible to me
+ [x] if i disconnect, both options are visible to me

[2017-05-10 07:55] MollieCourtenay opened #593 "Care team: Service user can see messages have been read by clinician(s)"
As a service user, I can see my message has been read by someone in my care team, so that I am reassured I have been heard.

## Acceptance Criteria
+ [ ] As a service user, looking at my message feed, IF a member of my care team has clicked 'read', then I see a filed tick box and 'Read' next to messages that I have sent to the care team I am connected to.

<img width="118" alt="read messages" src=